/*
.page-profil .profil-content .item .comment.zolo-custom-card-text{
	padding: 15px !important;
}

.zolo-custom-info-card{
	top: 135px !important;
}

.custom-zolo-more{
	padding: 10px !important;
}


.zolo-login-google-plus{
	background-color: #d34836 !important;
	color: #fff !important;
}
.zolo-login-facebook i{
	padding-right: 0 !important;

}

.zolo-login-google-plus i{
	padding-right: 0 !important;

}

.zolo-login-submit_btn{
	background-color: #78588C !important;
	color: #fff !important;
}


.zolo-login-submit_btn{
	width: 100% !important;
}


.background {
	position: relative;
	z-index: 1;
}
.background:before {
	border-top: 2px solid #dfdfdf;
	content: "";
	margin: 0 auto;
	/!* this centers the line to the full width specified *!/
	position: absolute;
	/!* positioning must be absolute here, and relative positioning must be applied to the parent *!/
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}
.background span {
	/!* to hide the lines from behind the text, you have to set the background color the same as the container *!/
	background: #fff;
	padding: 0 15px;
}
.background {
	margin-top: 30px;
	text-align: center;
}


.show-password{
	cursor: pointer !important;
	font-size: 15px !important;
}

/!*profile css*!/


.zolo-custom-info-card{
	top: 135px !important;
}

.custom-zolo-more{
	padding: 10px !important;
}

.zolo-card-user-location{
	margin-left: 15px;
	margin-right: 15px;
}

.card-price{
	margin-left: 20px;
	font-weight: 800;
	color: #78588C;
	font-size: 16px;
}

.card-by-user{
	margin-right: 20px;
	font-weight: 600;
}

.zolo-about-user{
	padding: 25px !important;
}


/!*search page*!/

.zolo-custom-card{
	padding: 20px!important;
}

.filter-main-heading{
	font-size: 20px;
	font-weight: 500;

}

.zolo-nav-filters{
	padding-top: 5px;
	font-size: 16px;
	margin-top: 17px;
	text-align: center;
	margin-left: 20px;
}

.zolo-nav-filters li{
	margin-left: 25px;
}


.redesigned_price_filter{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ededed;
	margin-top: 100px !important;

}

.search_filter{
	margin: 10px 0;
}
.zolo-sidebar-position{
padding-left: 5px !important;
}

*/



/*.custom-zolo-more {*/
	/*padding: 10px !important;*/
/*}*/



/*.custom-zolo-more {*/
	/*padding: 10px !important;*/
/*}*/

/*.card-price {*/
	/*margin-left: 20px;*/
	/*font-weight: 800;*/
	/*color: #78588C;*/
	/*font-size: 16px;*/
/*}*/

/*.card-by-user {*/
	/*margin-right: 5px;*/
	/*font-weight: 600;*/
	/*font-size: 12px;*/
	/*white-space:nowrap;*/
	/*text-overflow:ellipsis;*/
	/*overflow: hidden;*/
/*}*/

.zolo-login-google-plus {
	background-color: #d34836 !important;
	color: #fff !important;
}

.zolo-login-facebook i {
	padding-right: 0 !important;

}

.zolo-login-google-plus i {
	padding-right: 0 !important;

}

.zolo-login-submit_btn {
	background-color: #78588C !important;
	color: #fff !important;
}

.zolo-login-submit_btn {
	width: 100% !important;
}

.zolo-pdp-search-btn {
	margin: 40px !important;
}

.zolo-page-content-class {
	padding: 5px !important;
	top: 0 !important;
}

.zolo-about-user {
	padding: 15px !important;
}

.background {
	position: relative;
	z-index: 1;
}

.background:before {
	border-top: 2px solid #dfdfdf;
	content: "";
	margin: 0 auto;
	/* this centers the line to the full width specified */
	position: absolute;
	/* positioning must be absolute here, and relative positioning must be applied to the parent */
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}

.background span {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	background: #fff;
	padding: 0 15px;
}

.background {
	margin-top: 30px;
	text-align: center;
}

.zolo-custom-card {
	padding: 20px !important;
}

.filter-main-heading {
	font-size: 20px;
	font-weight: 500;

}

/*.zolo-nav-filters {*/
	/*padding-top: 5px;*/
	/*font-size: 16px;*/
	/*margin-top: 5px;*/
	/*text-align: center;*/
	/*!*margin-left: 20px;*!*/
	/*border-bottom: none;*/
/*}*/

/*.zolo-nav-filters li {*/
	/*margin-left: 25px;*/
/*}*/

/*.redesigned-price-filter {*/
	/*!*background-color: #fff;*!*/
	/*!*padding: 10px;*!*/
	/*!*border: 1px solid #ededed;*!*/

/*}*/

.search-filter {
	margin: 10px 0;
}

/*.price-user-container {*/
	/*padding-bottom: 5px !important;*/
/*}*/

/*.zolo-card-space {*/
	/*padding-bottom: 10px !important;*/
/*}*/

.zolo-card-hover-efect {
	-webkit-transition: box-shadow .3s ease-in-out !important;
}

.zolo-card-hover-efect:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;

}

/*.zolo-bg {*/
	/*background: url('/global/images/bg-zolo.jpg');*/
	/*background-attachment: fixed;*/
	/*background-size: cover;*/
	/*min-height: 650px;*/
	/*display: table;*/
	/*width: 100%;*/
/*}*/

/*.zolo-bg .main-title {*/
	/*text-align: center;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	/*margin: 0;*/
	/*!*font-size: 4.5vw;*!*/
/*}*/

/*.zolo-bg .main-title strong {*/
	/*color: #78588C;*/
/*}*/

/*.zolo-bg .main-title p {*/
	/*text-align: center;*/
	/*font-size: 20px;*/
	/*margin-top: 20px;*/
	/*line-height: 1.6em;*/
/*}*/

.zolo-pdp-page {
	margin-top: 100px;
}

/*.zolo-product-description {*/

/*}*/

.zolo-sidebar-position {
	padding-left: 5px !important;
}

/*.zolo-pdp-page {*/
	/*margin-top: 100px;*/
/*}*/

.zolo-pdp-description h3 {
	margin-right: 15px;
	margin-left: 15px;
}

.zolo-pdp-location {
	margin-left: 15px;
}

.zolo-pdp-tags {
	margin-right: 15px;
}

.zolo-pdp-review-header {
	font-size: 24px;
    margin-left: 10px;
}

.zolo-pdp-reviews .col-md-9 span {
	font-size: 18px;
}

.pdp-buy-sectiion {
	padding: 10px;
}

/*////////////Buy button on pdp page/////////*/


/*////////////Make an offer button on pdp page/////////*/
.zolo-pdp-make-offer-btn {
	width: 92% !important;
	padding-bottom: 40px !important;
	padding-top: 20px !important;
	font-size: 20px !important;
	text-align: center;
	color: #78588C !important;
	background-color: #fff !important;
	border: 1px solid #78588C !important;
}

.zolo-pdp-buy-btn2 {
	width: 40% !important;
	padding-bottom: 40px !important;
	padding-top: 20px !important;
	font-size: 20px !important;
	text-align: center;
	color: #78588C !important;
	background-color: #fff !important;
	border: 1px solid #78588C !important;
}

.zolo-pdp-more-info-user {
	padding: 10px;
	font-size: 15px;
}

/*.add-ons-hidden{*/
/*opacity: 0;*/
/*}*/
/*.add-ons-hidden:hover{*/
/*opacity: 1;*/
/*transition: all .5s ;*/

/*}*/

/*////////Material Checkbox Custom edit//////*/
.check {
	color: #78588C !important;

}

.zolo-user-img {
	margin: 10px 0;
}

.zolo-pdp-seller-profile {
	padding: 15px;
}

.zolo-pdp-seller-profile-heading {
	margin-left: 15px;
	margin-right: 15px;
}

.zolo-pdp-space {
	margin: 15px 0;
}

/*//////////dashboard/////////*/
.zolo-dashboard-profile-complete {
	text-align: center;
}

.dashboard-a-summary-heading {
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

/*//////////Material Card Custom Padding//////*/
.card {
	padding: 15px !important;
}

.account-summary-right-border {
	border-right: 2px dashed rgba(0, 0, 0, 0.1);
}

.price-number {
	color: #FF5722;
	font-size: 22px;
}

.zolo-wallet {
	font-size: 50px !important;
	text-align: center;
}

.zolo-wallet-price {
	color: #00a946;
	font-size: 20px;
	text-align: center;
}

.zolo-add-money {
	margin: 15px 0 !important;
	background-color: #78588C !important;
	color: #fff !important;
}

/*////////////For Carousel Background on pdp page///////*/
.slider {
	background-color: #fff !important;
}

/*///////custom padding for Navigation on Search page /////*/
.search-filter-custom-card {
	padding: 8px !important;
}

.sellers-info-details {
	padding: 0 !important;
	border-bottom: none !important;

}

.sellers-info-details li {
	text-align: center !important;
}

.nav-tabs {
	text-align: center !important;
}

.post-request-h-sub-heading {
	font-size: 20px;
	padding-bottom: 30px;
}

/*//////////////Remove border bottom from nav-tabs////////*/
.nav-tabs {
	border-bottom: none !important;
}

.post-new-request-header {
	background-color: #ededed !important;
	color: #565a5c;
	padding: 13px 0;

}

.post-request-offer-btn {
	margin-top: 20px !important;
}

/*///////Custom space for modal//////*/
.zolo-custom-modal {
	padding: 20px !important;
}

/*////////////for vender post a package/////////*/
/*.vender-post-a-package {*/
	/*margin: 40px 0;*/
/*}*/

.service-tax-space {
	margin: 9px 0;
	text-align: center;
}

.zolo-reset-password {
	margin: 20px 0;
}

.zolo-password-btn {
	background-color: #78588C !important;
	color: #fff !important;
	margin: 15px 0 !important;
}

.zolo-btn {
	background-color: #78588C !important;
	color: #fff !important;
}

.user-info-add-package {
	margin: 20px 0 !important;
}

/*//////////////backup////////*/

/*


.page-profil .profil-content .item .comment.zolo-custom-card-text{
	padding: 15px !important;
}

.zolo-custom-info-card{
	top: 135px !important;
}

.custom-zolo-more{
	padding: 10px !important;
}


.zolo-login-google-plus{
	background-color: #d34836 !important;
	color: #fff !important;
}
.zolo-login-facebook i{
	padding-right: 0 !important;

}

.zolo-login-google-plus i{
	padding-right: 0 !important;

}

.zolo-login-submit_btn{
	background-color: #78588C !important;
	color: #fff !important;
}


.zolo-login-submit_btn{
	width: 100% !important;
}


.background {
	position: relative;
	z-index: 1;
}
.background:before {
	border-top: 2px solid #dfdfdf;
	content: "";
	margin: 0 auto;
	/!* this centers the line to the full width specified *!/
	position: absolute;
	/!* positioning must be absolute here, and relative positioning must be applied to the parent *!/
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}
.background span {
	/!* to hide the lines from behind the text, you have to set the background color the same as the container *!/
	background: #fff;
	padding: 0 15px;
}
.background {
	margin-top: 30px;
	text-align: center;
}


.show-password{
	cursor: pointer !important;
	font-size: 15px !important;
}

/!*profile css*!/


.zolo-custom-info-card{
	top: 135px !important;
}

.custom-zolo-more{
	padding: 10px !important;
}

.zolo-card-user-location{
	margin-left: 15px;
	margin-right: 15px;
}

.card-price{
	margin-left: 20px;
	font-weight: 800;
	color: #78588C;
	font-size: 16px;
}

.card-by-user{
	margin-right: 20px;
	font-weight: 600;
}

.zolo-about-user{
	padding: 25px !important;
}


/!*search page*!/

.zolo-custom-card{
	padding: 20px!important;
}

.filter-main-heading{
	font-size: 20px;
	font-weight: 500;

}

.zolo-nav-filters{
	padding-top: 5px;
	font-size: 16px;
	margin-top: 17px;
	text-align: center;
	margin-left: 20px;
}

.zolo-nav-filters li{
	margin-left: 25px;
}


.redesigned_price_filter{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ededed;
	margin-top: 100px !important;

}

.search_filter{
	margin: 10px 0;
}
.zolo-sidebar-position{
padding-left: 5px !important;
}

*/


/*.custom-zolo-more {*/
	/*padding: 10px !important;*/
/*}*/



/*.custom-zolo-more {*/
	/*padding: 10px !important;*/
/*}*/

/*.card-price {*/
	/*margin-left: 15px;*/
	/*font-weight: 600;*/
	/*color: #78588C;*/
	/*font-size: 16px;*/
/*}*/

/*.card-by-user {*/
	/*margin-right: 15px;*/
	/*font-weight: 600;*/
	/*font-size: 12px;*/
/*}*/

.zolo-login-google-plus {
	background-color: #d34836 !important;
	color: #fff !important;
}

.zolo-login-facebook i {
	padding-right: 0 !important;

}

.zolo-login-google-plus i {
	padding-right: 0 !important;

}

.zolo-login-submit_btn {
	background-color: #78588C !important;
	color: #fff !important;
}

.zolo-login-submit_btn {
	width: 100% !important;
}

.zolo-pdp-search-btn {
	margin: 40px !important;
}

.zolo-page-content-class {
	padding: 5px !important;
	top: 0 !important;
}

.zolo-about-user {
	padding: 15px !important;
}

.background {
	position: relative;
	z-index: 1;
}

.background:before {
	border-top: 2px solid #dfdfdf;
	content: "";
	margin: 0 auto;
	/* this centers the line to the full width specified */
	position: absolute;
	/* positioning must be absolute here, and relative positioning must be applied to the parent */
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}

.background span {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	background: #fff;
	padding: 0 15px;
}

.background {
	margin-top: 30px;
	text-align: center;
}

.zolo-custom-card {
	padding: 20px !important;
}

.filter-main-heading {
	font-size: 20px;
	font-weight: 500;

}

/*.zolo-nav-filters {*/
	/*padding-top: 5px;*/
	/*font-size: 16px;*/
	/*margin-top: 10px;*/
	/*text-align: center;*/
	/*!*margin-left: 20px;*!*/
	/*border-bottom: none;*/
/*}*/

/*.zolo-nav-filters li {*/
	/*margin-left: 25px;*/
/*}*/

.redesigned-price-filter {
	/*background-color: #fff;*/
	/*padding: 10px;*/
	/*border: 1px solid #ededed;*/

}

.search-filter {
	margin: 10px 0;
}

/*.price-user-container {*/
	/*padding-bottom: 5px !important;*/
/*}*/

/*.zolo-card-space {*/
	/*padding-bottom: 10px !important;*/
/*}*/

.zolo-card-hover-efect {
	-webkit-transition: box-shadow .3s ease-in-out !important;
}

.zolo-card-hover-efect:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;

}

/*.zolo-bg {*/
	/*background: url('/global/images/bg-zolo.jpg');*/
	/*background-attachment: fixed;*/
	/*background-size: cover;*/
	/*min-height: 650px;*/
	/*display: table;*/
	/*width: 100%;*/
/*}*/

/*.zolo-bg .main-title {*/
	/*text-align: center;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	/*margin: 0;*/
	/*!*font-size: 4.5vw;*!*/
/*}*/

/*.zolo-bg .main-title strong {*/
	/*color: #78588C;*/
/*}*/

/*.zolo-bg .main-title p {*/
	/*text-align: center;*/
	/*font-size: 20px;*/
	/*margin-top: 20px;*/
	/*line-height: 1.6em;*/
/*}*/

.zolo-pdp-page {
	margin-top: 100px;
}

/*.zolo-product-description h2 {*/

/*}*/

.zolo-sidebar-position {
	/*padding-left: 5px !important;*/
}

.zolo-pdp-page {
	margin-top: 100px;
}

.zolo-pdp-description h3 {
	margin-right: 15px;
	margin-left: 15px;
}

.zolo-pdp-location {
	margin-left: 15px;
}

.zolo-pdp-tags {
	margin-right: 15px;
}

.zolo-pdp-review-header {
	font-size: 24px;
}

.zolo-pdp-reviews .col-md-9 span {
	font-size: 18px;
}

.pdp-buy-sectiion {
	padding: 10px;
}


/*////////////Make an offer button on pdp page/////////*/
.zolo-pdp-make-offer-btn {
	width: 92% !important;
	padding-bottom: 40px !important;
	padding-top: 20px !important;
	font-size: 20px !important;
	text-align: center;
	color: #78588C !important;
	background-color: #fff !important;
	border: 1px solid #78588C !important;
}

.zolo-pdp-more-info-user {
	padding: 10px;
	font-size: 15px;
}

/*.add-ons-hidden{*/
/*opacity: 0;*/
/*}*/
/*.add-ons-hidden:hover{*/
/*opacity: 1;*/
/*transition: all .5s ;*/

/*}*/

/*////////Material Checkbox Custom edit//////*/
.check {
	color: #78588C !important;

}

.zolo-user-img {
	margin: 10px 0;
}

.zolo-pdp-seller-profile {
	padding: 15px;
}

.zolo-pdp-seller-profile-heading {
	margin-left: 15px;
	margin-right: 15px;
}

.zolo-pdp-space {
	margin: 15px 0;
}

/*//////////dashboard/////////*/
.zolo-dashboard-profile-complete {
	text-align: center;
}

.dashboard-a-summary-heading {
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

/*//////////Material Card Custom Padding//////*/
.card {
	padding: 15px !important;
}

.account-summary-right-border {
	border-right: 2px dashed rgba(0, 0, 0, 0.1);
}

.price-number {
	color: #FF5722;
	font-size: 22px;
}

.zolo-wallet {
	font-size: 50px !important;
	text-align: center;
}

.zolo-wallet-price {
	color: #00a946;
	font-size: 20px;
	text-align: center;
}

.zolo-add-money {
	margin: 15px 0 !important;
	background-color: #78588C !important;
	color: #fff !important;
}

/*////////////For Carousel Background on pdp page///////*/
.slider {
	background-color: #fff !important;
}

/*///////custom padding for Navigation on Search page /////*/
.search-filter-custom-card {
	padding: 8px !important;
}

.sellers-info-details {
	padding: 0 !important;
	border-bottom: none !important;

}

.sellers-info-details li {
	text-align: center !important;
}

.nav-tabs {
	text-align: center !important;
}

.zolo-card-location {
	margin-left: 10px !important;
	font-size: 14px !important;
}

.zolo-card-date {
	margin-right: 8px !important;
	font-size: 14px !important;
}

.zolo-card-icon {
	padding-right: 0 !important;
}



.check {
	margin-right: 5px !important;
}

.zolo-pdp-review-filter {
	margin: 15px 0 !important;
}

.pdp-addon-price {
	margin: 14px 0;
}



/*.custom-zolo-more {*/
	/*padding: 10px !important;*/
/*}*/

.zolo-custom-info-card {
	top: 130px !important;
}

.custom-zolo-more {
	padding: 10px !important;
}

.card-price {
	margin-left: 10px;
	font-weight: 500;
	color: #78588C;
	font-size: 16px;
}

/*.card-by-user {*/
	/*margin-right: 5px;*/
	/*font-weight: 600;*/
	/*font-size: 12px;*/
	/*margin-top: 2px;*/
/*}*/

.zolo-login-google-plus {
	background-color: #d34836 !important;
	color: #fff !important;
}

.zolo-login-facebook i {
	padding-right: 0 !important;

}

.zolo-login-google-plus i {
	padding-right: 0 !important;

}

.zolo-login-submit_btn {
	background-color: #78588C !important;
	color: #fff !important;
}

.zolo-login-submit_btn {
	width: 100% !important;
}

.zolo-pdp-search-btn {
	margin: 40px !important;
}

.zolo-page-content-class {
	padding: 5px !important;
	top: 0 !important;
}

.zolo-about-user {
	padding: 15px !important;
}

.background {
	position: relative;
	z-index: 1;
}

.background:before {
	border-top: 2px solid #dfdfdf;
	content: "";
	margin: 0 auto;
	/* this centers the line to the full width specified */
	position: absolute;
	/* positioning must be absolute here, and relative positioning must be applied to the parent */
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}

.background span {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	background: #fff;
	padding: 0 15px;
}

.background {
	margin-top: 30px;
	text-align: center;
}

.zolo-custom-card {
	padding: 20px !important;
}

.filter-main-heading {
	font-size: 20px;
	font-weight: 500;

}

.zolo-nav-filters {
	padding-top: 5px;
	font-size: 16px;
	margin-top: 5px;
	text-align: center;
	/*margin-left: 20px;*/
	border-bottom: none;
}

/*.zolo-nav-filters li {*/
	/*margin-left: 25px;*/
/*}*/

.redesigned-price-filter {
	/*background-color: #fff;*/
	/*padding: 10px;*/
	/*border: 1px solid #ededed;*/

}

.search-filter {
	margin: 10px 0;
}

.price-user-container {
	padding-bottom: 5px !important;
}

/*.zolo-card-space {*/
	/*padding-bottom: 10px !important;*/
/*}*/

.zolo-card-hover-efect {
	-webkit-transition: box-shadow .3s ease-in-out !important;
}

.zolo-card-hover-efect:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;

}

/*.zolo-bg {*/
	/*background: url('/global/images/bg-zolo.jpg');*/
	/*background-attachment: fixed;*/
	/*background-size: cover;*/
	/*min-height: 650px;*/
	/*display: table;*/
	/*width: 100%;*/
/*}*/

/*.zolo-bg .main-title {*/
	/*text-align: center;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	/*margin: 0;*/
	/*!*font-size: 4.5vw;*!*/
/*}*/

/*.zolo-bg .main-title strong {*/
	/*color: #78588C;*/
/*}*/

/*.zolo-bg .main-title p {*/
	/*text-align: center;*/
	/*font-size: 20px;*/
	/*margin-top: 20px;*/
	/*line-height: 1.6em;*/
/*}*/

.zolo-pdp-page {
	margin-top: 100px;
}

.zolo-product-description {

}

.zolo-sidebar-position {
	/*padding-left: 5px !important;*/
}

.zolo-pdp-page {
	/*margin-top: 100px;*/
	margin-top: 1px;
}

.zolo-pdp-description h3 {
	margin-right: 15px;
	margin-left: 15px;
}

.zolo-pdp-location {
	margin-left: 15px;
}

.zolo-pdp-tags {
	margin-right: 15px;
}

.zolo-pdp-review-header {
	font-size: 24px;
}

.zolo-pdp-reviews .col-md-9 span {
	font-size: 18px;
}

.pdp-buy-sectiion {
	padding: 10px;
}

/*////////////Buy button on pdp page/////////*/
.zolo-pdp-buy-btn {
	background-color: #78588C !important;
	color: #fff !important;
	width: 100% !important;
	padding-bottom: 40px !important;
	padding-top: 18px !important;
	font-size: 20px !important;
	text-align: center;
}

/*////////////Make an offer button on pdp page/////////*/
.zolo-pdp-make-offer-btn {
	width: 92% !important;
	padding-bottom: 40px !important;
	padding-top: 15px !important;
	font-size: 20px !important;
	text-align: center;
	color: #78588C !important;
	background-color: #fff !important;
	border: 1px solid #78588C !important;
}

.zolo-pdp-buy-btn2 {
	width: 250px !important;
	padding-bottom: 40px !important;
	padding-top: 15px !important;
	font-size: 20px !important;
	text-align: center;
	color: #78588C !important;
	background-color: #fff !important;
	border: 1px solid #78588C !important;
}

.zolo-pdp-more-info-user {
	padding: 10px;
	font-size: 15px;
}

/*.add-ons-hidden{*/
/*opacity: 0;*/
/*}*/
/*.add-ons-hidden:hover{*/
/*opacity: 1;*/
/*transition: all .5s ;*/

/*}*/

/*////////Material Checkbox Custom edit//////*/
.check {
	color: #78588C !important;

}

.zolo-user-img {
	margin: 10px 0;
}

.zolo-pdp-seller-profile {
	padding: 15px;
}

.zolo-pdp-seller-profile-heading {
	margin-left: 15px;
	margin-right: 15px;
}

.zolo-pdp-space {
	margin: 15px 0;
}

/*//////////dashboard/////////*/
.zolo-dashboard-profile-complete {
	text-align: center;
}

.dashboard-a-summary-heading {
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

/*//////////Material Card Custom Padding//////*/
.card {
	padding: 15px !important;
}

.account-summary-right-border {
	border-right: 2px dashed rgba(0, 0, 0, 0.1);
}

.price-number {
	color: #FF5722;
	font-size: 22px;
}

.zolo-wallet {
	font-size: 50px !important;
	text-align: center;
}

.zolo-wallet-price {
	color: #00a946;
	font-size: 20px;
	text-align: center;
}

.zolo-add-money {
	margin: 15px 0 !important;
	background-color: #78588C !important;
	color: #fff !important;
}

/*////////////For Carousel Background on pdp page///////*/
.slider {
	background-color: #fff !important;
}

/*///////custom padding for Navigation on Search page /////*/
.search-filter-custom-card {
	padding: 8px !important;
}

.sellers-info-details {
	padding: 0 !important;
	border-bottom: none !important;

}

.sellers-info-details li {
	text-align: center !important;
}

.nav-tabs {
	text-align: center !important;
}

.post-request-h-sub-heading {
	font-size: 20px;
	padding-bottom: 30px;
}

/*//////////////Remove border bottom from nav-tabs////////*/
.nav-tabs {
	border-bottom: none !important;
}

.post-new-request-header {
	background-color: #ededed !important;
	color: #565a5c;
	padding: 13px 0;

}

.post-request-offer-btn {
	margin-top: 20px !important;
}

/*///////Custom space for modal//////*/
.zolo-custom-modal {
	padding: 20px !important;
}

/*////////////for vender post a package/////////*/
.vender-post-a-package {
	margin: 40px 0;
}

.service-tax-space {
	margin-top: 7px;
    font-size: 18px;
    text-align: left;
}

.zolo-reset-password {
	margin: 20px 0;
}

.zolo-password-btn {
	background-color: #78588C !important;
	color: #fff !important;
	margin: 15px 0 !important;
}

.zolo-btn {
	background-color: #78588C !important;
	color: #fff !important;
	margin: 20px 0 !important;
}

.user-info-add-package {
	margin: 20px 0 !important;
}

/*////////////end////////////*/




.zolo-btn-wallet{
	background-color: #78588C !important;
	color: #fff !important;
	width: 60% !important;
	margin-top: 20px !important;
	margin-bottom: 10px;


}


.wallet-add-money-heading{
	margin-bottom: 20px;
	margin-top: 10px;
}

.wallet-amount strong{
	font-size: 24px;
}


.wallet-amount-withdraw{
	font-size: 20px;
}

.zolo-sidebar-position{
	/*padding-left: 5px !important;*/
}

/*for card title*/

.zolo-custom-card-text {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	display: -webkit-box !important;
	line-height: 1.6em !important; /* fallback */
	max-height: 4em !important; /* fallback */
	-webkit-line-clamp: 2 !important; /* number of lines to show */
	-webkit-box-orient: vertical !important;
	height: 70px !important;
	padding: 11px !important;
    color: #78588c;
}

.zolo-img-card-height{
	height: 193px !important;
	width: 100% !important;
}



/*my-wishlist*/
.wishlist-sort{
	margin: 8px;
	text-align: right;
	font-size: 18px;
}

.zolo-custom-card{
	margin-top: 1px !important;
	top: 1px !important;
	background-color: #fff !important;
}


/*/////////// package Card (share section) stacking on mobile override/////////*/

.page-profil .profil-content .item .more .col-xs-4 {
	background: #F7F7F7 !important;
	color: #828282;
	cursor: pointer;
	font-size: 14px;
	padding: 15px 0 5px 0;
	position: relative;
	text-align: center;
}

/*my-collection*/

.collection-back-btn{
	margin: 20px 0;
}
/*/////////////LOGO///////////////*/

.zolo-logo{
	width:  100% !important;
	/*height: 40px;*/
}

@media screen and (max-width: 667px){

}


.zolo-logopanel{
	background-color: #78588C !important;
	height: 55px !important;
}

.zolo-topbar .header-left .topnav{
	height: 55px !important;
}

.zolo-topbar{
	background-color: #78588C !important;
	height: 55px; !important;
}

.login-click{
	display: inline-block !important;
	color: #fff !important;
	font-weight: 400 !important;
	margin: 10px 0 !important;
	font-size: 18px !important;
	vertical-align: middle;
}

.signup-click{
	display: inline-block !important;
	color: #fff !important;
	font-weight: 400 !important;
	margin: 10px 10px 0 0 !important;
	font-size: 18px !important;
	vertical-align: sub;

}



/*header-*/

.zolo-header{
	width: 300% !important;
	margin-left: 100% !important;
	border-bottom: 1px solid #e0e0e0 !important;

	opacity: 1 !important;


}

.zolo-header > i {
	color: #fff !important;
}
.zolo-h-m-search{
	background-image: linear-gradient(#fff,#fff) !important;
	color: #fff !important;
	font-weight: 500 !important;
}




/*sanchit custom css start*/
.btn-zolo{

	border:1px solid #78588c!important;
	/*    color:#b066ff !important;*/
	color: #78588c !important;
	font-weight: 700 !important;
	transition: all 2s ease-in-out;


}

.btn.btn-zolo.btn-transparent:hover{
	background-color:#78588C!important;
	border:1px solid #000!important;
	color:#fff !important;
}

.bg-zolo{

	background-color:#78588c!important;
	padding: 0.8em;

}

.zolo-center {
	text-align: center;
}

.custom-hr {
	margin-top: 10px;
	margin-bottom: 5px;
}

.bg-ldark{
	background-color: #eeeeee !important;
}

.bg-green-cus{
	background-color: #69f0ae !important;
}

/*input.form-control, textarea.form-control */textarea.bcolor-custom{
												  border-bottom: 2px solid #454545 !important;
											  }

.p-2 {
	padding: 2px;
}

.ib{ display: inline-block;}


.quickview-sidebar{
	background: #f5f5f5;
}
.prepend-icon .header-search-icon{
	color: #f5f5f5;
}

.quickview p{
	color: #78588c  !important;
}

.user-img-rsb{
	transform: scale(0.8);
	display: inline-block;
}
.username{
	color: #ffffff;
}

#notifications-header > a > i , #messages-header > a > i{
	color: #fff !important;
}

#quickview-toggle i {
	color: #fff !important;
}
.stick-bottom-custom {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.sidebar .sidebar-inner .nav-sidebar > li.active > a {
	background-color:#85609c !important;
}

/*.nav-sidebar{*/
	/*margin-left: 20%;*/
/*}*/


/*Extra small devices phone*/
@media only screen and (max-width:480px){
	.zolo-logo{
		width: 60% !important;
		height: 40px;
	}

}
/*small devices tablet*/

@media only screen and(max-width:767px){
	.zolo-logo{
		width: 60% !important;
		height: 40px;
	}

}


.adc-dropup{
	top: -180px !important;
	left:-50px !important;
}
.zolo-card-space{
	height: 45px !important;
}

/*.zolo-custom-card-text{*/

/*}*/
/*.zolo-search-page-no-style{*/
	/*margin-bottom: 30px;*/
/*}*/

.card-by-user{
	color: #565a5c;
    margin-right: 5px;
    font-weight: 600;
    font-size: 12px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-top: 2px;

}
@media only screen and (max-width:480px){
	.nav-sidebar{
		margin-left: 0px !important;
		padding-top: 10px;
	}

}
/*secondary menu*/
.theme-sdtl.color-default .sidebar .sidebar-inner .sidebar-footer{
	background: #78588c !important ;
	color: #fff;
	text-align: center;
}

.sidebar .sidebar-inner .nav-sidebar > li > a{
	color: #333;
}

.sidebar .sidebar-inner .nav-sidebar > li > a span:not(.badge){
	opacity: 0.90;
}


.sidebar-top .sidebar .sidebar-inner .nav-sidebar > li > a i{
	display: inline-block;
}

/*Remove .nav-sidebar*/


.sidebar-top .nav-sidebar > li.nav-hover > a {
	/*    background: #202226 !important;*/
	background: #78588c !important;
}

.theme-sdtl.color-default .sidebar .sidebar-inner{
	background: #fff !important;
	border-bottom: 2px solid #D4D4D4;
}

@media screen and (min-width: 1024px){



	.sidebar-top .sidebar .sidebar-inner .nav-sidebar > li > a span:not(.badge){
		display: inline;
	}

	.sidebar-top .sidebar .nav > li > a{
		height: 42px;
		/*        color: #565a5c;*/
		color: #333;
	}

	.sidebar-top .sidebar .nav > li > a > i{
		width: 25px;
		text-align: inherit;
	}

	.sidebar-top .sidebar .nav > li{
		margin-left: 40px !important;
	}

	.sidebar-top .sidebar .sidebar-inner .arrow{
		display: none !important;
	}
}

.login-click:hover, .signup-click:hover{

	color: #333 !important;

}










/*sanchit custom css end*/
tags-input .autocomplete{
	height:40px;
}



/*material tab*/

.tabsdemoDynamicHeight md-content {
	background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
	background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
	margin-top: 0; }


.cropArea {
	/*background: #E4E4E4;*/
	overflow: hidden;
	width:500px;
	height:350px;
}

/* mine to the right and other to the left - odp messaging card style*/
 .my-style{
      float:right !important;
    }
    .other-style{
      float:left !important;
    }




i.btn-over-zolo{
	position: absolute;
	background: rgba(0, 0, 0, 0.34);
	color: aliceblue;
	font-size: 24px;
	bottom: 21%;
	right: 23%;
	border-radius: 3%;
	padding: 30px;
	/*    line-height: 2.5;*/
	visibility: hidden;
	transition: visibility 0.3s ease-in-out;
}

i.btn-over-zolo:hover{
	cursor: pointer;
	visibility: visible;
}

.btn-oz-img{
	position: relative;
}

.btn-oz-img:hover + i.btn-over-zolo{
	visibility: visible;
}


.slick-dots li{
	width: 35px !important;
	height: 35px !important;
}

.slick-dots{
	bottom: -40px;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
	opacity: 1 !important;
}

.slick-prev:before, .slick-next:before{
	color: #78588c !important;
}

.page-profil .profil-right{
	top 0 !important;
	bottom: auto !important;
	height: auto !important;
}


/*Dashboard menu*/

@media screen and (min-width: 1024px){

	.sidebar-top .sidebar .db-zolo > li{
		margin-left: 5px !important;
	}

}

.text-zolo{
	color: #78588c !important;
}

.sidebar-top .db-zolo > li.nav-hover > a > span , .sidebar-top .db-zolo > li.nav-hover > a >i {
	color: #fff !important;
}

.theme-sdtl.color-default .sidebar .sidebar-inner .nav-sidebar .nav-parent .children{
	background: #fff !important ;
}

.sidebar .sidebar-inner .nav-sidebar .children > li > a:hover
{
    color: #565a5c;
}

figure.zolo-collection{
    background: #78588c !important;
    width: 100% !important ;
}


/*
.page-content .zolo-login-form-main-content{
    padding: 0px !important;
    padding-top: 20px;
    background-image: url(../images/fashion-designer.jpg);
    padding-top: 20px !important;

    background-size: contain;
}
*/

/*
.sidebar-top.fixed-topbar .main-content .page-content .zolo-login-form-main-content{
    top:0px;
}
*/

/*
.main-content .page-content .zolo-login-form-main-content{
    margin-top: 0px;
    padding-left: 0px !important;
}
*/



/*
.portfolioContainer figure a.share-collection{
    font-size: 20px !important;
    opacity: 0.8 !important;
    text-indent: 1% !important;
    color: : #fff !important;
}
*/



/*profile*/

/*///////////////New Profile///////////////*/


.cover-img{
	background-size: cover;
	min-height: 300px;
	position: relative;
	top: 1px !important;
	padding: 1px !important;
}


.profile-edit{
	font-size: 38px !important;
}

.e-profile-btn{
	margin-top: 20px !important;
}


.my-portfolio{
	width: 100% !important;
}
.profile-img{
	width: 65%;
	margin-top: -3px;
	position: relative;

}

/*/////////////End here*/

.desc-zolo-pdp  ul{
   padding-left: 20px;
}


.pdp-pkg-share{
    margin-bottom: 15px;

}


.zolo-login-bg{
    background: url("/global/images/bg.jpg") center no-repeat !important;
    background-size: cover !important;
    min-height: 1000px !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.login-wizard{
    margin-top: 100px !important;
}


.edit-profile{
    opacity: 0;
    position: absolute !important;
    top: 30%;
    right: 40%;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: rgba(0, 0, 0, 0.38)!important;
    color: #fff !important;
    font-weight: 400 !important;
    letter-spacing: inherit;
}

.edit-profile:hover{
    opacity: 1;
}


.cover-edit-btn{
    position: absolute !important;
    top: 80%;
    left: 530px;
}

.cover-img{
    position: relative;
}

.edit-btn-bg{
    position: absolute;
    top: 20%;
    left: 36%;
    padding: 50px;
}

@media screen and (max-width: 744px){
    .cover-edit-btn{
        position: absolute !important;
        top: 145%;
        left: -27%;
        z-index: 2;
    }


}


/*25 march*/

/*Extra small devices phone*/
@media only screen and (max-width:480px){
	.zolo-logo{
		width: 40% !important;
		/*                height: 60% !important;*/
		margin-left: 45% !important;
	}

	.topnav {
		width: 80vw ;
	}

}
/*small devices tablet*/

@media only screen and(max-width:767px){
	.zolo-logo{
		width: 40% !important;
		/*                height: 60% !important;*/
		margin-left: 45% !important;
	}

	.topnav {
		width: 80vw ;
	}

}

/*/////////////share buttons on pdp page////////////*/

.hover-f:hover{
	color: #3b5998 !important;
}

.nav-tabs > li > .hover-f::before{
    background-color: #3b5998 !important;
}



.hover-g:hover{
    color: #DC4E41 !important;
}

.nav-tabs > li > .hover-g::before{
    background-color: #DC4E41 !important;
}


.hover-t:hover{
    color: #4099FF !important;
}

.nav-tabs > li > .hover-t::before{
    background-color: #4099FF !important;

}


.hover-l:hover{
    color: #4875B4 !important;
}

.nav-tabs > li > .hover-l::before{
    background-color: #4875B4 !important;

}

/*//////////ends here//////////*/




/*///////////clear button on search page/////*/

.clear-fltr{
    font-size: 17px;
    color: #565a5c;

}

.clear-fltr:hover{
    color: #565a5c;

}


/*///////end here/////*/



.user-post-a-package{
    margin: 15px 0;
}


.user-name{
    top: 20%;
    left: 36% ;
    background-color: rgba(6, 6, 6, 0.49);
    color: #fff;
    font-size: 32px;
    padding: 15px;
    border-radius: 2px;
}



@media screen and (max-width: 744px){
    .user-name{
        top: 57%;
        left: -14%;
        z-index: 2;
        font-size: 20px;
        position: absolute;
        padding: 10px;
    }


}


.seller-p-btn{
	width: 200px !important;
	height: 40px !important;

}

.fltr-c{
    margin-top: -17px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}







/*////////////////////////Bg//////////////////////*/


/*.zolo-bg {*/
	/*background: url('/global/images/bg-zolo.jpg');*/
	/*!*background-attachment: fixed;*!*/
	/*background-size: inherit;*/
    /*background-repeat: round;*/
	/*min-height: 660px;*/
	/*display: table;*/
	/*width: 100%;*/
    /*margin-top: 44px;*/
/*}*/


.zolo-bg {
    background: url('/global/images/web-cover.png');
    /*background-attachment: fixed;*/
    background-size: cover;
    min-height: 630px;
    display: table;
    width: 100%;
    background-position: 50% 0;
}

@media  screen and (max-width: 600px){
    .zolo-bg {
        background: url('/global/images/web-cover.png');
        /*background-attachment: fixed;*/
        background-size: cover;
        min-height: 230px;
        display: table;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 0;


    }

}


@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .zolo-bg {
        background: url('/global/images/web-cover.png');
        /*background-attachment: fixed;*/
        background-size: cover;
        min-height: 430px;
        display: table;
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
}





.zolo-bg .main-title {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	/*font-size: 4.5vw;*/
}

.zolo-bg .main-title strong {
	color: #78588C;
}

.zolo-bg .main-title p {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	line-height: 1.6em;
}


.zolo-h-s-btn{
    color: #fff !important;
    background-color: #8f55ac !important;
}

.Zolo-location{
    margin-top: 13px!important;
}



.tags-b{
  color: #aaa;
  background-color: #fff;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #dddddd;
}

/*///////april 14//////*/

.text-c{
  text-transform: capitalize !important;
}



.portfolioContainer figure{
  width: 100%!important;
}




/*/////////////Hover effects//////////*/


.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  /*padding: 1em 0 4em;*/
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /*min-width: 320px;*/
  /*max-width: 480px;*/
  /*max-height: 360px;*/
  width: 100%;
  height: 250px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */



/*-----------------*/
/***** Steve *****/
/*-----------------*/

figure.effect-steve {
  z-index: auto;
  overflow: visible;
  background: #000;
}

figure.effect-steve:before,
figure.effect-steve h2:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-steve:before {
  box-shadow: 0 3px 30px rgba(0,0,0,0.8);
  opacity: 0;
}

figure.effect-steve figcaption {
  z-index: 1;
}

figure.effect-steve img {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0,0,0);
  transform: perspective(1000px) translate3d(0,0,0);
}

figure.effect-steve h2,
figure.effect-steve p {
  background: #fff;
  color: #2d434e;
}

figure.effect-steve h2 {
  position: relative;
  margin-top: 2em;
  padding: 0.25em;
}

figure.effect-steve h2:before {
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve p {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(0.9,0.9,1);
  transform: scale3d(0.9,0.9,1);
}

figure.effect-steve:hover:before {
  opacity: 1;
}

figure.effect-steve:hover img {
  -webkit-transform: perspective(1000px) translate3d(0,0,21px);
  transform: perspective(1000px) translate3d(0,0,21px);
}

figure.effect-steve:hover h2:before {
  opacity: 0;
}

figure.effect-steve:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

/
/* Media queries */
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}

/*///////end here///////*/


.home-page-search{
  width: 100%;
  border-radius: 1px;
  padding: 10px 17px;
  border: none;
}

.home-s-btn{
  margin-top: 2px!important;
  background-color: #78588C !important;


}


.z-transparent{
  background-color: #f5f5f5 !important;
  margin: 10px 0 !important;
}

.about-zolo{
  text-indent: 50px;
  line-height: 1.9em;
}

/*.about-zolo:first-letter{*/
  /*font-size: 2em;*/
  /*color: #78588c;*/
  /*font-weight: 900;*/
/*}*/


@media screen and (max-width: 600px){

  .home-page-search {
    width: 90%;
    border-radius: 1px;
    padding: 10px 17px;
    border: none;
    font-size: 14px !important;
  }
}



.zolo-c{
  color: #8f5fac !important;
}

/*star rating*/
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}


.about-t-1{
  background-color: #F7F7F7;
  padding: 10px 20px 30px 20px;
  color: #000;
  border-bottom: 1px solid #e0e0e0;
}

.about-t-2{
  background-color: #F7F7F7;
  padding: 10px 20px 50px 20px;
  color: #000;
  border-bottom: 1px solid #e0e0e0;
}
.about-t-3{
  background-color: #F7F7F7;
  padding: 10px 20px 28px 20px;
  color: #000;
  border-bottom: 1px solid #e0e0e0;
}

.about-t-1, .about-t-2, .about-t-3 h4{
  text-align: center;
  color: #444;
}

.test-img{
  z-index: 2;
  margin-top: 20px;
}


@media screen and (max-width: 600px){
  .home-s-btn{
    margin-top: 10px!important;
    font-size: 15px !important;
    text-align: center !important;

  }

  .home-page-search{
    font-size: 12px !important;
  }

  .redesigned-price-filter{
    width: 100% !important;
  }
}


