<div class="modal-content">
  <div class="modal-body p-20">
    <div class="row">
      <h4 class="col-md-12 text-center">Add New Collection</h4>
      <!--<span class="pull-right col-md-2">-->
      <!--</span>-->

    </div>
    <hr class="custom-hr">
    <form ng-submit="saveCollection(collection)">
      <div class="row">
        <div class="col-md-12">

          <div class="row">
            <div class="col-md-12"><input class="form-control" type="text" placeholder="Collection Name" ng-model="collection.name"/></div>
          </div>

        </div>
      </div>
      <hr class="custom-hr">
      <div class="row">
        <div class="col-md-12 zolo-center">
          <button type="submit" class="btn btn-zolo" data-dismiss="modal">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--style="margin-top:10px;height:30px;font-size:16px;font-family:typo;background:#EEEEEE"-->
