<div class="modal-body zolo-center">
    <br>
    <div ng-hide="picFile" align="center">

        <button ngf-select ng-model="picFile" accept="image/*"  class="btn"><h4>Select Picture</h4></button>

    </div>
    <div ng-show="picFile">
        <form name="myForm">
            <div class="row">
                <div class="col-md-6" align="center">
                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                         class="cropArea">
                        <img-crop image="picFile  | ngfDataUrl"
                                  area-type="square"
                                  area-min-size="200"
                                  result-image-size="400"
                                  result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                        </img-crop>
                    </div>
                </div>
                <div class="col-md-6" align="center">
                    <div>
                        <img ng-src="{{croppedDataUrl}}" />
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!--<uib-progressbar class="progress-striped active" value="file.progress" type="info"></uib-progressbar>-->

            <div class="row zolo-right">
                <div class="col-md-2 col-md-offset-8 zolo-right">
                    <button class="btn3 hvr-shadow" ng-click="upload(picFile,croppedDataUrl)">{{upload_button_text}} <span ng-style="myStyle"><i class="fa fa-spinner fa-spin"></i> </span> </button>
                </div>
                <div class="col-md-2 zolo-left">
                    <button ngf-select ng-model="picFile" accept="image/*"  class="btn">Select Picture</button>
                </div>
            </div>

        <span class="progress" ng-show="progress >= 0">
        <div ng-bind="progress + '%'"></div>
        </span>
            <span ng-show="result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </form>
        <!--<div class="cropArea">
            <img-crop image="picFile" result-image="myCroppedImage"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{myCroppedImage}}" /></div>-->
    </div>






</div>