<style>
  .main-content .page-content{
    padding: 0!important;
    top: 5px!important;
    background-color: #ecf0f1!important;

  }

  /*linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.66)),*/
  .team-bg {
    background:  url(../global/images/bannner.png) no-repeat;
    width: 100%;
    height: 620px;
    margin-bottom: -2px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .border-box{
    color: #fff;
  }

  .border-box-txt {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 3px solid #fff;
    padding: 20px;

  }


  .bg-icon{
    display: block;
    position: absolute;
    bottom: -46px;
    left: -41px;
    opacity: .06;
    font-size: 23em;

  }


  .why-us-bg{
    position: relative;
    overflow: hidden;
    padding: 30px 60px 100px 60px;
  }

  .fa-truck{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }


  .b-seller:hover{
    transform: scale(1.11) rotate(360deg);
    transition: all .5s;
  }

  .bg-icon:hover{
    transform: scale(1.1);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08)!important;
    transition: all .5s;
  }

  .bg-icon:nth-child(2):hover{
    -moz-transform: scaley(-1);
    -webkit-transform: scaley(-1);
    transform: scaley(-1);

  }

  .service-box{
    padding: 10px;
  }

  .service-h{
    text-align: center;
  }

  .service-h:hover{
    margin: -3px;
    transition: all .3s ease-in-out;

  }

  .service-h img{
    transition: all .3s ease-in-out;
  }

  .service-h img:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: -3px;
    transition: all .3s ease-in-out;

  }

  .service-h:hover .service-box{
    transition: all .3s ease-in-out;
    background-color: #673ab7;
    color: #ffffff;
    padding: 10px;

  }

  .second-header,.zolo-h-m-search,.mobile-number,.prepend-icon .header-search-icon{
    display: none!important;
  }






</style>



<div class="team-bg">
  <!--<div class="row">-->
    <!--<img src="../global/images/s-w2.jpg" alt="" class="bg-primary" width="100%">-->
    <!--<img src="../global/images/s-m2.jpg" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">-->

    <!--<div class="bg-img top">-->
      <div class="border-box">
        <div class="border-box-txt">
          <h2 class="f-36">Build A Career Around Your Passion</h2>
          <p class="f-18 hidden-xs text-center">  1,000,000 Registered Users | 50,000 Projects Delivered | SignUp Today</p>
          <a href="" ng-click="BecomeASeller()" class="btn zolo-btn">Get Started</a>
        </div>



      <!--</div>-->

    </div>

  </div>


  <div class="img-over-txt hidden-xs">
    <div class="row">

      <div class="col-xs-3 border-right">
        <h3 class="text-center w-700">Work From Home</h3>
        <p class="text-center w-500" style="margin-top: -6px;">Get Flixeble, Productive &amp; Remote Projects. Stress Less &amp; Earn More.</p>
      </div>


      <div class="col-xs-3 border-right">
        <h3 class="text-center w-700">Freelancing Projects</h3>
        <p class="text-center w-500" style="margin-top: -6px;">Millions of small businesses waiting for you to turn their ideas into reality.</p>
      </div>


      <div class="col-xs-3 border-right">
        <h3 class="text-center w-700">Weekend Projects</h3>
        <p class="text-center w-500" style="margin-top: -6px;">Earn extra money while working on weekends.</p>
      </div>


      <div class="col-xs-3 border-right">
        <h3 class="text-center w-700">Monetize Hobbies</h3>
        <p class="text-center w-500" style="margin-top: -6px;">Transform your hobby into your business &amp; blur the line between work and play.</p>
      </div>


    </div>
  </div>


</div>

<div class="img-over-txt visible-xs p-10">
  <div class="row">

    <div class="col-md-3">
      <h3 class="text-center">Work From Home</h3>
      <p class="text-center">Get Flixeble, Productive &amp; Remote Projects. Stress Less &amp; Earn More.</p>
    </div>


    <div class="col-md-3">
      <h3 class="text-center">Freelancing Projects</h3>
      <p class="text-center"> Millions of small businesses waiting for you to turn their ideas into reality. </p>
    </div>


    <div class="col-md-3 ">
      <h3 class="text-center">Weekend Projects</h3>
      <p class="text-center">Earn extra money while working on weekends.</p>
    </div>


    <div class="col-md-3">
      <h3 class="text-center">Monetize Hobbies</h3>
      <p class="text-center">Transform your hobby into your business &amp; blur the line between work and play.s</p>
    </div>


  </div>
</div>






<div class="container-fluid">
  <div class="card" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.08)!important;">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center w-600 ">Sell A Wide Range of Services on Zolo</h2>
        <p class="text-center">Zolo is a platform where you can showcase your Talent &amp; Monetize it</p>
        <hr>
      </div>
    </div>



    <div class="row">
      <div class="col-md-3 text-center">
        <div class="service-h">
          <img src="../global/images/GRAPHIC-DESIGN.jpg" alt="" class="img-circle b-s-img" width="210">
          <p class="text-center f-16 w-700 service-box">Web &amp;  Graphic Designing</p>
        </div>


      </div>


      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/WEB-DESIGNING.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Web &amp; App Development</p>
</div>
      </div>


      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/WRITING.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Blog &amp; Copy Writing</p>
          </div>

      </div>

      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/TRANSLATE.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Language Translation</p>
          </div>

      </div>



    </div>


    <div class="row m-t-60">
      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="https://cp10eng.wikispaces.com/file/view/globe-puzzle.jpg/121922087/globe-puzzle.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Research Projects</p>
          </div>

      </div>

      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_homepage_vendors/freelancer.jpg" alt="" class=" img-circle b-s-img">
        <p class="text-center f-16 w-700 service-box">Data Entry</p>
          </div>

      </div>


      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/PHOTOGRAPHY.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Photography &amp; Videography</p>
          </div>

      </div>

      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/DATA%20ENTRT%202.jpg" alt="" class=" img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Skype Consultation</p>
          </div>

      </div>



    </div>



    <div class="row m-t-60">
      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/RECIPE.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Recipe Classes</p>
          </div>

      </div>

      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/WELLNESS.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Wellness Classes</p>
          </div>

      </div>


      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/DANCE.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Dance &amp; Aerobic Classes</p>
          </div>

      </div>

      <div class="col-md-3 text-center">
        <div class="service-h">
        <img src="../global/images/TUTION.jpg" alt="" class="img-circle b-s-img" width="210">
        <p class="text-center f-16 w-700 service-box">Tuition Classes</p>
          </div>

      </div>



    </div>

    <hr>


    <div class="row ">
      <div class="col-md-12">
        <h2 class="text-center">Let us help you create a package ! Call <a href="tel:09555370370">+91-9555370370</a></h2>
      </div>
    </div>






  </div>




  <div class="card"style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.08)!important" >
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center w-500 f-40 ">How it Works ?</h2>
      </div>
    </div>


    <div class="row m-t-10" >
      <div class="col-md-4 text-center col-sm-4 why-us-bg" style="background: rgba(244, 67, 54, 0.8);
">

        <i class="fa fa-pencil-square-o bg-icon" aria-hidden="true"></i>


        <h2 class=" w-700 white-c">Create a package</h2>
        <p class=" text-center w-700 white-c f-15">Simple fill in the form, give your package a price &amp; your package would be live &amp;ready for selling.</p>
        <!--<hr>-->

        <!--<img src="../global/images/ICONS-01.png" width="150" class="bg-icon">-->
        <!--<i class="fa fa-lightbulb-o bg-icon"></i>-->


      </div>


      <div class="col-md-4 text-center col-sm-4 why-us-bg" style="background-color: rgba(106, 129, 243, 0.88);">
        <!--<img src="../global/images/ICONS-02.png" width="150" class="bg-icon">-->

        <h2 class=" w-700 white-c">Get An Order</h2>
        <p class="text-center w-700 white-c f-15">We help you to market your services &amp;sell them to thousands of potential clients.</p>
        <i class="fa fa-list-alt bg-icon" aria-hidden="true"></i>



      </div>


      <div class="col-md-4 text-center col-sm-4 why-us-bg" style="background-color: rgba(37, 195, 43, 0.6);">
        <!--<img src="../global/images/ICONS-03.png" width="230" class="bg-icon">-->

        <h2 class="text-center w-700 white-c">Deliver</h2>
        <p class=" text-center w-700 white-c f-15">Deliver your services and get rewarded for your work with good reviews &amp; attract more clients.</p>
        <i class="fa fa-truck bg-icon" aria-hidden="true" style="font-size: 25em;"></i>



      </div>



    </div>


    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-success btn-lg text-c m-t-20">Register &amp; Post A Package</button>
      </div>
    </div>







  </div>



  <div class="card" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.08)!important">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center w-500 f-40">Why Zolo ?</h1>
        <!--<hr class="custom-hr">-->

      </div>
    </div>


    <div class="row m-t-40">

      <div class="col-md-4 text-center">
        <img src="../global/images/LEADS.png" alt="" width="250" class="b-seller img-circle b-s-img">
        <h3 class="text-center m-0 w-700">Qualified Leads</h3>
        <p class="text-center m-10 ">Get warm leads that maximize your cliental</p>

      </div>

      <div class="col-md-4 text-center">
        <img src="../global/images/SECURED%20PAYMENT.png" alt="" width="250" class="b-seller img-circle b-s-img">
        <h3 class="text-center m-0 w-700">Secured Payments</h3>
        <p class="text-center m-10 ">Strong &amp; sercue payment system &amp; policies</p>

      </div>


      <div class="col-md-4 text-center">
        <img src="../global/images/MINIMUM.png" alt="" width="250" class="b-seller img-circle b-s-img">
        <h3 class="text-center m-0 w-700">Minimum Commission</h3>
        <p class="text-center m-10 ">No hidden charges - Only 10% commission</p>

      </div>




    </div>





    <div class="row m-t-40">

      <div class="col-md-4 text-center">
        <img src="../global/images/ADVANCED%20PLATFORM.png" width="250" alt="" class="b-seller img-circle b-s-img">
        <h3 class="text-center m-0 w-700">Advance Platform</h3>
        <p class="text-center m-10 ">Optimized dashboard &amp; advanced CRM</p>

      </div>

      <div class="col-md-4 text-center">
        <img src="../global/images/FREE%20PROMOTION.png" width="250" alt="" class="b-seller img-circle b-s-img">
        <h3 class="text-center m-0 w-700">Promotion &amp; Branding</h3>
        <p class="text-center m-10 ">We promote your services through different marketing channels</p>

      </div>


      <div class="col-md-4 text-center">
        <img src="../global/images/CUSTOMER%20SUPPORT.png" width="250" alt="" class="b-seller img-circle b-s-img">
        <h3 class="text-center m-0 w-700">Customer Service</h3>
        <p class="text-center m-10 ">We provide 24 x 7 email / chat support</p>

      </div>




    </div>

    <hr>

    <div class="row m-">
      <div class="col-md-12">
        <h2 class="text-center">Let us help you create a package! Call <a href="tel:09555370370">+91-9555370370</a></h2>
      </div>
    </div>



  </div>





</div>





<!--<div class="footer">-->
<!--<div class="copyright">-->
<!--<p class="pull-left sm-pull-reset">-->
<!--<span>Copyright <span class="copyright">&copy;</span> 2016 </span>-->
<!--<span>Zolo Technologies Pvt. Ltd.</span>.-->
<!--<span>All rights reserved. </span>-->
<!--</p>-->
<!--<p class="pull-right sm-pull-reset">-->
<!--<span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About Us</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact Us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of Use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->






<div class="card m-t-60 " style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.08)!important; padding: 10px 5px!important; margin-top: 16px!important; background-color: #f9f9f9;">

  <!--<div class="card" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.08)!important;">-->

    <!--<div class="row ">-->
      <!--<span class="col-xs-8 col-xs-offset-2  m-b-20 hidden-sm"></span>-->

      <!--<div class="col-md-12">-->
        <!--<h1 class="text-center f-26 need-a-z"><strong class="w-300">Need Assistance? Want To Buy Something? Become A Seller?   </strong></h1>-->


      <!--</div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<div class="col-md-4 col-sm-4">-->
        <!--<p class="text-muted text-center w-300 f-20"><i class="fa fa-phone zolo-c"></i>&nbsp;-->
          <!--Call <span class="zolo-c w-300 f-20"><a href="tel:088820-91091" class="zolo-c z-phone">+91 88820-91091</a></span> </p>-->
      <!--</div>-->



      <!--<div class="col-md-4 text-center col-sm-4">-->
        <!--<p class="text-muted text-center w-300 f-20">-->
          <!--<i class="fa fa-envelope-o  zolo-c f-20"></i>&nbsp;-->
          <!--<a href="mailto:hi@imzolo.com" class="text-muted border-bottom">hi@imzolo.com</a>-->
        <!--</p>-->



      <!--</div>-->



      <!--<div class="col-md-4 text-center col-sm-4">-->
        <!--<p class="text-muted text-center f-300 f-20">-->
          <!--<i class="fa fa-user  zolo-c f-20"></i>&nbsp;-->
          <!--<a href="" class="text-muted border-bottom"  ng-click="showTabDialog()">SignUp</a>-->
        <!--</p>-->

      <!--</div>-->









    <!--</div>-->

  <!--</div>-->

  <div class="p-20 p-t-0" style=" margin-top: 16px!important; background-color: #fcfcfc">
    <div class="row s-strip border" style="background: transparent;">
      <div class="col-md-4 border-right">
        <p class="text-center text-muted-z">
          <i class="fa fa-key"></i> 100% Secure Payments</p>
      </div>

      <div class="col-md-4 border-right">
        <p class="text-center text-muted-z">
          <i class="fa fa-shield"></i> 100% Vendor Protection </p>
      </div>

      <div class="col-md-4">
        <p class="text-center text-muted-z">
          <i class="fa fa-refresh"></i> Vendor Friendly Policy </p>
      </div>

    </div>
    <!--<div class="row">-->
      <!--<div class="col-md-9">-->
        <!--<h3 class="m-b-20">Categories</h3>-->
        <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->

        <!--<div><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10 font-color" target="_blank">Business</a> | <a ng-href="/contact" class=" m-r-10 font-color">Digital</a>|  <a ng-href="/terms-of-use" class="font-color m-r-10">Creative</a>|-->
          <!--<a ng-href="/privacy-policy" class=" font-color m-r-10">Consultation</a>| <a ng-href="/order-cancellation-policy" class=" font-color">Classes</a> | <a ng-href="/returns-refunds" class="m-l-10 font-color">Events</a> |<a ng-href="/returns-refunds" class="m-l-10 font-color">Products</a> |-->
          <!--<a ng-href="/contact" class="m-l-10 m-r-10 font-color">Gifts</a> | <a ng-href="/terms-of-use" class="font-color m-r-10">Summers Deals</a>| <a ng-href="/privacy-policy" class=" font-color" style="color: #cd5c5c!important;">Weddings Special</a>-->

        <!--</div>-->




      <!--</div>-->

      <!--<div class="col-md-3">-->
        <!--<h3 class=" text-center m-b-20">Download Our App</h3>-->
        <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
        <!--<ul class="footer-links ">-->
          <!--<li class="text-center" ><a href=""><img src="../global/images/google-play-badge.png" width="150" alt=""/></a></li>-->
          <!--<li class="m-t-10 text-center"><a href=""><img src="../global/images/app-store.png" width="150" alt=""/></a></li>-->
        <!--</ul>-->

      <!--</div>-->

    <!--</div>-->
  </div>




  <!--<div class="row p-20 ">-->


    <!--<div class="col-md-4 text-center hidden-xs">-->
      <!--&lt;!&ndash;<h3 class="m-b-20">Download Our App</h3>&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="footer-links">&ndash;&gt;-->
      <!--&lt;!&ndash;<li ><a href=""><img src="../global/images/google-play-badge.png" width="150" alt=""/></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-10"><a href=""><img src="../global/images/app-store.png" width="150" alt=""/></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->

      <!--<h3>About Us</h3>-->
      <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
      <!--<p class="text-justify">Zolo is India's first marketplace for on-demand talent where you can discover thousands of talented people ready to help you get anything done.-->

        <!--Imagine having an army of people with a variety of 'specialized skills & talent' ready to help you complete your to-do list, finish your projects <a-->
          <!--href="">Read More</a> </p>-->

    <!--</div>-->


    <!--<div class="col-md-4 text-center">-->
      <!--<h3 class="w-500 f-18 text-center m-b-20">Zolo Technologies</h3>-->
      <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="footer-links">&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Refunds</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">About Us</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Contact us</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Terms Of Use</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Cancellation</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Privacy Policy</a></li>&ndash;&gt;-->



      <!--&lt;!&ndash;</ul>&ndash;&gt;-->

      <!--<div class="row m-l-50">-->
        <!--<div class="col-xs-6">-->
          <!--<p class="m-t-0"><a ng-href="/terms-of-use" class="font-color">Terms of Use</a></p>-->
          <!--<p class="m-t-0"><a ng-href="http://www.imzolo.com/aboutus" class=" font-color" target="_blank">About Us</a></p>-->
          <!--<p class="m-t-0"><a ng-href="/contact" class=" font-color">Contact Us</a></p>-->

        <!--</div>-->

        <!--<div class="col-xs-6">-->
          <!--<p class="m-t-0"><a ng-href="/privacy-policy" class=" font-color">Privacy Policy</a></p>-->
          <!--<p class="m-t-0"><a ng-href="/order-cancellation-policy" class=" font-color">Cancellation</a></p>-->
          <!--<p class="m-t-0"><a ng-href="/returns-refunds" class=" font-color">Refunds</a></p>-->
        <!--</div>-->

      <!--</div>-->




    <!--</div>-->





    <!--<div class="col-md-4 text-center">-->
      <!--<h3 class="m-b-20">Payment Options</h3>-->
      <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="footer-links-s text-center">&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-facebook fa-3x f-hover"></i></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-google-plus fa-3x g-hover"></i></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-linkedin fa-3x l-hover"></i></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-instagram fa-3x i-hover"></i></a></li>&ndash;&gt;-->


      <!--&lt;!&ndash;</ul>&ndash;&gt;-->



      <!--<ul class="footer-links-pay m-t-20 text-center">-->
        <!--<li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/MasterCard.png" alt="" height="20"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/visa.png" alt="" height="20"></li>-->
        <!--<li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/maestro_10.jpg" alt="" height="20"></li> <li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/payumoney.png" alt="" height="20" class="m"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/Paytm.png" alt="" height="20" class="m-l-5"></li> </ul>-->

      <!--&lt;!&ndash;<ul class="footer-links">&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/maestro_10.jpg" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/visa.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/MasterCard.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/payumoney.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/Paytm.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->

    <!--</div>-->

    <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->



    <!--&lt;!&ndash;<ul class="nav nav-tabs m-t-20">&ndash;&gt;-->
    <!--&lt;!&ndash;<li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/MasterCard.png" alt="" height="20"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/visa.png" alt="" height="20"></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/maestro_10.jpg" alt="" height="20"></li> <li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/payumoney.png" alt="" height="20" class="m"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/Paytm.png" alt="" height="20" class="m-l-5"></li> </ul>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->






  <!--</div>-->




  <div class="p-40 p-b-10 white-c" style="background: rgb(113, 113, 113);">
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center" style="height: 30px; border-bottom: 1px solid #dedede;">
<span style="font-size: 40px; background: rgb(113, 113, 113); padding: 0 10px;">
<img src="../global/images/Zolo-Logo-c.png" alt="" width="150">

</span>
        </div>
      </div>
    </div>



    <div class="row m-t-40">
      <div class="col-md-12">
        <div class="footer-logo">
<span>

</span>
        </div>


        <ul class="footer-links-s text-center">
          <li><a href="https://www.facebook.com/imZOLO" target="_blank"><i class="white-c fa fa-facebook-square fa-3x f-hover"></i></a></li>

          <li><a href="https://plus.google.com/117607515376144487944" target="_blank"><i class="white-c fa fa-google-plus-square fa-3x g-hover"></i></a></li>

          <li><a href="https://www.linkedin.com/company/zolo-technologies-private-limited" target="_blank"><i class="fa fa-linkedin-square fa-3x l-hover f-45 white-c"></i></a></li>

          <li><a href="https://www.instagram.com/Imzolo.official/" target="_blank"><i class="white-c fa fa-instagram fa-3x i-hover"></i></a></li>

          <li><a href="https://twitter.com/Zolo_Official" target="_blank"><i class="white-c fa fa-twitter-square fa-3x i-hover"></i></a></li>



        </ul>
        <p class="text-center m-b-0">Copyright © 2016 Zolo Technologies Pvt. Ltd.. All rights reserved</p>

      </div>
    </div>

  </div>






</div>
