
<div>
  <!-- <div class="header">
      <h2><strong>Blank</strong> Page</h2>

      <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
              <li>
                  <a href="dashboard.html">Make</a>
              </li>
              <li>
                  <a href="#">Pages</a>
              </li>
              <li class="active">Dashboard</li>
          </ol>
      </div>

  </div> -->
  <div class="row">

    <div class="col-md-8 col-lg-8 col-sm-8">
      <!-- HERE COMES YOUR CONTENT -->

      <div class="row">

        <div class="col-md-12">

          <div class="card pulse animated p-t-0">
            <div class="card-content p-t-10">

              <p class="w-500 f-24 p-t-10" style="
    text-align: -webkit-center;">
                <strong>Alert!</strong>
              </p>

              <hr class="custom-hr">





            </div>

            <!-- <div class="card-action" style="text-align: -webkit-center;">
                 <a href="#">Know More</a>
                  <button type="button" class="btn btn-zolo btn-transparent">Back to Dashboard<div class="ripple-wrapper"></div></button>

                 <button type="button" class="btn btn-zolo btn-success btn-transparent">See your package<div class="ripple-wrapper"></div></button>
             </div>-->

          </div>

        </div>


      </div>


      <div class="row">

        <div class="col-md-12">

          <div class="card pulse animated p-t-0">
            <div class="card-content p-t-10">

              <p class="w-500 f-20 p-t-10" style="
    text-align: -webkit-center;">
                <strong>Please don't refresh the page</strong>
              </p>
              <hr class="custom-hr">




            </div>

            <!-- <div class="card-action" style="text-align: -webkit-center;">
                 <a href="#">Know More</a>
                  <button type="button" class="btn btn-zolo btn-transparent">Back to Dashboard<div class="ripple-wrapper"></div></button>

                 <button type="button" class="btn btn-zolo btn-success btn-transparent">See your package<div class="ripple-wrapper"></div></button>
             </div>-->

          </div>

        </div>


      </div>
    </div>

  </div>
</div>
