<div class="container zolo-pdp-page">
  <div class="row" ng-if="isfailed==1">
    <div class="col-md-12 ">
      <div class="card text-center">
        <h2 class="f-24 text-danger">Apologies</h2>
        <hr class="custom-hr">
        <h3 class="w-500 f-18">Payment processing Failed due to some technical issue &nbsp;<i class="fa fa-exclamation-circle f-24"></i></h3>

        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-transparent" ng-click="hideFailed()">Click Here To try Again</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center m-b-10">
            <strong>or</strong>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-zolo btn-transparent">Go Back to zolo</button>
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-8 col-lg-8 col-sm-8">
      <!-- HERE COMES YOUR CONTENT -->

      <div class="row">

        <div class="col-md-12">

          <div class="card pulse animated p-t-0">
            <div class="card-content p-t-10">

              <p class="w-500 f-24 p-t-10" style="
    text-align: -webkit-center;">
                <strong>Summary of Order #{{booking.id}} </strong>
              </p>

              <hr class="custom-hr">

              <div class="row">

                <div class="col-md-4 zolo-center" >

                  <img class=".img-md m-t-10" ng-src="{{booking.first_photo}}" style="height: auto;width:100%;" >



                </div>

                <div class="col-md-8 zolo-center" >
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-6">
                      <h3>{{booking.package_title}}</h3>
                    </div>
                  </div>

                  <div class="row m-t-10">
                    <div class="col-md-4">  Total amount :</div>
                    <div class="col-md-8 w-500"> &#8377; {{total_price}}</div>

                  </div>

                  <div class="row m-t-10">
                    <div class="col-md-4">  Delivery Time :</div>
                    <div class="col-md-8">{{booking.package_delivery_time}}&nbsp;{{booking.package_delivery_time_type}}</div>
                  </div>

                  <div class="row m-t-10">
                    <div class="col-md-4">  Seller :</div>
                    <div class="col-md-8"> {{booking.seller_profile.name}}</div>
                  </div>


                </div>

              </div>




            </div>

            <!-- <div class="card-action" style="text-align: -webkit-center;">
                 <a href="#">Know More</a>
                  <button type="button" class="btn btn-zolo btn-transparent">Back to Dashboard<div class="ripple-wrapper"></div></button>

                 <button type="button" class="btn btn-zolo btn-success btn-transparent">See your package<div class="ripple-wrapper"></div></button>
             </div>-->

          </div>

        </div>


      </div>


      <div class="row">

        <div class="col-md-12">

          <div class="card pulse animated p-t-0">
            <div class="card-content p-t-10">

              <p class="w-500 f-20 p-t-10" style="
    text-align: -webkit-center;">
                <strong>You have selected</strong>
              </p>
              <hr class="custom-hr">

              <div class="row">


                <div class="col-md-10 col-md-offset-1 zolo-center" >

                  <div class="row">

                    <div class="col-md-9 col-sm-9 col-xs-6">
                      <p class="f-16">Package Cost</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <p class="f-14">&#8377; {{booking.deal_price}}</p>
                    </div>
                  </div>

                  <div class="row m-t-10" ng-repeat="addon_local in booking.bookingPackagesAddons.data">
                    <div class="col-md-9 col-sm-9 col-xs-6">
                      <p class="f-16">+ {{addon_local.name}}</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <p class="f-14 ">&#8377; {{addon_local.amount}}</p>
                    </div>

                  </div>


                  <div class="row m-t-10">
                    <div class="col-md-9 col-sm-9 col-xs-6" >
                      <p style="text-align:right;">Total Amount :</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <p class="w-500">&#8377; {{total_price}}</p>
                    </div>

                  </div>



                </div>

              </div>




            </div>

            <!-- <div class="card-action" style="text-align: -webkit-center;">
                 <a href="#">Know More</a>
                  <button type="button" class="btn btn-zolo btn-transparent">Back to Dashboard<div class="ripple-wrapper"></div></button>

                 <button type="button" class="btn btn-zolo btn-success btn-transparent">See your package<div class="ripple-wrapper"></div></button>
             </div>-->

          </div>

        </div>


      </div>
    </div>

    <div class="col-md-4 col-sm-4">

      <div class="row">

        <div class="col-md-12">

          <div class="card pulse animated p-t-0">

            <div class="card-content p-t-10">

              <p class="w-500 f-20 p-t-10" style="text-align: -webkit-center;">
                <strong>Payment Options</strong>
              </p>

              <hr class="custom-hr">

              <form role="form" class="form-validation ng-valid" novalidate="novalidate">


                <div class="row">





                  <div class="col-md-12 col-sm-12 col-xs-12">



                    <div class="radio radio-success m-b-20">

                      <label>

                        <input type="radio" name="r-success" ng-model="by_medium" value="by_wallet" checked="" class="md-radio"><span class="circle"></span><span class="check"></span>

                        <p class="f-18"> Pay using Wallet </p>

                      </label>

                      <p class="f-14 m-t-10 m-l-20"> ( Current Wallet balance:<span class="w-500">&#8377; {{wallet_amount.data}} )</span>
                        <span></span>
                        <span style="color:red;"><p ng-show="restAmount!=0&&(restAmount>0)" class="f-14 m-t-10 m-l-20"> ( Amount:<span class="w-500">&#8377; {{restAmount}} )</span> need more to do the transaction.
                    </p></span>
                    </div>



                    <div class="radio radio-success m-t-20">

                      <label>
                        <input type="radio" ng-model="by_medium" name="r-success" value="by_payment_gateway" checked="" class="md-radio"><span class="circle"></span><span class="check"></span>

                        <p class="f-18"> Pay using CC/Debit Card/NetBanking </p>

                      </label>

                    </div>

                    <hr class="custom-hr">



                  </div>


                </div>

                <div class="row">

                  <div class="col-md-12 col-sm-12">


                    <button ng-click="onSelectPaymentMethod()" style="width:100%;height:50px; padding-left: 10px;padding-right: 10px; padding-top: 10px;padding-bottom: 10px;" type="button" class="f-16 w-500 m-t-20 btn btn-lg btn-success btn-embossed m-10"><span ng-if="restAmount>0&&by_medium=='by_wallet'" >Add {{restAmount}} and pay</span>
                      <span ng-if="!(restAmount>0&&by_medium=='by_wallet')">Pay Now</span>
                    </button>

                  </div>



                </div>


              </form>

            </div>


          </div>



        </div>


      </div>

    </div>

  </div>
</div>
