
<div class="container-fluid">

  <div ng-if="target === 'my-dashboard'" ng-include="src='views/my-dashboard.html'"></div>
  <div ng-if="target === 'sales'" ng-include="src='views/my-sales.html'"></div>
  <div ng-if="target === 'my-purchases'" ng-include="src='views/my-purchases.html'"></div>
  <div ng-if="target === 'my-wishlist'" ng-include="src='views/my-wishlist.html'"></div>
  <div ng-if="target === 'my-collection'" ng-include="src='views/my-collection.html'"></div>
  <div ng-if="target === 'my-messages'" ng-include="src='views/my-messages/my-messages.html'"></div>
  <div ng-if="target === 'referral'" ng-include="src='views/referral.html'"></div>
  <div ng-if="target === 'setting'" ng-include="src='views/setting.html'"></div>
  <div ng-if="target === 'my-packages'" ng-include="src='views/my-packages.html'"></div>
  <div ng-if="target === 'post-a-request'" ng-include="src='views/post-a-request.html'"></div>
  <div ng-if="target === 'my-request'" ng-include="src='views/myrequests.html'"></div>
  <div ng-if="target === 'manage-request'" ng-include="src='views/manage-request.html'"></div>

</div>




<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
      <span>Zolo Technologies Pvt. Ltd.</span>.
      <span>All rights reserved. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About Us</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact Us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of Use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>
    </p>
  </div>
</div>
