<!--&lt;!&ndash;<div class="footer">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="copyright">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="pull-left sm-pull-reset">&ndash;&gt;-->
<!--&lt;!&ndash;<span>Copyright <span class="copyright">&copy;</span> 2016 </span>&ndash;&gt;-->
<!--&lt;!&ndash;<span>Zolo Technologies Pvt. Ltd.</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span>All rights reserved. </span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="pull-right sm-pull-reset">&ndash;&gt;-->
<!--&lt;!&ndash;<span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About us</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;<footer>This is footer</footer>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;.main-content{&ndash;&gt;-->
<!--&lt;!&ndash;margin-bottom: 40px!important;&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->


<!--&lt;!&ndash;<footer class="nav-down">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container-fluid">&ndash;&gt;-->

<!--&lt;!&ndash;<div class="pull-left">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="f-13" style="margin-top: 15px;">Copyright © 2016 Zolo Technologies Pvt. Ltd.. All rights reserved</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<li><img src="../global/images/Zolo-Logo-c.png" alt="" width="120"></li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div class="pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;<ul class="footer-h-nav">&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="">About Us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="">Contact us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="">Terms of use</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="">Privacy Policy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="">Cancellation</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="">Refunds</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<li><a href="">Terms of use</a></li>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->


<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;// Hide Header on on scroll down&ndash;&gt;-->
<!--&lt;!&ndash;var didScroll;&ndash;&gt;-->
<!--&lt;!&ndash;var lastScrollTop = 0;&ndash;&gt;-->
<!--&lt;!&ndash;var delta = 5;&ndash;&gt;-->
<!--&lt;!&ndash;var navbarHeight = $('footer').outerHeight();&ndash;&gt;-->

<!--&lt;!&ndash;$(window).scroll(function(event){&ndash;&gt;-->
<!--&lt;!&ndash;didScroll = true;&ndash;&gt;-->
<!--&lt;!&ndash;});&ndash;&gt;-->

<!--&lt;!&ndash;setInterval(function() {&ndash;&gt;-->
<!--&lt;!&ndash;if (didScroll) {&ndash;&gt;-->
<!--&lt;!&ndash;hasScrolled();&ndash;&gt;-->
<!--&lt;!&ndash;didScroll = false;&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->
<!--&lt;!&ndash;}, 250);&ndash;&gt;-->

<!--&lt;!&ndash;function hasScrolled() {&ndash;&gt;-->
<!--&lt;!&ndash;var st = $(this).scrollTop();&ndash;&gt;-->

<!--&lt;!&ndash;// Make sure they scroll more than delta&ndash;&gt;-->
<!--&lt;!&ndash;if(Math.abs(lastScrollTop - st) <= delta)&ndash;&gt;-->
<!--&lt;!&ndash;return;&ndash;&gt;-->

<!--&lt;!&ndash;// If they scrolled down and are past the navbar, add class .nav-up.&ndash;&gt;-->
<!--&lt;!&ndash;// This is necessary so you never see what is "behind" the navbar.&ndash;&gt;-->
<!--&lt;!&ndash;if (st > lastScrollTop && st > navbarHeight){&ndash;&gt;-->
<!--&lt;!&ndash;// Scroll Down&ndash;&gt;-->
<!--&lt;!&ndash;$('footer').removeClass('nav-down').addClass('nav-up');&ndash;&gt;-->
<!--&lt;!&ndash;} else {&ndash;&gt;-->
<!--&lt;!&ndash;// Scroll Up&ndash;&gt;-->
<!--&lt;!&ndash;if(st + $(window).height() < $(document).height()) {&ndash;&gt;-->
<!--&lt;!&ndash;$('footer').removeClass('nav-up').addClass('nav-down');&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->

<!--&lt;!&ndash;lastScrollTop = st;&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->










<!-----------------Footer 2 starts here-------------->









<!--<div class="card m-t-60" style="padding: 10px 5px!important; margin-top: 16px!important; background-color: #f9f9f9;">-->

  <!--<div class="card">-->

    <!--<div class="row ">-->
      <!--<span class="col-xs-8 col-xs-offset-2  m-b-20 hidden-sm"></span>-->

      <!--<div class="col-md-12">-->
        <!--<h1 class="text-center f-26 need-a-z"><strong class="w-300">Need Assistance? Want To Buy Something? Become A Seller?   </strong></h1>-->


      <!--</div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<div class="col-md-4 col-sm-4">-->
        <!--<p class="text-muted text-center w-300 f-20"><i class="fa fa-phone zolo-c"></i>&nbsp;-->
          <!--Call <span class="zolo-c w-300 f-20"><a href="tel:088820-91091" class="zolo-c z-phone">+91 88820-91091</a></span> </p>-->
      <!--</div>-->



      <!--<div class="col-md-4 text-center col-sm-4">-->
        <!--<p class="text-muted text-center w-300 f-20">-->
          <!--<i class="fa fa-envelope-o  zolo-c f-20"></i>&nbsp;-->
          <!--<a href="mailto:hi@imzolo.com" class="text-muted border-bottom">hi@imzolo.com</a>-->
        <!--</p>-->



      <!--</div>-->



      <!--<div class="col-md-4 text-center col-sm-4">-->
        <!--<p class="text-muted text-center f-300 f-20">-->
          <!--<i class="fa fa-user  zolo-c f-20"></i>&nbsp;-->
          <!--<a href="" class="text-muted border-bottom"  ng-click="showTabDialog()">SignUp</a>-->
        <!--</p>-->

      <!--</div>-->









    <!--</div>-->

  <!--</div>-->

  <!--<div class="p-20 p-t-0" style=" margin-top: 16px!important; background-color: #fcfcfc">-->
    <!--<div class="row s-strip border" style="background: transparent;">-->
      <!--<div class="col-md-4 border-right">-->
        <!--<p class="text-center text-muted-z">-->
          <!--<i class="fa fa-key"></i> 100% Secure Payments</p>-->
      <!--</div>-->

      <!--<div class="col-md-4 border-right">-->
        <!--<p class="text-center text-muted-z">-->
          <!--<i class="fa fa-shield"></i> 100% Buyer Protection </p>-->
      <!--</div>-->

      <!--<div class="col-md-4">-->
        <!--<p class="text-center text-muted-z">-->
          <!--<i class="fa fa-refresh"></i> Buyer Friendly Refund Policy </p>-->
      <!--</div>-->

    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-9">-->
        <!--<h3 class="m-b-20">Categories</h3>-->
        <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->

        <!--<div><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10 font-color" target="_blank">Business</a> | <a ng-href="/contact" class=" m-r-10 font-color">Digital</a>|  <a ng-href="/terms-of-use" class="font-color m-r-10">Creative</a>|-->
          <!--<a ng-href="/privacy-policy" class=" font-color m-r-10">Consultation</a>| <a ng-href="/order-cancellation-policy" class=" font-color">Classes</a> | <a ng-href="/returns-refunds" class="m-l-10 font-color">Events</a> |<a ng-href="/returns-refunds" class="m-l-10 font-color">Products</a> |-->
          <!--<a ng-href="/contact" class="m-l-10 m-r-10 font-color">Gifts</a> | <a ng-href="/terms-of-use" class="font-color m-r-10">Summers Deals</a>| <a ng-href="/privacy-policy" class=" font-color" style="color: #cd5c5c!important;">Weddings Special</a>-->

        <!--</div>-->




      <!--</div>-->

      <!--<div class="col-md-3">-->
        <!--<h3 class=" text-center m-b-20">Download Our App</h3>-->
        <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
        <!--<ul class="footer-links ">-->
          <!--<li class="text-center" ><a href=""><img src="../global/images/google-play-badge.png" width="150" alt=""/></a></li>-->
          <!--<li class="m-t-10 text-center"><a href=""><img src="../global/images/app-store.png" width="150" alt=""/></a></li>-->
        <!--</ul>-->

      <!--</div>-->

    <!--</div>-->
  <!--</div>-->




  <!--<div class="row p-20 ">-->


    <!--<div class="col-md-4 text-center hidden-xs">-->
      <!--&lt;!&ndash;<h3 class="m-b-20">Download Our App</h3>&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="footer-links">&ndash;&gt;-->
      <!--&lt;!&ndash;<li ><a href=""><img src="../global/images/google-play-badge.png" width="150" alt=""/></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-10"><a href=""><img src="../global/images/app-store.png" width="150" alt=""/></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->

      <!--<h3>About Us</h3>-->
      <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
      <!--<p class="text-justify">Zolo is India's first marketplace for on-demand talent where you can discover thousands of talented people ready to help you get anything done.-->

        <!--Imagine having an army of people with a variety of 'specialized skills & talent' ready to help you complete your to-do list, finish your projects <a-->
          <!--href="">Read More</a> </p>-->

    <!--</div>-->


    <!--<div class="col-md-4 text-center">-->
      <!--<h3 class="w-500 f-18 text-center m-b-20">Zolo Technologies</h3>-->
      <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="footer-links">&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Refunds</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">About Us</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Contact us</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Terms Of Use</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Cancellation</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li class="m-t-5"><a href="">Privacy Policy</a></li>&ndash;&gt;-->



      <!--&lt;!&ndash;</ul>&ndash;&gt;-->

      <!--<div class="row m-l-50">-->
        <!--<div class="col-xs-6">-->
          <!--<p class="m-t-0"><a ng-href="/terms-of-use" class="font-color">Terms of Use</a></p>-->
          <!--<p class="m-t-0"><a ng-href="http://www.imzolo.com/aboutus" class=" font-color" target="_blank">About Us</a></p>-->
          <!--<p class="m-t-0"><a ng-href="/contact" class=" font-color">Contact Us</a></p>-->

        <!--</div>-->

        <!--<div class="col-xs-6">-->
          <!--<p class="m-t-0"><a ng-href="/privacy-policy" class=" font-color">Privacy Policy</a></p>-->
          <!--<p class="m-t-0"><a ng-href="/order-cancellation-policy" class=" font-color">Cancellation</a></p>-->
          <!--<p class="m-t-0"><a ng-href="/returns-refunds" class=" font-color">Refunds</a></p>-->
        <!--</div>-->

      <!--</div>-->




    <!--</div>-->





    <!--<div class="col-md-4 text-center">-->
      <!--<h3 class="m-b-20">Payment Options</h3>-->
      <!--&lt;!&ndash;<hr class="custom-hr m-b-20">&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="footer-links-s text-center">&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-facebook fa-3x f-hover"></i></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-google-plus fa-3x g-hover"></i></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-linkedin fa-3x l-hover"></i></a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href=""><i class="fa fa-instagram fa-3x i-hover"></i></a></li>&ndash;&gt;-->


      <!--&lt;!&ndash;</ul>&ndash;&gt;-->



      <!--<ul class="footer-links-pay m-t-20 text-center">-->
        <!--<li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/MasterCard.png" alt="" height="20"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/visa.png" alt="" height="20"></li>-->
        <!--<li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/maestro_10.jpg" alt="" height="20"></li> <li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/payumoney.png" alt="" height="20" class="m"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/Paytm.png" alt="" height="20" class="m-l-5"></li> </ul>-->

      <!--&lt;!&ndash;<ul class="footer-links">&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/maestro_10.jpg" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/visa.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/MasterCard.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/payumoney.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><img src="../global/images/Paytm.png" alt=""></li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&ndash;&gt;-->

    <!--</div>-->

    <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->



    <!--&lt;!&ndash;<ul class="nav nav-tabs m-t-20">&ndash;&gt;-->
    <!--&lt;!&ndash;<li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/MasterCard.png" alt="" height="20"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/visa.png" alt="" height="20"></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/maestro_10.jpg" alt="" height="20"></li> <li> <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/payumoney.png" alt="" height="20" class="m"></li> <li><img src="https://s3-ap-southeast-1.amazonaws.com/zolo/booking_icons/Paytm.png" alt="" height="20" class="m-l-5"></li> </ul>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->






  <!--</div>-->




  <!--<div class="p-40 p-b-10" style="background: #fcfcfc;">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 ">-->
        <!--<div class="text-center" style="height: 30px; border-bottom: 1px solid #dedede;">-->
  <!--<span style="font-size: 40px; background-color: #fcfcfc; padding: 0 10px;">-->
              <!--<img src="../global/images/Zolo-Logo-footer.png" alt="" width="150">-->

  <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->



    <!--<div class="row m-t-40">-->
      <!--<div class="col-md-12">-->
        <!--<div class="footer-logo">-->
        <!--<span>-->

        <!--</span>-->
        <!--</div>-->


        <!--<ul class="footer-links-s text-center">-->
          <!--<li><a href=""><i class="fa fa-facebook-square fa-3x f-hover"></i></a></li>-->
          <!--<li><a href=""><i class="fa fa-google-plus-square fa-3x g-hover"></i></a></li>-->
          <!--<li><a href=""><i class="fa fa-linkedin-square fa-3x l-hover f-45"></i></a></li>-->
          <!--<li><a href=""><i class="fa fa-instagram fa-3x i-hover"></i></a></li>-->


        <!--</ul>-->
        <!--<p class="text-center m-b-0">Copyright © 2016 Zolo Technologies Pvt. Ltd.. All rights reserved</p>-->

      <!--</div>-->
    <!--</div>-->

  <!--</div>-->






<!--</div>-->
