<div ng-show="loading" class="row">
  <div class="col-md-12 text-center m-t-60">

    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
    </div>
  </div>
</div>



<div ng-hide="loading" class="row">
  <div ng-if="msg=='code expired'" class="col-lg-12">
    <!-- HERE COMES YOUR CONTENT -->
    <div class="row">

      <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-content">
              <p class="w-300 f-20 pulse animated text-center">
                Password reset code expired !
              </p>
              <hr>
              <div class="row">
                <div class="col-md-12 col-xs-12 zolo-center">

                  <p class="w-300 f-20 pulse animated text-center"><a ng-href="/sendResetMail"> Click here </a> to resend password reset link</p>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
