
<div class="container">
  <div class="card">

  <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="font-size: 10em;">404</h1>
      <h2 class="f-32 text-center"><strong>Page Not Found</strong> <i class="fa fa-exclamation-triangle f-32" aria-hidden="true"></i>
      </h2>
      <p class="text-center f-20">Sorry, but the page you were trying to view does not exist.</p>
      <p class="text-center f-18">It looks like this was the result of either:</p>




      </div>
    </div>


  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <ul class="f-20 m-t-20">
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
      </ul>

      <p class="text-center f-18"><a ng-href="/">Return to Home page</a></p>



    </div>
  </div>











</div>

</div>
