<!--
<div>
    <script type="text/javascript">
        var photos=[];
        function uploadWidget(){
            cloudinary.openUploadWidget({ cloud_name: 'scaledesk', upload_preset: 'packages786',
                        cropping: 'server', 'folder': 'user_photos',cropping_aspect_ratio:'2.01' },
                    function(error, result) { console.log(error, result)
                        result=result[0];
                        coordinates=result.coordinates.custom[0];
                        coordinate1='x_'+coordinates[0];
                        coordinate2='y_'+coordinates[1];
                        coordinate3='w_'+coordinates[2];
                        coordinate4='h_'+coordinates[3];
                        console.log(coordinate1);
                        console.log(coordinate2);
                        console.log(coordinate3);
                        console.log(coordinate4);
                        console.log(result.url);
                        url=result.url;
                        target_variable='upload/';
                        index_local=url.indexOf(target_variable)+(target_variable.length);
                        first_str=(url.slice(0,index_local));
                        last_str=url.slice(index_local);
                        final_url=first_str+coordinate1+','+coordinate2+','+coordinate3+','+coordinate4+',c_crop'+'/'+last_str;
                        console.log(first_str);
                        console.log(last_str);
                        console.log(final_url);

                            photos.push(final_url);

                        delete coordinates;
                        delete coordinate1;
                        delete coordinate2;
                        delete coordinate3;
                        delete coordinate4;
                        delete result;
                        delete first_str;
                        delete last_str;
                        refresh();
                    });
        };
    </script>
    <h1>Soon here will be image Cropping</h1>
        <button id="upload_widget_opener" onclick="uploadWidget()">Upload multiple images</button>
    <div id="images_to_show">
    </div>
    <button ng-click="takePhotos()">save photos</button>
        <script>
            function refresh(){
                document.getElementById('images_to_show').innerHTML='';
                angular.forEach(photos,function(photo){
                    document.getElementById('images_to_show').innerHTML=document.getElementById('images_to_show').innerHTML+'&nbsp;<img width="150px" height="auto" src="'+photo+'"/>';
                });
            }
        </script>
</div>-->
