<md-dialog aria-label="Terms and Conditions">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Terms and Condition</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">

    </md-dialog-content>
    <md-dialog-actions layout="row">

      <span flex></span>

    </md-dialog-actions>
</md-dialog>

