
<!-- <div class="header">
    <h2><strong>Blank</strong> Page</h2>

    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="dashboard.html">Make</a>
            </li>
            <li>
                <a href="#">Pages</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </div>

</div> -->
<div class="row">
  <div class="col-lg-12">
    <!-- HERE COMES YOUR CONTENT -->

    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Hi {{user_profile.name}}</span>
            <p>Become a partner</p>
          </div>
          <div class="card-action">
            <a href="#">Know More</a>
          </div>
        </div>
      </div>


      <div class="col-md-9">
        <div class="slick" data-autoplay="true">
          <div class="slide">
            <h3 class="bg-primary">1</h3>
          </div>
          <div class="slide">
            <h3 class="bg-primary">2</h3>
          </div>
          <div class="slide">
            <h3 class="bg-primary">3</h3>
          </div>
        </div>
      </div>


    </div>


    <div class="row">

      <div class="col-md-3">

      </div>
      <div class="col-md-9">
        <h3 class="m-t-0 border-top p-t-20"><strong>You May Like</strong></h3>
        <div class="widget widget_slider">
          <div class="responsive-slick" data-arrows="true" data-num-slides="3" data-num-scroll="3">
            <div class="slide">
              <!-- <h3 class="bg-primary">1</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="slide">
              <!-- <h3 class="bg-primary">2</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <!-- <h3 class="bg-primary">3</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <!-- <h3 class="bg-primary">4</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <!-- <h3 class="bg-primary">5</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <!-- <h3 class="bg-primary">6</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <!-- <h3 class="bg-primary">7</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <!-- <h3 class="bg-primary">8</h3> -->
              <div class="page-content page-app page-profil" style="margin-top: 1px !important; top: 1px !important;">
                <div class="profil-content">
                  <div class="item hover-effect">
                    <div class="user">
                      <img src="../global/images/gallery/6.jpg" class="img-responsive hover-img" alt="">
                      <!-- <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> -->
                      <div class="info zolo-custom-info-card">
                        <!-- div class="f-24">Sarah Bones</div> -->
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>

                        <div class="zolo-card-user-location">
                          <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                          <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                        </div>
                      </div>
                    </div>
                    <div class="comment zolo-custom-card-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>

                    <!--custom-->

                    <div class="more">
                      <div class="row">
                        <div class="col-xs-6 ">
                          <span class="card-price">&#8377;24000</span>
                        </div>

                        <div class="col-xs-6 ">
                          <p class="card-by-user pull-right">By Tushar</p>
                        </div>


                      </div>
                    </div>

                    <!--end-->




                    <div class="more">
                      <div class="row">
                        <div class="col-sm-4 like">
                          <i class="fa fa-heart"></i> Like
                        </div>
                        <div class="col-sm-4">
                          <div class="comment-number">
                            <i class="fa fa-tasks"></i>Collections
                          </div>
                        </div>
                        <div class="col-sm-4 more-share">
                          <i class="icon-share"></i> Share
                        </div>
                      </div>
                      <div class="row comments">
                        <div class="col-sm-12">
                          <ul>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Wow! Looks great!
                                </p>
                              </div>
                            </li>
                            <li class="clearfix">
                                  <span class="pull-left">
                                  <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                  </span>
                              <div class="clearfix">
                                <div class="info">
                                  <div class="name"><strong class="primary-font">John Smith</strong></div>
                                  <div class="date">12 mins ago</div>
                                </div>
                                <p>
                                  Hey! What's up here? Give me a call soon.
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="row share">
                        <div class="share-facebook">
                          <i class="fa fa-facebook"></i>
                        </div>
                        <div class="share-twitter">
                          <i class="fa fa-twitter"></i>
                        </div>
                        <div class="share-google">
                          <i class="fa fa-google-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>



    <div class="row">

      <div class="col-md-3">

      </div>
      <div class="col-md-9">
        <h3 class="m-t-0 border-top p-t-20"><strong>Feetured Gigs</strong></h3>
        <div class="widget widget_slider">
          <div class="responsive-slick" data-arrows="true" data-num-slides="3" data-num-scroll="3">
            <div class="slide">
              <h3 class="bg-primary">1</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">2</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">3</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">4</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">5</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">6</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">7</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">8</h3>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="row">

      <div class="col-md-3">

      </div>
      <div class="col-md-9">
        <h3 class="m-t-0 border-top p-t-20"><strong>Feetured Sellers</strong></h3>
        <div class="widget widget_slider">
          <div class="responsive-slick" data-arrows="true" data-num-slides="3" data-num-scroll="3">
            <div class="slide">
              <h3 class="bg-primary">1</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">2</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">3</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">4</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">5</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">6</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">7</h3>
            </div>
            <div class="slide">
              <h3 class="bg-primary">8</h3>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>





<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
      <span>Zolo Technologies Pvt. Ltd.</span>.
      <span>All rights reserved. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About us</a> | <a ng-href="#contact" class="m-l-10 m-r-10">Contact us</a> |   <a ng-href="#terms-of-use" class="m-l-10 m-r-10">Terms of use</a> | <a href="#privacy-policy" class="m-l-10">Privacy Policy</a></span>
    </p>
  </div>
</div>
