<style>
  .new-message{
    background-color: #f7f7f7;
  }
</style>


<div class="container-fluid">

  <div class="zolo-messaging">




    <div class="row" ng-hide="messageloading" >
      <div class="col-md-3" >
        <div class="card" >
          <ul class="navbar nav">
            <li><a class="border-bottom" ng-click="_message.active_placeholder=placeholder;_message.updateMessageList();_message.go_to_message=false;" ng-class="{'row has-to-click active-local':placeholder.id==_message.active_placeholder.id, 'row has-to-click':placeholder.id!=_message.active_placeholder.id}"  ng-repeat="placeholder in _message.placeholders">{{placeholder.title.replace('_',' ')|uppercase}}&nbsp;<span class="badge badge-danger">{{placeholder.total_messages_number}}</span></a>
            </li>
          </ul>
        </div>
      </div>




      <!--Show the listing of the message-->
      <div class="col-md-9" ng-if="_message.go_to_message==false">
        <div class="card">
          <div class="row m-b-5 ">
            <ul class="nav tabs">
              <li class="col-md-4">
                <a href="" >

                  <div class="text-center f-18 text-c">ALL</div>
                </a>
              </li>

              <li class="col-md-4"><a href="" >

                <div class=" text-center f-18 text-c" >Read</div>
              </a>
              </li>

              <li class="col-md-4"><a href="">

                <div class=" text-center f-18 text-c">Unread</div>
              </a>
              </li>

            </ul>
          </div>
          <hr style="margin-top:5px !important;">


          <a ng-if="_message.messages.length>0">
            <div class="row m-t-5 border-bottom" ng-repeat="message in _message.messages track by $index" ng-click="_message.setMessageRead($index);_message.openMessage($index);">




              <!--<div ng-class="{' has-to-click new-message':message.read==0,' has-to-click':message.read==1}">

              <div class="col-md-2 ">
                <div class="text-center w-600" ng-bind="message.sender.name"></div>
              </div>

              <div class="col-md-4">
                <span class="text-center w-600" ng-bind="message.subject | limitTo: 27"></span><span ng-if="message.subject.length>30"><strong>...</strong></span>
              </div>


              <div class="col-md-6">
                <div style="text-align: justify" ng-bind="message.body | limitTo:50"></div>
              </div>

    </div>-->
              <div class="new-message">
                <!--<div ng-class="{'new-message':message.read==1}">-->

                <div class="col-md-3">
                  <div class=" w-600" ng-bind="message.sender.name"></div>
                </div>

                <div class="col-md-9">
                  <span class="text-center w-600" ng-bind="message.subject"></span>-<span style="text-align: justify" ng-bind="message.body | limitTo:150"></span>
                </div>

              </div>

            </div>
          </a>
<div class="row" ng-if="_message.messages.length==0">
  <p class="text-center large-size f-20 m-b-100 m-t-100 ">No Message Found</p>
</div>

          <!--</div>-->
        </div>


      </div>
    <!--Show the particular message-->
    <div class="col-md-9" ng-if="_message.go_to_message==true">
      <div class="row" >
        <div class="col-md-12" style="padding-left: 2%">
          <h2 ng-bind="_message.current_message.subject"></h2>
          <hr size="20" color="black">
        </div>
        <div class="row" ng-repeat="local_message in _message.current_messages_thread track by $index">
          <div class="col-md-12" style="padding-left: 3.5%"><p>
            <span ng-if="_message.active_placeholder.id==local_message.receiver_placeholder_id"><strong>from: </strong><span style="font-weight: bold" ng-bind="local_message.sender.name"><!--sender name--> </span> to <span style="font-weight: bold">Me</span> </span>
            <span ng-if="_message.active_placeholder.id!=local_message.receiver_placeholder_id"><strong>by: </strong><span style="font-weight: bold">Me</span> to <span style="font-weight: bold" ng-bind="local_message.receiver.data.name"><!--sender name--> </span> </span>
            <span style="padding-left: 2%"><i class="fa fa-clock-o" aria-hidden="true"></i>:<span style="font-weight: bold" ng-bind="local_message.timestamp"><!--date--></span></span></p></div>
          <div class="col-md-12" style="padding-left: 3.5%;text-align: justify" ng-bind="local_message.body">
          </div>
          <div class="col-md-12" ng-if="_message.current_message.receiver_placeholder_id==3&&_message.current_message.has_buy_action==0">
            <div class="col-md-6">Days to Complete: <span style="font-weight: bold" ng-bind="_message.current_message.days"></span></div>
            <div class="col-md-6">Price: <span style="font-weight: bold" ng-bind="_message.current_message.price"></span></div>
          </div>
          <hr ng-if="(_message.current_messages_thread.length-1)!=$index" color="grey">
        </div>
        <div class="row" ng-bind="_message.success" style="color: green">
        </div>
        <div class="row" ng-bind="_message.error" style="color: red">
        </div>
        <div class="row" ng-if="_message.current_message.receiver_placeholder_id==3&&_message.current_message.has_buy_action==0&&_message.active_placeholder.id!=2">
          <div class="col-md-12">
            <hr color="grey">
            <h3>This is the custom offer a user wants. Kindly send your quotation for the offer.</h3>
          </div>
          <div class="col-md-12" ng-if="_message.current_message.receiver_placeholder_id==3&&_message.current_message.has_buy_action==0&&_message.active_placeholder.id!=2">
            <div class="col-md-6">Enter Days to Complete: <input ng-model="_message.myreply.days" placeholder="Enter Days" type="number" min="1"/></div>
            <div class="col-md-6">Enter Price: <input ng-model="_message.myreply.price" placeholder="Enter price" type="number" min="1"/></div>
          </div>
        </div>
        <div class="row" ng-if="_message.current_message.has_buy_action==0&&_message.active_placeholder.id!=2">
          <div class="col-md-8"><textarea rows="10" style="margin-top: 3%;margin-left: 1%;padding: 2%;width: 95%" ng-model="_message.myreply.body" ng-keypress="_message.success='';_message.error=''"></textarea></div>
          <div class="col-md-4" style="margin-top: 1.4%;">
            <md-button ng-click="_message.mysendMessage()" style="background-color: #78588C;color: white"> Reply</md-button>
          </div>
        </div>
        <div class="row" ng-if="_message.current_message.has_buy_action==1&&_message  .active_placeholder.id!=2" style="margin-left: 2%;min-height: 100px;">
          <br/>
          <p><strong>Days in which the work will complete: </strong><span>{{_message.current_message.days}}</span></p><br/>
          <md-button style="background-color: #78588C;color: #FFFFFF;" ng-click="_message.book()">Buy(&#8377; {{_message.current_message.price}})</md-button>
        </div>
      </div>
    </div>



  </div>
</div>
</div>

<div ng-show="messageloading" class="card">
  <div class="col-md-12 text-center m-t-60">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
    </div>
  </div>
</div>

<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
      <span>Zolo Technologies Pvt. Ltd.</span>.
      <span>All rights reserved. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About Us</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact Us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of Use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>
    </p>
  </div>
</div>




<script>
  $(".has-to-click").mouseover(function(){
    $(this).addClass('on-hover');
  });
  $(".has-to-click").mouseout(function(){
    $(this).removeClass('on-hover');
  });
  $(".new-message").mouseover(function(){
    $(this).removeClass('new-message');
  });
  $(".new-message").mouseout(function(){
    $(this).addClass('new-message');
  });
</script>
