


<div class="modal-content" >
  <div class="modal-body text-center " style="padding: 0 10px;">
    <div class="row ">
      <div class="col-xs-11 text-center">
        <h3><strong>Verify Your Mobile</strong></h3>
      </div>


      <div class="col-xs-1 m-t-20">
        <i class="close fa fa-times-circle fa-2x" ng-click="DismissModal()" aria-label="Close"></i>
      </div>


    </div>
    <hr>





    <div class="row m-t-40">
      <div class="col-md-6 col-md-offset-3 text-center">
        <input class="form-control" ng-model="user.mobile" ng-keydown="keyPressed()" placeholder="Enter Your Mobile Number to verify"/>
        <button class="btn zolo-btn text-c" ng-click="send_verification_code()">Click to send verification code.</button>
      </div>
    </div>



    <div class="row m-t-40">
      <div class="col-md-6 col-md-offset-3">
        <input class="form-control" ng-model="user.code" ng-keydown="keyPressed()" placeholder="Enter verification code you got"/>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <button class="btn zolo-btn text-c" ng-click="verifyMobile(user);" type="button" data-dismiss="modal">Verify Mobile</button>
      </div>
    </div>



    <div class="row m-t-20 m-b-40" ng-if="success!=''">
      <div class="col-md-12 zolo-center">
        <span class="text-success">{{success}}</span>
      </div>
    </div>


    <div class="row m-t-20" ng-if="error!=''" style="padding-bottom: 40px;">
      <div class="col-md-12 text-center">
        <span class="text-danger">{{error}}</span>
      </div>
    </div>


  </div>


</div>
