<div class="card" >
<div class="card" ng-controller="CollectionController">
  <div class="row">
    <div class="col-md-9 col-xs-6">
      <h2 class="text-left m-l-10">{{collection.name}}</h2>
    </div>
    <div class="col-md-3 col-xs-6">
      <a href="#dashboard/my-collection" class="pull-right collection-back-btn">Back To Collection</a>
    </div>
  </div>
  <hr class="custom-hr">

  <div ng-hide="loading_collection_package" ng-if="collection.Packages.data.length <= 0" class="row zolo-center">
    <div class="col-md-8 col-md-offset-2 text-center f-20 m-t-20">
      There are no packages in this collection.
      <br>
      Please click below to add some packages to this collection.
      <hr class="custom-hr">
    </div>
    <div class="col-md-12 col-xs-12 zolo-center">
      <a ng-href="#/" class="btn btn-zolo btn-transparent">
        Browse Packages
      </a>
    </div>
  </div>

  <div ng-hide="loading_collection_package" ng-if="collection.Packages.data.length >0" class="row">



    <div ng-repeat="package in collection.Packages.data" class="col-md-4 col-sm-6 m-t-20 m-b-50">

      <div package-card package="package" master-collections="collections">

      </div>
      <div class="row zolo-center">
        <button ng-click="showConfirm(package,collection.id)" class="btn btn-transparent btn-warning zolo-center">Remove from collection</button>
      </div>
    </div>
  </div>


  <div ng-show="loading_collection_package" class="row p-20 text-center">
    <div class="col-md-12 text-center">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
      </div>
    </div>
  </div>


</div>
