<div class="container-fluid">
<div class="row">
  <div ng-hide="Loading_mypurchase" class="card card-5-15">
    <div  class="dashboard-sellers">
      <div class="col-md-6 account-summary-right-border">
        <div class="dashboard-seller-main-heading">
          <h2 class="text-center">Orders</h2>
          <hr class="custom-hr">
        </div>

        <div class="row ">
          <div class="col-xs-4"><p class="text-center"><strong>Total Bought</strong></p></div>
          <div class="col-xs-4"><p class="text-center"><strong>Completed</strong></p></div>
          <div class="col-xs-4"><p class="text-center"><strong>In Queue</strong></p></div>
        </div>

        <div class="row ">
          <div class="col-xs-4"><h4 class="text-center"><strong>{{profile.total_order_placed}}</strong></h4></div>
          <div class="col-xs-4"><h4 class="text-center"><strong>{{profile.completed_orders}}</strong></h4></div>
          <div class="col-xs-4"><h4 class="text-center"><strong>{{profile.ongoing_orders}}</strong></h4></div>
        </div>



      </div>



      <div class="col-md-6">
        <div class="dashboard-seller-main-heading">
          <h2 class="text-center">Orders</h2>
          <hr class="custom-hr">
        </div>

        <div class="row ">
          <div class="col-xs-12 text-center"><p class="text-center"><strong>Amount Spent</strong></p></div>
        </div>

        <div class="row ">
          <div class="col-xs-12 text-center"><h4 class="text-success"><strong>&#8377;{{profile.purchases.amount}}</strong></h4></div>
        </div>
      </div>
    </div>
  </div>
</div>



<div  ng-hide="Loading_mypurchase" class="row">
  <div class="card card-5-15">
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Manage Purchases</strong></h2>
        <hr class="custom-hr">
        <ul class="nav nav-tabs nav-primary manage-sales">
          <li><a ng-click="MyallPurchase()">All purchases</a></li>

          <!--<li><a href="">New</a></li>-->
          <li><a ng-click="filterMyPurchase('payment_done')">In process</a></li>
          <!--<li><a href="">Late</a></li>-->
          <!--<li><a href="">Deliver</a></li>-->
          <li><a ng-click="filterMyPurchase('completed')">Completed</a></li>
          <li><a ng-click="filterMyPurchase('cancelled')">Cancelled</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="panel-header md-panel-controls">

        </div>
        <div ng-if="my_purchases.length>0" class="panel-content">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Sellers</th>
              <th>Packages</th>
              <th>Order Date</th>
              <th>Order Time</th>
              <th>Delivery Date</th>
              <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="purchase in my_purchases | orderBy :'-order_date'">
              <td>{{$index+1}}</td>
              <td>{{purchase.seller_profile.name}}</td>
              <td><a ng-href="/orderSuccessful/{{purchase.id}}/">{{purchase.package_title}}</a></td>
              <td>{{purchase.order_date}}</td>
              <td>{{purchase.order_time}}</td>
              <td>{{purchase.delivery_date}}</td>
              <td>&#8377; {{purchase.total_price}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="my_purchases.length<=0" class="panel-content text-center">
          <img width="100" height="100" class="img-circle" src="../global/images/SALES-PURCHASE.png" alt="">
          <p class="text-center f-18 w-600">You  don't have any purchases !</p>
        </div>

      </div>
    </div>
  </div>



</div>
  <div ng-show="Loading_mypurchase" class="row p-20 text-center card">
    <div class="col-md-12 text-center m-t-60">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
      </div>
    </div>
  </div>

</div>
