<div class="row zolo-pdp-page">
  <div class="card">
    <div class="dashboard-sellers">
      <div class="col-md-6 account-summary-right-border">
        <div class="dashboard-seller-main-heading">
          <h3 class="text-center">Orders</h3>
        </div>

        <div class="row ">
          <div class="col-xs-4"><strong>Total Orders</strong></div>
          <div class="col-xs-4"><strong>Completed</strong></div>
          <div class="col-xs-4"><strong>In Queue</strong></div>
        </div>

        <div class="row ">
          <div class="col-xs-4">{{profile.sales.count}}</div>
          <div class="col-xs-4">{{profile.sales.count-profile.sales_in_queue}}</div>
          <div class="col-xs-4">{{profile.sales_in_queue}}</div>
        </div>



      </div>



      <div class="col-md-6">
        <div class="dashboard-seller-main-heading">
          <h3 class="text-center">Orders</h3>
        </div>

        <div class="row ">
          <div class="col-xs-4"><strong>Total Amount</strong></div>
          <div class="col-xs-4"><strong>Received</strong></div>
          <div class="col-xs-4"><strong>Pending</strong></div>
        </div>

        <div class="row ">
          <div class="col-xs-4">&#8377; {{profile.sales.amount}}</div>
          <div class="col-xs-4">&#8377;0</div>
          <div class="col-xs-4">&#8377;{{profile.sales.amount}}</div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Manage Sales</strong></h2>
        <ul class="nav nav-tabs nav-primary manage-sales">
          <li><a href="">New</a></li>
          <li><a href="">Active</a></li>
          <li><a href="">Late</a></li>
          <li><a href="">Deliver</a></li>
          <li><a href="">Complete</a></li>
          <li><a href="">Cancelled</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="panel-header md-panel-controls">

        </div>
        <div ng-if="my_seles.data.length>0" class="panel-content">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Buyers</th>
              <th>Packages</th>
              <th>Order Date</th>
              <th>Order Time</th>
              <th>Delivery Date</th>
              <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="my_sale in my_seles.data">
              <td>{{$index+1}}</td>
              <td>{{}}</td>
              <td><a ng-href="#orderSummary/{{my_sale.id}}">{{my_sale.package_title}}</a></td>
              <td>{{}}</td>
              <td>{{}}</td>
              <td>{{}}</td>
              <td>&#8377; {{my_sale.deal_price}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="my_seles.data.length<=0" class="panel-content">
          <p>You have not any sales</p>
        </div>
      </div>
    </div>
  </div>



</div>



