
<div class="container-fluid">

<div  ng-hide="Loading_mysale" class="row">
  <div class="card card-5-15">
    <div class="dashboard-sellers">
      <div class="col-md-6 account-summary-right-border">
        <div class="dashboard-seller-main-heading">
          <h2 class="text-center">Sales Summary</h2>
          <hr class="custom-hr">
        </div>

        <div class="row ">
          <div class="col-xs-4"><p class="text-center f-18">Total Orders</p></div>
          <div class="col-xs-4"><p class="text-center f-18">Completed</p></div>
          <div class="col-xs-4"><p class="text-center f-18">In Queue</p></div>
        </div>

        <div class="row ">
          <div class="col-xs-4 text-center"><strong>{{profile.sales.count}}</strong></div>
          <div class="col-xs-4 text-center"><strong>{{profile.sales.count-profile.sales_in_queue}}</strong></div>
          <div class="col-xs-4 text-center"><strong>{{profile.sales_in_queue}}</strong></div>
        </div>



      </div>



      <div class="col-md-6">
        <div class="dashboard-seller-main-heading">
          <h2 class="text-center">Payments</h2>
          <hr class="custom-hr">
        </div>

        <div class="row ">
          <div class="col-xs-6 "><p class="text-center f-18">Amount Earned</p></div>
          <!--<div class="col-xs-4 "><p class="text-center f-18">Received</p></div>-->
          <div class="col-xs-6 "><p class="text-center f-18">In Process</p></div>
        </div>

        <div class="row ">
          <div class="col-xs-6 text-center"><strong>&#8377; {{completed_earning}}</strong></div>
          <!--<div class="col-xs-4 text-center"><strong>&#8377;0</strong></div>-->
          <div class="col-xs-6 text-center"><strong>&#8377;{{pending_earning}}</strong></div>
        </div>
      </div>
    </div>
  </div>
</div>



<div ng-hide="Loading_mysale" class="row">
  <div class="card card-5-15">
    <div class="row">
      <div class="col-md-12">
        <h2><strong>Manage Sales</strong></h2>
        <hr class="custom-hr">
        <ul class="nav nav-tabs nav-primary manage-sales">
          <li ng-class="{'active':allsale_active==true}"><a ng-click="MyallSales()">All sales</a></li>
          <!--<li><a ng-click="orderMySales('package_available_dates')">New</a></li>-->
          <li ng-class="{'active':inprocess_active==true}"><a ng-click="filterMySales('payment_done')">In process</a></li>
          <!--<li><a ng-click="filterMySales('payment_done')">Late</a></li>-->
          <li ng-class="{'active':delivered_active==true}" ><a ng-click="filterMySales('completed')">Delivered</a></li>
          <!--<li><a ng-click="filterMySales('completed')">Transaction Completed</a></li>-->
          <li ng-class="{'active':cancelled_active==true}"><a ng-click="filterMySales('cancelled')">Cancelled</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="panel-header md-panel-controls">

        </div>
        <div ng-if="my_seles.length>0" class="panel-content">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Buyers Name</th>
              <th>Packages</th>
              <th>Order Date</th>
              <th>Order Time</th>
              <th>Delivery Date</th>
              <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="my_sale in my_seles| orderBy :'-order_date' ">
              <td>{{$index+1}}</td>
              <td>{{my_sale.buyer_name}}</td>
              <td><a ng-href="/orderSummary/{{my_sale.id}}/">{{my_sale.package_title}}</a></td>
              <td>{{my_sale.order_date}}</td>
              <td>{{my_sale.order_time}}</td>
              <td>{{my_sale.delivery_date}}</td>
              <td>&#8377; {{my_sale.total_price}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="my_seles.length<=0" class="panel-content text-center">
          <img width="100" height="100" class="img-circle" src="../global/images/SALES-PURCHASE.png" alt="">
          <p class="text-center f-18 w-600">You  don't have any sales !</p>
          <div class="row m-t-20">
            <div class="col-md-4 text-center">
              <p class="w-700 text-center">
                <img src="global/images/Circled-Filled-50.png" alt="">
                Post a package</p>
            </div>
            <div class="col-md-4 text-center">
              <p class="w-700 text-center">
                <img src="global/images/Circled-2-Filled-50.png" alt="">
                Get Orders</p>
            </div>
            <div class="col-md-4 text-center">
              <p class="w-700 text-center">
                <img src="global/images/Circled-3-Filled-50.png" alt="">
                Get Paid</p>
            </div>
          </div>
          <div class="row text-center m-t-20">
            <a ng-href="/post-a-package" ng-click="" class="btn btn-success">Post a package</a>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

  <div ng-show="Loading_mysale" class="row p-20 text-center card">
    <div class="col-md-12 text-center m-t-60">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
      </div>
    </div>
  </div>


</div>
