<div class="card">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><strong>Wishlist</strong></h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <div class="wishlist-sort"><strong>Sort By:</strong></div>

    </div>


    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li><a href="">Date</a></li>
        <li><a href="">Price</a></li>
        <li><a href="">Category</a></li>

      </ul>

    </div>
  </div>
  <hr>



  <div class="row">
    <div ng-repeat="wishlist in user_wishlist" class="col-md-4">
      <!--
                      <div class="page-content page-app page-profil zolo-custom-card">


                          <div class="profil-content">

                              <div class="item hover-effect">
                                  <div class="user">
                                      <img src="../global/images/6.png" class="img-responsive hover-img" alt="">
                                      &lt;!&ndash; <img src="../assets/global/images/profil_page/friend4.jpg" class="img-user" alt="picture 2"> &ndash;&gt;
                                      <div class="info zolo-custom-info-card">
                                          &lt;!&ndash; div class="f-24">Sarah Bones</div> &ndash;&gt;
                                          <div class="row">
                                              <div class="col-md-12 text-center">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                              </div>
                                          </div>

                                          <div class="zolo-card-user-location">
                                              <div class="location pull-left"><i class="icon-pointer"></i> New Delhi,</div>
                                              <div class="date pull-right"><i class="icon-calendar"></i> 14 hours ago</div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="comment zolo-custom-card-text">
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                  </div>

                                  &lt;!&ndash;custom&ndash;&gt;

                                  <div class="more">
                                      <div class="row">
                                          <div class="col-xs-6 ">
                                              <span class="card-price">&#8377;24000</span>
                                          </div>

                                          <div class="col-xs-6 ">
                                              <sp class="card-by-user pull-right">By Tushar</p>
                                          </div>


                                      </div>
                                  </div>

                                  &lt;!&ndash;end&ndash;&gt;




                                  <div class="more">
                                      <div class="row">
                                          <div class="col-xs-4 like">
                                              <i class="fa fa-heart"></i> Like
                                          </div>
                                          <div class="col-xs-4">
                                              &lt;!&ndash; <div class="comment-number"> &ndash;&gt;
                                              <i class="fa fa-tasks"></i>Collections
                                              &lt;!&ndash; </div> &ndash;&gt;
                                          </div>
                                          <div class="col-xs-4 more-share">
                                              <i class="icon-share"></i> Share
                                          </div>
                                      </div>
                                      <div class="row comments">
                                          <div class="col-sm-12">
                                              <ul>
                                                  <li class="clearfix">
                                        <span class="pull-left">
                                        <img src="../global/images/profil_page/friend5.jpg" alt="friend 1">
                                        </span>
                                                      <div class="clearfix">
                                                          <div class="info">
                                                              <div class="name"><strong class="primary-font">Anna Martin</strong></div>
                                                              <div class="date">12 mins ago</div>
                                                          </div>
                                                          <p>
                                                              Wow! Looks great!
                                                          </p>
                                                      </div>
                                                  </li>
                                                  <li class="clearfix">
                                        <span class="pull-left">
                                        <img src="../global/images/profil_page/friend6.jpg" alt="friend 2">
                                        </span>
                                                      <div class="clearfix">
                                                          <div class="info">
                                                              <div class="name"><strong class="primary-font">John Smith</strong></div>
                                                              <div class="date">12 mins ago</div>
                                                          </div>
                                                          <p>
                                                              Hey! What's up here? Give me a call soon.
                                                          </p>
                                                      </div>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="row share">
                                          <div class="share-facebook">
                                              <i class="fa fa-facebook"></i>
                                          </div>
                                          <div class="share-twitter">
                                              <i class="fa fa-twitter"></i>
                                          </div>
                                          <div class="share-google">
                                              <i class="fa fa-google-plus"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>

                      </div>
      -->
      <div package-card package="wishlist" master-collections="collections">

      </div>

    </div>
  </div>







  <!--<div class="footer">-->
  <!--<div class="copyright">-->
  <!--<p class="pull-left sm-pull-reset">-->
  <!--<span>Copyright <span class="copyright">&copy;</span> 2015 </span>-->
  <!--<span>Zolo Technologies</span>.-->
  <!--<span>All rights reserved. </span>-->
  <!--</p>-->
  <!--<p class="pull-right sm-pull-reset">-->
  <!--<span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>-->
  <!--</p>-->
  <!--</div>-->
  <!--</div>-->











</div> <!--card end here-->



