<div class="container-fluid">

<div class="card">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><strong>Wishlist</strong></h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <div class="wishlist-sort"><strong>Sort By:</strong></div>

    </div>


    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li><a ng-click="orderWishlist('timestamp')">Date</a></li>
        <li><a ng-click="orderWishlist('price')">Price</a></li>
        <!--<li><a ng-click="orderWishlist('')">Category</a></li>-->
      </ul>
    </div>
  </div>
  <hr class="custom-hr">



  <div ng-hide="wishlistLoading" class="row">
    <div ng-repeat="wishlist in user_wishlist" class="col-md-4">
      <div package-card package="wishlist" master-collections="collections">

      </div>
    </div>
  </div>

  <div ng-hide="wishlistLoading" class="row">
    <div ng-if="user_wishlist.length==0" class="col-md-12 text-center">

<p class="f-18 text-center">You do not have any packages in your Wishlist. </p>
      <a class="btn btn-zolo" ng-href="/">Browse more packages. </a>

    </div>
  </div>


  <div ng-show="wishlistLoading" class="row">
    <div class="col-md-12 text-center m-t-60">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
      </div>
    </div>
  </div>




</div> <!--card end here-->



</div>
