


<script>
  var photos=[];
  var thumbnail;
  $(function() {
    $('text-edit#froala-editor').froalaEditor({
      height: 300
    })
  });
</script>
<style>
  input[type=text]{
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 0.4px;

  }
  .form-control.input-sm{
    font-size: 16px !important;
  }


  @media only screen and (max-width:767px){

    div.btn-align-xs .col-xs-12{
      /*float: none !important;*/
      text-align: center !important;

    }

    div.btn-align-xs .col-xs-12 button{
      float: none !important;
    }


    .div.btn-align-xs-l .col-xs-12 button{
      text-align: center !important;
    }



  }



</style>



<div class="container m-b-60">
  <div class="card">
    <div class="row">
      <div class="col-md-12 text-center">
        <!--<form name="postForm" novalidate>-->
        <md-content class="md-padding">
          <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex" class="tabsdemoDynamicHeight md-content">
            <md-tab label="Start">
              <md-content class="md-padding">
                <div class="row user-post-a-package">
                  <div class="col-lg-6 text-center ">
                    <div class="form-group">
                      <label for="title">Package Title</label>
                      <input id="title" type="text" name="title" ng-model="package.name" ng-change="changeTitle()" required maxlength="100" class="form-control input-sm" placeholder="Enter package title" style="font-size: 16px; !important;">
                      <div ng-show="validation_error.package_name" class="text-danger">Title is required! || Min 20 charector | Max 100 charector</div>
                                            <span class="word-counter">
                                                <small class="text-muted">Character Count : <span>{{package.name.length}}</span></small>
                                            </span>
                      <md-tooltip class="f-14 w-400" md-direction="right">
                        *REQUIRED | Min 20 character | Max 100 character
                      </md-tooltip>
                    </div>
                  </div>
                </div>

                <div class="row user-post-a-package">
                  <div class="col-md-3">
                    <label for="category">Category</label>
                    <md-select ng-model="package.category_id" id="category" ng-change="subCategory()">
                      <md-option value="" ng-selected="-1">Select Category</md-option>
                      <md-option ng-repeat="c in category" ng-if="c.id==10 || c.id==14 || c.id==15 || c.id==32 || c.id==44 || c.id==63 || c.id==77" value="{{c.id}}">
                        {{c.name}}
                      </md-option>
                    </md-select>
                    <div ng-show="validation_error.package_category" class="text-danger">Category is required! select category</div>
                    <md-tooltip class="f-14 w-400" md-direction="right">
                      * Required Select category
                    </md-tooltip>
                  </div>
                  <div class="col-md-3">
                    <label for="subcategory">Subcategory</label>
                    <md-select ng-model="package.sub_category" ng-disabled="sub_category.length==0" id="subcategory">
                      <md-option value="-1" ng-selected="-1" ng-disabled="true">Select Sub Category</md-option>
                      <md-option ng-repeat="sub_c in sub_category" value="{{sub_c.id}}">
                        {{sub_c.name}}
                      </md-option>
                    </md-select>
                  </div>


                  <div class="col-md-1">
                    <label class="pull-right" style="margin: 10px;">Tags</label>
                  </div>


                  <div class="col-md-4">
                    <tags-input ng-model="package.tags" key-property="value" id="tags" add-from-autocomplete-only="true">
                      <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                    <div ng-show="package.tags.length>5" class="text-danger">only five tag allowed</div>
                    <md-tooltip class="f-14 w-400" md-direction="right">
                      * add tag
                    </md-tooltip>
                  </div>

                </div>

                <div class="row user-post-a-package">
                  <div class="col-md-6 m-b-20">
                    <p>Location <span>(Your service is available at)</span></p>
                    <tags-input  placeholder="Add locations" id="location" ng-model="package.location" add-from-autocomplete-only="true" ng-change="validation_error.package_location">
                      <auto-complete source="loadLocations($query)"></auto-complete>
                    </tags-input>
                    <div ng-show="validation_error.package_location" class="text-danger">Location is required! add Location</div>
                    <md-tooltip class="f-14 w-400" md-direction="right">
                      * required add location
                    </md-tooltip>

                  </div>

                  <div class="col-md-6 m-b-20">

                    <label for="package_type">Package Type</label>
                    <md-select ng-model="package.packages_type" id="package_type" ng-change="validation_error.package_type=false">
                      <md-option value="" ng-selected="-1">Select Package Type</md-option>
                      <md-option ng-repeat="pt in packagesType" value="{{pt.id}}">
                        {{pt.name}}
                      </md-option>
                    </md-select>
                    <div ng-show="validation_error.package_type" class="text-danger">Package Type is required!</div>
                    <md-tooltip class="f-14 w-400" md-direction="right">
                      * required select package type
                    </md-tooltip>
                  </div>
                </div>
                <div class="row user-post-a-package">
                  <div class="col-md-12">
                    <p class="w-400">Give a Catchy tagline to your package</p>
                    <!--<textarea id="text-edit" ng-model="package.introduction" placeholder="Please type here.."></textarea>-->
                    <textarea class="form-control" id="text-edit" ng-model="package.introduction" placeholder="type here.." rows="3"></textarea>
                    <md-tooltip class="f-14 w-400" md-direction="right">
                      * type catchy introduction
                    </md-tooltip>
                  </div>
                </div>
                <hr>
                <div class="row btn-align-xs">
                  <div class="col-lg-6 col-md-6 col-xs-12 ">
                    <!--<button class="btn btn-zolo">Preview</button>-->
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <button class="btn btn-primary active pull-right" ng-click="checkValidationFirst()">Save and Continue</button>
                  </div>
                </div>
              </md-content>
            </md-tab>

            <md-tab ng-disabled="completed_first" label="Description">
              <md-content class="md-padding">
                <div class="row user-post-a-package">
                  <div class="col-md-12">
                    <label>Describe your package</label>
                    <textarea froala="froalaOptions" ng-model="package.description" ng-change="validation_error.package_description = false" class="form-control" id="description" placeholder="Enter the package description"></textarea>

                    <!--<textarea cols="80" rows="10" class="cke-editor">
                        &lt;h2&gt;Technical details &lt;a id=&quot;tech-details&quot; name=&quot;tech-details&quot;&gt;&lt;/a&gt;&lt;/h2&gt; &lt;table align=&quot;right&quot; border=&quot;1&quot; bordercolor=&quot;#ccc&quot; cellpadding=&quot;5&quot; cellspacing=&quot;0&quot;
                        style=&quot;border-collapse:collapse;margin:10px 0 10px 15px;&quot;&gt; &lt;caption&gt;&lt;strong&gt;Mission crew&lt;/strong&gt;&lt;/caption&gt; &lt;thead&gt; &lt;tr&gt; &lt;th scope=&quot;col&quot;&gt;Position&lt;/th&gt;
                        &lt;th scope=&quot;col&quot;&gt;Astronaut&lt;/th&gt; &lt;/tr&gt; &lt;/thead&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td&gt;Commander&lt;/td&gt; &lt;td&gt;Neil A. Armstrong&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Command
                        Module Pilot&lt;/td&gt; &lt;td&gt;Michael Collins&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;Lunar Module Pilot&lt;/td&gt; &lt;td&gt;Edwin &amp;quot;Buzz&amp;quot; E. Aldrin, Jr.&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt;
                        &lt;/table&gt; &lt;p&gt;Launched by a &lt;strong&gt;Saturn V&lt;/strong&gt; rocket from &lt;a href=&quot;http://en.wikipedia.org/wiki/Kennedy_Space_Center&quot; title=&quot;Kennedy Space Center&quot;&gt;Kennedy
                        Space Center&lt;/a&gt; in Merritt Island, Florida on July 16, Apollo 11 was the fifth manned mission of &lt;a href=&quot;http://en.wikipedia.org/wiki/NASA&quot; title=&quot;NASA&quot;&gt;NASA&lt;/a&gt;&amp;#39;s
                        Apollo program. The Apollo spacecraft had three parts:&lt;/p&gt; &lt;ol&gt; &lt;li&gt;&lt;strong&gt;Command Module&lt;/strong&gt; with a cabin for the three astronauts which was the only part which landed back on
                        Earth&lt;/li&gt; &lt;li&gt;&lt;strong&gt;Service Module&lt;/strong&gt; which supported the Command Module with propulsion, electrical power, oxygen and water&lt;/li&gt; &lt;li&gt;&lt;strong&gt;Lunar Module&lt;/strong&gt;
                        for landing on the Moon.&lt;/li&gt; &lt;/ol&gt; &lt;p&gt;After being sent to the Moon by the Saturn V&amp;#39;s upper stage, the astronauts separated the spacecraft from it and travelled for three days until they
                        entered into lunar orbit. Armstrong and Aldrin then moved into the Lunar Module and landed in the &lt;a href=&quot;http://en.wikipedia.org/wiki/Mare_Tranquillitatis&quot; title=&quot;Mare Tranquillitatis&quot;&gt;Sea
                        of Tranquility&lt;/a&gt;. They stayed a total of about 21 and a half hours on the lunar surface. After lifting off in the upper part of the Lunar Module and rejoining Collins in the Command Module, they returned
                        to Earth and landed in the &lt;a href=&quot;http://en.wikipedia.org/wiki/Pacific_Ocean&quot; title=&quot;Pacific Ocean&quot;&gt;Pacific Ocean&lt;/a&gt; on July 24.&lt;/p&gt; &lt;hr/&gt; &lt;p style=&quot;text-align:
                        right;&quot;&gt;&lt;small&gt;Source: &lt;a href=&quot;http://en.wikipedia.org/wiki/Apollo_11&quot;&gt;Wikipedia.org&lt;/a&gt;&lt;/small&gt;&lt;/p&gt;
                    </textarea>-->




                    <!--<div class="summernote"></div>-->


                    <div ng-show="validation_error.package_description" class="text-danger">Package Description is required! | Max 4000 character</div>
                    <md-tooltip md-direction="right">
                      * Required | Max 4000 character
                    </md-tooltip>
                  </div>
                </div>


                <div class="row user-post-a-package">
                  <div class="col-md-6">
                    <label>What does your package includes ? <span>(Deliverable)</span></label>
                    <textarea ng-model="package.deliverable" class="form-control" placeholder="Please Type here.." style="font-size: 16px; font-weight: 400;"></textarea>
                    <!--{{package.deliverable}}-->
                    <md-tooltip md-direction="right">
                      what does your package includes
                    </md-tooltip>
                  </div>


                  <div class="col-md-6">
                    <label>How is your package different from Others ?</label>
                    <textarea ng-model="package.different_from_others" class="form-control" placeholder="Please Type here.." style="font-size: 16px; font-weight: 400;"></textarea>
                    <md-tooltip md-direction="right">
                      How your package different from other
                    </md-tooltip>
                  </div>


                </div>


                <div class="row user-post-a-package">
                  <div class="col-md-6">
                    <label>Facebook Link</label>
                    <input type="url" ng-model="package.facebook_links" class="form-control" placeholder="Please Type here.." style="font-size: 16px; font-weight: 400;"/>
                    <md-tooltip md-direction="right">
                      Facebook link Example: http://www.facebook.com
                    </md-tooltip>
                  </div>


                  <div class="col-md-6">
                    <label>Youtube Link</label>
                    <input type="url" ng-model="package.youtube_links" class="form-control"placeholder="Please Type here.." style="font-size: 16px; font-weight: 400;"/>
                    <md-tooltip md-direction="right">
                      Youtube link Example: http://www.youtube.com
                    </md-tooltip>
                  </div>

                </div>


                <div class="row user-post-a-package">
                  <div class="col-md-6">
                    <label>Any Other Link</label>
                    <input type="url" class="form-control" ng-model="package.any_other_links" placeholder="Please Type here.." style="font-size: 16px; font-weight: 400;">
                    <md-tooltip md-direction="right">
                      Any other link Example: http://www.other.com
                    </md-tooltip>
                  </div>



                </div>



                <hr/>

                <div class="row btn-align-xs">
                  <div class="col-lg-6 col-md-6 col-xs-12 ">
                    <button class="btn btn-default active m-l-10" ng-click="backTab()">Back</button>
                  </div>

                  <div class="col-lg-6 col-md-6 col-xs-6">


                    <button class="btn btn-primary active pull-right m-l-20" ng-click="checkValidationSecond()">Save and Continue</button>

                    <!--<button class="btn btn-zolo pull-right">Preview</button>-->
                  </div>
                </div>

              </md-content>

            </md-tab>

            <md-tab ng-disabled="completed_second" label="Payment & Delivery">
              <md-content class="md-padding">
                <div class="row user-post-a-package">
                  <div class="col-lg-6">
                    <label for="actual_price">Actual Price</label>
                    <input ng-model="package.price" id="actual_price" type="number" min="0" ng-change="validation_error.package_price=false" class="form-control" placeholder="Please type here..." style="font-size: 16px; font-weight: 400;">
                    <div ng-show="validation_error.package_price" class="text-danger">Package Price is required!</div>
                    <md-tooltip class="f-14 w-400" md-direction="right">
                      * Required Actual Price
                    </md-tooltip>
                  </div>


                  <div class="col-lg-6">
                    <label>Discounted Price</label>
                    <input ng-model="package.deal_price" type="number" class="form-control" id="deal_price" min="0" ng-change="validation_error.package_deal_price=false" placeholder="Please type here..." style="font-size: 16px; font-weight: 400;">
                    <div ng-show="validation_error.package_deal_price" class="text-danger">Deal Price is less than Actual price</div>
                    <md-tooltip class="f-14 w-400" md-direction="right">
                      * Deal price should be less than Actual Price
                    </md-tooltip>
                  </div>
                </div>

                <div class="row user-post-a-package">
                  <div class="col-md-12">
                    <p><strong>Delivery time</strong></p>
                  </div>
                </div>

                <div class="row user-post-a-package">

                  <div ng-show="validation_error.delivery_time_type" class="text-danger"> Required Delivery time type</div>
                  <br/>
                  <div class="col-lg-4 col-md-4">
                    <div class="radio radio-primary custom-radio">
                      <label>
                        <input ng-model="package.delivery_time_type" type="radio" name="d-type" value="days" class="md-radio"><span class="circle"></span><span class="check"></span>
                        Days
                      </label>
                      <input ng-show="package.delivery_time_type=='days'" ng-model="package.delivery_time" id="delivery_time_days" ng-change="validation_error.delivery_time_days=''" type="number" maxlength="10" class="form-control" placeholder="Days"/>
                      <div ng-show="validation_error.delivery_time_days" class="text-danger"> Required Delivery time</div>
                      <md-tooltip class="f-14 w-400" md-direction="right">
                        * Required Delivery Time
                      </md-tooltip>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <div class="radio radio-primary custom-radio">
                      <label>
                        <input ng-model="package.delivery_time_type" type="radio" name="d-type" value="hours"  class="md-radio"><span class="circle"></span><span class="check"></span>
                        Hours
                      </label>
                      <input ng-show="package.delivery_time_type=='hours'" ng-model="package.delivery_time" id="delivery_time_hours" ng-change="validation_error.delivery_time_houre=''" type="number" maxlength="50" class="form-control" placeholder="Hours"/>
                      <div ng-show="validation_error.delivery_time_hours" class="text-danger"> Required Delivery time</div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-4">

                    <div class="radio radio-primary custom-radio">
                      <label>
                        <input ng-model="package.delivery_time_type" type="radio" name="d-type" value="instant_delivery" ng-change="package.delivery_time=''" class="md-radio"><span class="circle"></span><span class="check"></span>
                        Instant Delivery
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row user-post-a-package">
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <p><strong>Service Tax: Applicable</strong></p>
                  </div>
                </div>

                <hr>

                <div class="row btn-align-xs">
                  <div class="col-lg-6 col-md-6 col-xs-12 ">
                    <button class="btn btn-default active pull-left m-l-10" ng-click="backTab()">Back</button>

                  </div>

                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <button class="btn btn-primary active pull-right m-l-20" ng-click="checkValidationThird()">Save and Continue</button>


                    <!--<button class="btn btn-zolo pull-right">Preview</button>-->



                  </div>
                </div>



              </md-content>
            </md-tab>

            <md-tab ng-disabled="completed_third" label="Media">
              <md-content class="md-padding">
                <div class="row user-post-a-package">
                  <div class="col-md-12 text-center">
                    <script type="text/javascript">
                      function uploadWidget(){
                        cloudinary.openUploadWidget({ cloud_name: 'scaledesk', upload_preset: 'packages786',
                            cropping: 'server', 'folder': 'user_photos',cropping_aspect_ratio:'2.01',min_image_height:300,min_image_width: 600},
                          function(error, result) { console.log(error, result)
                            result=result[0];
                            coordinates=result.coordinates.custom[0];
                            coordinate1='x_'+coordinates[0];
                            coordinate2='y_'+coordinates[1];
                            coordinate3='w_'+coordinates[2];
                            coordinate4='h_'+coordinates[3];
                            console.log(coordinate1);
                            console.log(coordinate2);
                            console.log(coordinate3);
                            console.log(coordinate4);
                            console.log(result.url);
                            url=result.url;
                            target_variable='upload/';
                            index_local=url.indexOf(target_variable)+(target_variable.length);
                            first_str=(url.slice(0,index_local));
                            last_str=url.slice(index_local);
                            final_url=first_str+coordinate1+','+coordinate2+','+coordinate3+','+coordinate4+',c_crop'+'/'+last_str;
                            console.log(first_str);
                            console.log(last_str);
                            console.log(final_url);

                            photos.push(final_url);

                            delete coordinate1;
                            delete coordinate2;
                            delete coordinate3;
                            delete coordinate4;
                            delete result;
                            delete first_str;
                            delete last_str;
                            refresh();
                          });
                      }
                    </script>
                    <h2 class="m-t-20">Upload Photos for Your Package...</h2>

                    <button id="upload_widget_opener" class="btn btn-lg" onclick="uploadWidget()"><i class="fa fa-cloud-upload"></i> &nbsp;Add Photo</button>
                  </div>
                </div>

                <div class="row user-post-a-package">
                  <div class="col-md-12" style="margin-bottom:20px;">
                    <!--<h2>Preview</h2>-->
                    <div id="images_to_show">

                    </div>
                    <!--<script>
                        function refresh(){
                            document.getElementById('images_to_show').innerHTML='';
                            var i=0;
                            angular.forEach(photos,function(photo){
                                document.getElementById('images_to_show').innerHTML=document.getElementById('images_to_show').innerHTML+'&nbsp;<figure style="display: inline-block;"><img width="150px" height="auto" src="'+photo+'"/>' +
                                        '<figcaption style="cursor: pointer;"> <a onClick="deletePhoto('+i+')"> <i class="fa fa-times-circle"></i><small class="text-danger">Delete Image</small></a></figcaption></figure> ';
                                i++;
                            });
                        }
                        function deletePhoto(id){
                            photos.splice(id,1);
                            refresh();
                        }
                    </script>-->
                    <script>
                      function refresh(){
                        document.getElementById('images_to_show').innerHTML='';
                        var i=0;
                        angular.forEach(photos,function(photo){
                          document.getElementById('images_to_show').innerHTML=document.getElementById('images_to_show').innerHTML+'&nbsp;<figure style="display: inline-block;"><img width="150px" height="auto" src="'+photo+'"/>' +
                            '<figcaption style="cursor: pointer; width: 200px;margin-top: 8px;margin-left: -12px;}"> <a onClick="deletePhoto('+i+')"> <i class="fa fa-times-circle" style="padding-left: 10px;"></i><small class="text-danger" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;Delete Image</small></a> <div class="radio radio-success"> <label><input type="radio" id="thumbnail" name="r-success" onchange="makeThumbnail('+i+')" value="'+photo+'" class="md-radio"><span class="circle"></span><span class="check"></span>Make Cover Image</label> </div></figcaption></figure>';
                          i++;
                        });
                      }
                      function makeThumbnail(photo_local_id){
                        thumbnail = photos[photo_local_id];
                      }
                      function deletePhoto(id){
                        photos.splice(id,1);
                        refresh();
                      }
                    </script>
                  </div>
                </div>




                <hr class="custom-hr">

                <div class="row btn-align-xs">
                  <div class="col-lg-6 col-md-6 col-xs-12 ">
                    <button class="btn btn-default active pull-left m-l-10" ng-click="backTab()">Back</button>



                  </div>

                  <div class="col-lg-6 col-md-6 col-xs-12">


                    <button class="btn btn-primary active pull-right m-l-20" ng-click="checkValidationFourth()">Save and Continue</button>

                    <!--<button class="btn btn-zolo pull-right">Preview</button>-->


                  </div>
                </div>

              </md-content>
            </md-tab>

            <md-tab ng-disabled="completed_fourth" label="More info">
              <md-content class="md-padding">

                <div class="row user-post-a-package">
                  <div class="col-lg-12  m-b-20">

                    <p>Instructions for Buyer</p>
                    <textarea class="form-control" ng-model="package.instructions" placeholder="type here.." rows="4"></textarea>
                    <p>Terms And Conditions</p>
                    <!--<textarea ng-model="package.term_condition" class="form-control" placeholder="Please type here.." rows="4" id="term_condition"></textarea>-->
                    <textarea froala="froalaOptions1" ng-model="package.term_condition" class="form-control" placeholder="Please type here.." id="term_condition"></textarea>
                  </div>


                </div>

                <div class="row user-post-a-package">
                  <div class="col-lg-3">
                    <div class="service-tax-space">Client Meeting</div>
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <div class="radio radio-primary custom-radio">
                      <label>
                        <input ng-model="package.meeting_availability" id="meeting_availability" type="radio" name="r-primary" value="1" ng-change="validation_error.meeting_availability = false" class="md-radio"><span class="circle"></span><span class="check"></span>
                        Yes, I am open for Client Meeting
                      </label>
                    </div>
                    <md-tooltip md-direction="right">
                      * required
                    </md-tooltip>


                  </div>

                  <div class="col-lg-4 col-md-4">

                    <div class="radio radio-primary custom-radio">
                      <label>
                        <input ng-model="package.meeting_availability" type="radio" name="r-primary" value="0" ng-change="validation_error.meeting_availability = false" class="md-radio"><span class="circle"></span><span class="check"></span>
                        No ,I am not  open for Client Meeting
                      </label>
                    </div>


                  </div>
                </div>
                <div ng-show="validation_error.meeting_availability" class="text-danger"> Required Client Meeting</div>

                <hr>

                <div class="row">
                  <div class="col-md-6">

                    <div class="row btn-align-xs-l">
                      <div class="col-md-3 col-xs-12">
                        <button class="btn btn-default " ng-click="backTab()" style="margin-right: 10px;">Back</button>
                      </div>

                      <div class="col-md-3 col-xs-12">
                        <!--<button class="btn btn-zolo ">Preview</button>-->

                      </div>

                    </div>

                  </div>



                  <div class="col-md-6">

                    <div class="row btn-align-xs">
                      <div class="col-md-3 col-xs-12 pull-right">
                        <button ng-disabled="!completed_package" class="btn btn-success pull-right m-l-20" ng-click="checkValidationFifth('ACTIVE')">Publish
                          <span><i ng-style="loaderStyle" class="fa fa-spinner fa-spin"></i> </span></button>
                      </div>

                      <div class="col-md-3 col-xs-12 pull-right">
                        <button ng-disabled="!completed_package" class="btn btn-zolo  pull-right" ng-click="checkValidationFifth('DRAFT')" style="margin-right: 10px;">Save as Draft
                          <span><i ng-style="loaderStyle" class="fa fa-spinner fa-spin"></i> </span></button>

                      </div>

                    </div>

                  </div>
                </div>





              </md-content>
            </md-tab>

            <md-tab ng-disabled="completed_package" label="Add-ons">
              <md-content class="md-padding">

                <div class="row user-post-a-package">
                  <div class="col-lg-12">
                    <h2>
                      Package Addons
                    </h2>
                  </div>


                </div>

                <button ng-click="addNewAddon()" class="btn">Add more addon</button>

                <div data-ng-repeat="addon in addons">

                  <div class="row user-post-a-package">
                    <div class="col-md-6">
                      <label>Add-ons Name</label>
                      <input ng-model="addon.name" type="text" class="form-control" placeholder="addon title.." style="font-size: 16px; font-weight: 400;"/>
                    </div>

                    <div class="col-md-6">
                      <label>Add-ons Price</label>
                      <input ng-model="addon.amount" type="number" number-converter class="form-control" min="1" placeholder="addon amount..." style="font-size: 16px; font-weight: 400;">
                    </div>


                  </div>

                  <div class="row user-post-a-package">

                    <div class="col-lg-4 col-md-4">
                      <div class="radio radio-primary custom-radio">
                        <label>
                          <input ng-model="addon.delivery_time_type" type="radio" name="addon-type" value="days" class="md-radio"><span class="circle"></span><span class="check"></span>
                          Days
                        </label>
                        <input ng-show="addon.delivery_time_type=='days'" number-converter ng-model="addon.days" min="1" type="number" class="form-control" placeholder="Days"/>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="radio radio-primary custom-radio">
                        <label>
                          <input ng-model="addon.delivery_time_type" type="radio" name="addon-type" value="hours" class="md-radio"><span class="circle"></span><span class="check"></span>
                          Hours
                        </label>
                        <input ng-show="addon.delivery_time_type=='hours'" ng-model="addon.days" type="number" number-converter min="1" class="form-control" placeholder="Hours"/>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">

                      <div class="radio radio-primary custom-radio">
                        <label>
                          <input ng-model="addon.delivery_time_type" type="radio" name="addon-type" ng-click="addon.days=0" value="instant_type" class="md-radio"><span class="circle"></span><span class="check"></span>
                          Instant Delivery
                        </label>
                      </div>
                    </div>
                  </div>
                  <!--<div class="row user-post-a-package">
                      <div class="col-md-6">
                          <label>Add-ons Description</label>
                          <input type="text" ng-model="addon.description" class="form-control" placeholder="type here.." style="font-size: 16px; font-weight: 400;"/>

                      </div>

                      <div class="col-md-6">
                          <label>Add-ons days</label>
                          <input ng-model="addon.days" type="number" class="form-control" placeholder="addon title.." style="font-size: 16px; font-weight: 400;"/>
                      </div>


                  </div>

                  <div class="row user-post-a-package">
                      <div class="col-md-6">
                          <label>Add-ons Terms and Condition</label>
                          <input type="text" ng-model="addon.terms" class="form-control" placeholder="type here.."/>
                      </div>


                  </div>-->

                  <button ng-click="removeAddon($index)" class="btn">Remove Addon</button>
                </div>

                <hr>

                <div class="row btn-align-xs">
                  <div class="col-md-6 text-center">
                    <button class="btn btn-default active pull-left m-l-10" ng-click="backTab()">Back</button>
                  </div>

                  <div class="col-md-6">
                    <a ng-href="#/dashboard/my-packages" class="btn btn-primary active pull-right">Skip</a>
                    <button class="btn btn-primary active pull-right" ng-click="savePackageAddons(addons)">Save Addon</button>

                  </div>


                </div>


              </md-content>
            </md-tab>

          </md-tabs>

        </md-content>
        <!--</form>-->
      </div>
    </div>
  </div>

</div>





<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">&copy;Zolo Technologies Pvt. Ltd.</span> 2016 </span>
      <span>All rights reserved. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
    </p>
  </div>
</div>



