<!--<div class="container zolo-pdp-page">-->
<div ng-controller="PostARequestCtrl as postARequest" class="card">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Post a Request</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <form role="form" ng-submit="postARequest.doPost()" novalidate>
    <div class="col-md-8 col-md-offset-2 col-md-offset-2">

      <div class="row m-t-20">
        <div class="col-md-4">
          <h4>Title of Request</h4>

        </div>


        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="postARequest.request.title" placeholder="Enter title">
        </div>




      </div>

      <div class="row m-t-20">
        <div class="col-md-4">
          <h4>Package type</h4>
        </div>


        <div class="col-md-6 ">
          <md-select ng-model="postARequest.request.package_type_id" id="package_type">
            <md-option value="" ng-selected="-1">Select Package Type</md-option>
            <md-option ng-repeat="pt in postARequest.package_types" value="{{pt.id}}">
              {{pt.name}}
            </md-option>
          </md-select>
        </div>
      </div>


      <div class="row m-t-20">
        <div class="col-md-4">
          <h4>Enter Location</h4>
        </div>

        <div class="col-md-6">
          <!--<label for="location">Location</label>-->
          <md-select ng-model="postARequest.request.location" id="location">
            <md-option value="" ng-selected="-1">Select Location</md-option>
            <md-option ng-repeat="l in postARequest.locations" value="{{l.text}}">
              {{l.text}}
            </md-option>
          </md-select>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-md-4">
          <h4>Time Of Delivery</h4>

        </div>


        <div class="col-md-6">
          <input type="number" class="form-control" ng-model="postARequest.request.days" placeholder="Enter Days">
        </div>




      </div>



      <div class="row m-t-20">
        <div class="col-md-4">
          <h4>Enter Your Budget</h4>
        </div>

        <div class="col-md-6">
          <input type="number" class="form-control" ng-model="postARequest.request.budget" placeholder="Enter Budget">


        </div>


      </div>

      <div class="row m-t-20">

        <div class="col-md-4">
          <h4>Enter Description</h4>
        </div>


        <div class="col-md-8">
          <div class="form-group m-b-30">
            <!--<label>Description:</label>-->
            <textarea class="form-control" ng-model="postARequest.request.description" placeholder="Enter Description.." rows="4" cols="50"></textarea>
          </div>

        </div>
      </div>


      <div class="row m-t-20">

        <div class="col-md-4">
          <h4>Select Category</h4>
        </div>

        <div class="col-md-8">
          <div class="form-group m-b-30">
            <md-select ng-model="postARequest.request.category_id" id="category" md-on-close="postARequest.getSubcategory()">
              <md-option value="" ng-selected="-1">Select Category</md-option>
              <md-option ng-repeat="c in postARequest.category" value="{{c.id}}" ng-if="c.id!=13">
                {{c.name}}
              </md-option>
              <md-option value="13">
                {{"Others"}}
              </md-option>
            </md-select>


          </div>

        </div>
      </div>


  <div class="row m-t-20">

        <div class="col-md-4">
          <h4>Select SubCategory</h4>
        </div>

        <div class="col-md-8">
          <div class="form-group m-b-30">
            <md-select ng-model="postARequest.request.subcategory_id" id="subcategory">
              <md-option value="" ng-selected="-1">Select SubCategory</md-option>
              <md-option ng-repeat="c in postARequest.subcategory" value="{{c.id}}" ng-if="c.id!=13">
                {{c.name}}
              </md-option>
            </md-select>


          </div>

        </div>
      </div>

<!--<div ng-bind="postARequest.result">
</div>-->
      <div class="row m-t-20">
        <div class="col-md-8 col-md-offset-4 text-center">
          <button type="submit" class="btn zolo-btn">
          <span>Post Request</span>
            <span>
              <i ng-style="postARequest.myStyle" class="fa fa-spinner fa-spin"></i>
            </span>
          </button>
        </div>
      </div>

    </div>
    </form>
  </div>

</div>

