

<style>
  .main-content .page-content{
    padding: 0!important;
  }


</style>





<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="cover-img" style="background: url('{{profile.banner || '../global/images/bg.jpg'}}') center no-repeat; background-size:cover; "></div>
      <div class="edit-btn-bg">
        <button ng-show="edit_profile" ngf-select="uploadBanner($file)" class="btn zolo-btn cover-edit-btn">Change Cover</button>
        <div ng-if="profile.short_description!=null" class="user-name">{{profile.short_description}}</div>

        <!--url('{{profile.banner || '../global/images/bg.jpg'}}')-->
      </div>
    </div>
    <div class="col-md-12">
      <div class="card m-t-0">
        <div class="profile-preview">
          <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12 text-center">
              <img src="{{profile.image || '../global/images/dummy.png'}}" alt="" class="img-circle profile-img">
              <button ng-click="openProfilePicModal()" class="btn edit-profile">edit <i class="fa fa-pencil"></i></button>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <p class="w-600 f-20">{{profile.name}} </p>
              <p class="text-muted-z f-14 zolo-n-m w-500">{{profile.short_description}}</p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <p class="w-600 f-20 text-center">{{profile.completed_orders || 'None'}}</p>
              <p class="zolo-n-m text-muted-z f-14 w-500 text-center">Projects Completed</p>

            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <p class="w-600 f-20 text-center">{{profile.mobile || 'NA'}}</p>
              <p class="zolo-n-m text-muted-z f-14 w-500 text-center">Contact Number</p>

            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <!--<p>Date Of Birth</p>-->
              <!--<strong ng-if="profile.birth_date==null || profile.birth_date ==''">NA</strong>-->
              <!--<strong ng-if="profile.birth_date!=null || profile.birth_date !=''">{{profile.birth_date | date : 'dd MMM yyyy'}}</strong>-->
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <button ng-hide="edit_profile" ng-click="edit_profile=true" class="btn e-profile-btn zolo-btn">Edit Profile</button>
              <button ng-show="edit_profile" ng-click="saveProfile()" class="btn e-profile-btn zolo-btn">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div ng-show="edit_profile" class="col-md-12">
          <div class="card">
            <h2>Edit Profile</h2>
            <div id="edit" class="row">
              <!--<form name="myProfile">-->
              <md-content class="md-padding">
                <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
                  <md-tab label="Basic info">
                    <md-content class="md-padding">
                      <p class="f-16 m-t-20">Name</p>
                      <input ng-model="profile.name" name="name" id="name" type="text" class="form-control" ng-change="validateProfileName()" maxlength="50" placeholder="Name">
                      <!--<div ng-messages="myProfile.name.$error" ng-show="myProfile.name.$dirty">-->
                      <div ng-show="validation.name" class="text-danger">Name is required! Only charactor are allowed | Max 50 char</div>
                      <!--word count: {{profile.name.length}}-->
                      <!--</div>-->
                      <!-- Contacts icon by Icons8 -->
                      <br>
                      <p class="f-16 m-t-20">Tagline</p>
                      <input ng-model="profile.short_description" type="text" class="form-control" placeholder="Enter a Tagline to describe you" maxlength="100">
                      <div>Character Count: {{profile.short_description.length}} | Max 100 char</div>
                      <p class="f-16 m-t-20">Phone Number</p>
                      <input type="text" number-converter ng-model="profile.mobile" name="mobile" id="mobile"  class="form-control" ng-change="validateMobileNumber()" ng-maxlength="10" ng-minlength="10" placeholder="Enter your contact number">
                      <div ng-show="validation.mobile" class="text-danger">Enter valid number</div>
                      <p class="f-16 m-t-20">Email</p>
                      <input ng-model="profile.email" type="email" class="form-control" readonly maxlength="50">

                      <p class="f-16 m-t-20">Birth Date</p>
                      <input ng-model="birth_date" type="date" class="form-control" placeholder="yyyy-mm-dd" >
                      <!--<p class="f-16 m-t-20">Date of Birth</p>
                      <md-datepicker ng-model="birth_date" md-placeholder="Enter date"
                                     md-min-date="1980-01-01" md-max-date="'1998-01-01'"></md-datepicker>-->
                      <p class="f-16 m-t-20">Address</p>
                      <input ng-model="profile.address" type="text" class="form-control" placeholder="Enter your address" maxlength="200">
                      <div>Character Count: {{profile.address.length}} | Max 200 char</div>

                      <div class="row">
                        <div class="col-md-4">
                        <!--  <p class="f-16 m-t-20">Select State</p>
                          <md-select ng-model="profile.state" placeholder="select state">
                             <md-option ng-repeat="record in city_states" value="{{record.state}}">
                               {{record.state}}
                             </md-option>
                          </md-select>-->
                            <p class="f-16 m-t-20">State</p>
                          <input ng-model="profile.state" type="text" class="form-control" maxlength="30" placeholder="Enter your state">
                        </div>
                        <div class="col-md-4">
                        <!--  <p class="f-16 m-t-20">Select City</p>
                          <md-select ng-model="profile.city" placeholder="Select City">
                             <md-option ng-repeat="record in city_states" value="{{record.name}}" ng-if="record.state==profile.state">
                               {{pt.name}}
                             </md-option>
                          </md-select>-->
                            <p class="f-16 m-t-20">City</p>
                          <input ng-model="profile.city" type="text" maxlength="30" class="form-control" placeholder="Enter your city">
                        </div>
                        <div class="col-md-4">
                          <p class="f-16 m-t-20">Pincode</p>
                          <input number-converter ng-model="profile.pin" name="pin" id="pin" type="text" maxlength="6" minlength="6" ng-change="validatePinCode()"class="form-control" placeholder="Enter your pincode">
                          <div ng-show="validation.pin" class="text-danger">Enter valid pin</div>
                        </div>
                      </div>
                      <p class="f-16 m-t-20">Gender</p>
                      <div class="radio radio-primary" style="display:inline-block;">
                        <label>
                          <input type="radio" ng-model="profile.sex" name="r-primary" value="Male" checked="" class="md-radio"><span class="circle"></span><span class="check"></span>
                          Male
                        </label>
                      </div>

                      <div class="radio radio-primary" style="display:inline-block;">
                        <label>
                          <input type="radio" ng-model="profile.sex" name="r-primary" value="Female" checked="" class="md-radio"><span class="circle"></span><span class="check"></span>
                          Female
                        </label>
                      </div>
                      <br>
                      <hr class="custom-hr">
                      <md-button class="md-raised md-primary zolo-btn" ng-click="updateFirstTab()">Save</md-button>
                      <md-button ng-show="profile.is_seller == 1 && profile.step_number!=null" class="md-raised md-primary zolo-btn"ng-click="nextTab()">next</md-button>
                    </md-content>
                  </md-tab>
                  <md-tab ng-disabled="profile.is_seller != 1 || profile.step_number==null" label="About Yourself">
                    <md-content class="md-padding">
                      <h3 class="f-18">About Yourself</h3>
                      <div class="col-md-12">
                        <div class="form-group m-b-10">
                          <div class="form-control-wrapper">
                            <textarea ng-model="profile.description" class="form-control empty" placeholder="Write something about yourself" style="height:50px;" maxlength="1000"></textarea>
                            <!--                                <div class="floating-label">textarea label</div>-->
                            <span class="material-input"></span>

                          </div>
                        </div>

                      </div>

                      <div class="col-md-12">

                        <p class="f-16 m-t-20">Skills</p>
                        <div class="col-md-10 col-sm-12 m-b-20">
                          <tags-input placeholder="Add skills" class="form-control" ng-model="profile.skills" add-from-autocomplete-only="true">
                            <auto-complete source="skills"></auto-complete>
                          </tags-input>
                        </div></div>
                      <div class="col-md-12">

                        <p class="f-16 m-t-20">Years of Experience</p>

                        <div class="col-md-10 col-sm-12 m-b-20">
                          <input ng-model="profile.experiences" type="number"  class="form-control" placeholder="Year">
                        </div>
                      </div>
                      <div class="col-md-12 m-b-20">


                        <p class="f-16">Social Links</p>
                        <div class="col-md-6 col-sm-6" >
                          <div class="input-group m-b-sm" style="margin-left:-10px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon"><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                    <img class="icon icons8-LinkedIn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABG0lEQVQ4T+2UQU7DMBBFZ+zs4QYtJyCcgHKDcgJYZKzsEDfpMvJk0RvADQgngN6g3IDuExuNFZemoiiywo5ZWbLnefxn/BEmDoy8siznXdfNUvha64+qqraSG4A97A0Rz1OA3vtPrfWVQAOwKIqFUuolBRZznHM3dV03PwF33vt3RMwB4GzsJb8Bb621z8aYJQA8TQF8tNauiGiFiA9TADcict+gSwAIEoQOfsuwAQDZ28fJJ8eN2Cjv/SszLySTiO6Zed2vc0Rsos5JwAhi5lDxoSxJQGOMVHenlLqQmTsctyQgETWIeH0si1T7D/zbvzz2cwzODZoi9uWck9kabQZHt+6UUvnevqIntm07Tykvy7LtwGBTIKdyvgAnKUwkZwC7NwAAAABJRU5ErkJggg==" width="20" height="20"></span>
                            <input ng-model="profile.linkedin_profile_url" type="text" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="LinkedIn Profile Link" aria-describedby="basic-addon1">
                          </div>


                        </div>




                        <div class="col-md-6 col-sm-6" >


                          <div class="input-group m-b-sm" style="margin-left:-20px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon" ><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                                                      <!-- Facebook icon by Icons8 -->
<img class="icon icons8-Facebook" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA9UlEQVQ4T+3UwQ2CQBAF0JlZ7tqBdKBWoHbCATYc7UBL8EgCBzpRK9AStAO5EtgxQ1yzmhjD6sGD3Aj5Lz8zYRC+/KD10jQN27Yd+fhKqXOWZSfJduANOyDi0Adk5otSaipoB8ZxPCeirQ9mM8aYRVEUu14gM++ZeW0RItoAwFjefcCqruuwLMuLBZMk2SHizAuUdnmezyWstV4zs0ATO/feDV3QbeY1QxdzF6e15t8ApcXzDAFg5bb9aIaylD/Y/09h5iMALG+LiBAx+mgp7w7Hw5blfBljpMHgXfDF94qIJvfzZW9i0zShDxgEwenhwPogrzJXibH2FUj156EAAAAASUVORK5CYII=" width="20" height="20"></span>
                            <input ng-model="profile.facebook_profile_url" type="text" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="Facebook Profile Link" aria-describedby="basic-addon1">
                          </div>


                        </div>



                        <div class="col-md-6 col-sm-6" >


                          <div class="input-group m-b-sm" style="margin-left:-10px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon"><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                                                      <!-- Google Plus icon by Icons8 -->
                                                      <!-- Google Plus icon by Icons8 -->
<img class="icon icons8-Google-Plus" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABS0lEQVQ4T7WUwU3DQBREZ2zFV9IBoQLogHSAUkGcw/pKCSQVQK7eA0kFQAWYCggVABUQrrG0gz6yoxCFYAixtBdr52nmz+7SOZeSvMYOn6QBsyzTDoyldK+gkaQ2ycc8z6fOuRMAlyS725yvOxoBmJvQRJa9LMvbVqs1I3nYGBRF0VEIIQVwUYEevPdd51xB8vS3IItyU4vyPDfXMwDH2+BfokmaeO8HzrkrkucALGoHQL8GS9roclNrL5KKOI5HIYRVd9MQwoTk3Hs/sxKslCiKbBT9b+tfGbSJz8wtAFvvNQjAAQA70Ol6tFeSttk2zCXdmSjLMvv3Ga9JtCdJZvOeZHulod5isSiSJHlrCupV4mVjtTCO4zSE8NyofknjsiyHSZIUddUVaFw5XDa3Cbg+7KHNpboiHTvNkro/XQ8D7/XS/ulV4X89bB/bTd5B9/zEFgAAAABJRU5ErkJggg==" width="18" height="18"></span>
                            <input ng-model="profile.google_plus_profile_url" type="text" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="Google Plus Profile Link" aria-describedby="basic-addon1">
                          </div>


                        </div>




                        <div class="col-md-6 col-sm-6" >
                          <div class="input-group m-b-sm" style="margin-left:-20px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon"><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                                                      <!-- Twitter icon by Icons8 -->
<img class="icon icons8-Twitter" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABbUlEQVQ4T72UUU7CQBCG599CX8UTCCcQboAnsDewJuyGN7mBHMFHsjSxR9ATiCcATyDcoLzuQtcMoaSibaVRJ+nbzNd/5p8d0C8HMt5wOGxvt9uLOnzP81aTyWTJtTvgHjYH0KoDdM4lnuf1GLoDDgaDvhDipQ4sq0nT9CqKotm/ANdExPO4PFL8JoQIuC2l1IiIuvtvl1eo0Dn3aq0NfN+f5aHGmPM4jpPsJ1JKBo4BXJcCWZ3WusNJUsqQiEI2S2vNgEMwEMC8cobOuRWAkdb6qcwkpdSYiO5/AkystZ18e9+BlVIxEd1UAjnBOfdsrQ2LoGEYtprN5nt+b6vWZmmM6RUBpZQPAO7yyquArHJFRMF0Ol0cmcEmPR6PoWxtEgC3xphZXiG36fs+m8A7+CVKFfLbJKIFAN5FVtsH0C9zvbLlU9/13wL5fKVpysM/O1XZPn8thOgezld2EzebTbsOsNFoLD8d2DqQopoPtjv/FbhgaIoAAAAASUVORK5CYII=" width="20" height="20"></span>
                            <input ng-model="profile.twitter_profile_url" type="text" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="Twitter Profile Link" aria-describedby="basic-addon1">
                          </div>
                        </div>
                      </div>
                      <md-button class="md-raised md-primary zolo-btn" ng-click="backTab()">Back</md-button>
                      <md-button class="md-raised md-primary zolo-btn" ng-click="saveAndNext()">Save</md-button>
                      <md-button class="md-raised md-primary zolo-btn" ng-click="nextTab()">Next</md-button>
                    </md-content>
                  </md-tab>
                  <md-tab ng-disabled="profile.is_seller != 1 || profile.step_number==null" label="Portfolio">
                    <md-content class="md-padding">
                      <h6 class="md-display-2">Add Portfolio</h6>
                      <div class="form-group m-b-12">
                        <p class="f-16 m-t-20">Description</p>
                        <div class="form-control-wrapper">
                          <textarea ng-model="portfolio.description" class="form-control empty" placeholder="Describe your portfolio" style="height:50px;"></textarea>
                          <!--                                <div class="floating-label">textarea label</div>-->
                          <span class="material-input"></span>

                        </div>
                      </div>
                      <div class="col-md-12">
                        <p class="f-16 m-t-20">Type</p>
                        <div class="col-md-10 col-sm-12 m-b-20">
                          <input ng-model="portfolio.type" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <!--<p class="f-16 m-t-20">select file</p>-->
                        <div class="col-md-10 col-sm-12 m-b-20">
                          <!--<input  ng-model="portfolioFile" type="file" class="form-control">-->
                          <button class="btn" ngf-select ng-model="port.picFile">select file</button>{{port.picFile.name}}
                        </div>
                      </div>
                      <!--<button ng-click="uploadPortfolio(portfolio.picFile,portfolio)" class="btn">add</button>-->
                      <md-button class="md-raised md-primary zolo-btn" ng-click="backTab()">Back</md-button>
                      <md-button ng-click="uploadPortfolio(port.picFile)" class="md-raised md-primary zolo-btn">Save</md-button>
                      <md-button ng-click="nextTab()" class="md-raised md-primary zolo-btn">Next</md-button>
                    </md-content>
                  </md-tab>
                  <md-tab ng-disabled="profile.is_seller != 1 || profile.step_number==null" label="Document">
                    <md-content class="md-padding">
                      <h6 class="md-display-2">Add Document</h6>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group m-b-12">
                            <p class="f-16 m-t-20">Document Type</p>
                            <hr class="custom-hr">
                            <div class="form-control-wrapper">
                              <md-input-container>
                                <label>Document</label>
                                <md-select ng-model="document.fileType">
                                  <md-option ng-repeat="d in docType" value="{{d.name}}">
                                    {{d.name}}
                                  </md-option>
                                </md-select>
                              </md-input-container>
                            </div>
                          </div>
                        </div>
                        <!--ng-disabled="$index === 1"-->
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <!--<p class="f-16 m-t-20">select file</p>-->
                            <div class="col-md-10 col-sm-12 m-b-20">
                              <!--<input  ng-model="portfolioFile" type="file" class="form-control">-->
                              <button class="btn" ngf-select ng-model="doc.picFile">Select file</button><br/>{{doc.picFile.name}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <md-button ng-click="updateDocument(doc.picFile)" class="md-raised md-primary zolo-btn">Save</md-button>
                    </md-content>
                  </md-tab>

                </md-tabs>
              </md-content>
              <!--</form>-->
            </div>
          </div>
        </div></div>

      <div class="row">
        <div class="col-md-12 p-r-0">
          <div class="card">
            <h2 class="text-c m-t-5">About {{profile.name}}</h2>
            <hr class="custom-hr">
            <p ng-if="profile.description != '' || profile.description != null">{{profile.description}}</p>
            <p ng-if="profile.description == '' || profile.description == null">You are yet to update your profile</p>
          </div>
        </div>
      </div>






      <div class="row">
        <div class="col-md-12 p-r-0">
          <div class="card">
            <h2 class="text-c m-t-5">{{profile.name}} Packages</h2>
            <hr class="custom-hr">
            <div class="row">
              <div ng-if="user_packages.data.length>0" class="col-md-12">

                <div class="widget widget_slider">

                <div class="row hidden-xs hidden-md my-gigs">

                  <slick arrows="true" vertical="false" draggable="false" touch-move="false" id="slider-2" as-nav-for="#main-slider"
                         focus-on-select="true" slides-to-show=3 slides-to-scroll=1 init-onload=true
                         data="user_packages.data" class="slider multiple-items">
                    <div ng-repeat="package in user_packages.data">
                      <!-- <h3 class="bg-primary">1</h3> -->
                      <div package-card package="package" master-collections="collections">
                      </div>
                    </div>
                  </slick>
                </div>


</div>

                <div class="row hidden-lg hidden-xs my-gigs">

                  <slick arrows="true" vertical="false" draggable="false" touch-move="false" id="slider-3" as-nav-for="#main-slider"
                         focus-on-select="true" slides-to-show=2 slides-to-scroll=1 init-onload=true
                         data="user_packages.data" class="slider multiple-items">
                    <div ng-repeat="package in user_packages.data">
                      <!-- <h3 class="bg-primary">1</h3> -->
                      <div package-card package="package" master-collections="collections">
                      </div>
                    </div>
                  </slick>
                </div>

                <div class="row hidden-md hidden-lg my-gigs visible-xs" style="padding: 25px;">

                  <slick arrows="true" vertical="false" draggable="false" touch-move="false" id="slider-4" as-nav-for="#main-slider"
                         focus-on-select="true" slides-to-show=1 slides-to-scroll=1 init-onload=true
                         data="user_packages.data" class="slider multiple-items">
                    <div ng-repeat="package in user_packages.data">
                      <!-- <h3 class="bg-primary">1</h3> -->
                      <div package-card package="package" master-collections="collections">
                      </div>
                    </div>
                  </slick>
                </div>




                <!--</div>-->
              </div>

              </div>

            <div class="row">
              <div ng-if="user_packages.data.length<=0" class="col-md-12">
                <p>You haven't posted any package yet, to start selling click the button below</p>

                <p class="text-center"><a ng-href="/post-a-package/" class="btn btn-lg btn-success">Post a package</a> </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--ng-repeat="package in user_packages.data"-->

      <div ng-if="portfolios.length>0" class="row">
        <div ng-hide="portfolio_selected" class="col-md-12">
          <div class="card">
            <h2 class="m-t-5">My Portfolio</h2>
            <hr class="custom-hr">
            <div class="row">
              <div ng-repeat="portfolio in portfolios" class="col-md-4">
                <div class="panel panel-transparent">
                  <div class="panel-content">
                    <div class="portfolioContainer grid">
                      <figure ng-click="selectPortfolio(portfolio)" class="effect-sarah my-portfolio">
                        <img src="../global/images/gallery/13.jpg" alt="img13"/>
                        <figcaption>
                          <h2>{{portfolio.type}} <span></span></h2>
                          <p>{{portfolio.description}}</p>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="row">

        <div ng-show="portfolio_selected" class="col-md-12">
          <div class="card">
            <div class="row">
              <div class="col-md-8">
                <p class="text-center f-18 w-400"> {{selected_portfolio.type}}</p>
              </div>
              <div class="col-md-4">
                <a ng-click="backtoportfolio()" class="pull-right btn" style="cursor: pointer">Back</a>
              </div>
            </div>
            <hr class="custom-hr">

            <div class="row">
              <div class="col-md-6">
                <img class="img-responsive" src="{{selected_portfolio.file}}">
              </div>
              <div class="col-md-2">
                <p class="f-16">{{selected_portfolio.type}}</p>
              </div>

              <div class="col-md-3">
                <p class="f-16">{{selected_portfolio.description}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
        </div>



    <!--<div class="col-md-4">-->
      <!--<div class="card">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">No. of packages</h4>-->
            <!--<p ng-if="user_packages.data.length>0" class="text-center"><strong>{{user_packages.data.length}}</strong></p>-->
            <!--<p ng-if="user_packages.data.length<=0" class="text-center"><strong>No Packages !</strong></p>-->
            <!--<hr class="custom-hr">-->
          <!--</div>-->

        <!--</div>-->


        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">Skills</h4>-->
            <!--<p style="word-break: break-all;" ng-if="profile.skills.length>0" class="text-center"><strong ng-repeat="s in profile.skills">{{s.text}},</strong></p>-->
            <!--<p ng-if="profile.skills.length<=0" class="text-center">NA</p>-->
            <!--<hr class="custom-hr">-->
          <!--</div>-->

        <!--</div>-->



        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">Location</h4>-->
            <!--<p class="text-center"><strong>NA</strong></p>-->
            <!--<hr class="custom-hr">-->
          <!--</div>-->

        <!--</div>-->



        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">Rating</h4>-->
            <!--<p class="text-center"><strong>NA</strong></p>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->

    <!--</div>-->


    <div class="col-md-4">
      <div class="card p-b-0 p-t-0">
        <div class="row border-bottom">
          <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-briefcase"></i>&nbsp;Projects Completed</p>

          </div>

          <div class="col-xs-6">
            <p class="pull-right w-500 f-18">{{other_user_packages.data.length}}</p>
            <p class="pull-right w-500 f-18" ng-if="user_packages.data.length<=0" >0</p>


          </div>


        </div>




        <div class="row border-bottom">
          <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-map-marker"></i>&nbsp;Location</p>

          </div>

          <div class="col-xs-6">
            <p class="pull-right w-500 f-18">N/A</p>

          </div>


        </div>



        <div class="row border-bottom">
          <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-star"></i>&nbsp;Ratings</p>

          </div>

          <div class="col-xs-6">
            <p class="pull-right w-500 f-18">No Ratings</p>

          </div>


        </div>


        <div class="row border-bottom">
          <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-signal"></i>&nbsp;Skills</p>

          </div>

          <div class="col-xs-6">
            <p class="pull-right w-500 f-18" ng-if="profile.skills.length<=0">N/A</p>
            <p ng-if="profile.skills.length>0" class="text-center"><strong ng-repeat="s in profile.skills">{{s.text}},</strong></p>
            <p class="text-center"><strong ng-if="profile.skills.length<=0" >NA</strong></p>

          </div>


        </div>



      </div>
    </div>





  </div>
</div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
        <span>Zolo Technologies Pvt. Ltd.</span>.
        <span>All rights reserved. </span>
      </p>
      <p class="pull-right sm-pull-reset">
        <span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About Us</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact Us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of Use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>
      </p>
    </div>
  </div>
