

  <style>
  .ng-cloak { display: none !important; }
  .main-content .page-content{
    padding: 0!important;
  }
    .profile-fab-btn{
      position: fixed;
      bottom: 40px;
      right: 10px;
      background-color: #673ab7;
      color: #fff;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      line-height: 70px;
      text-align: center;
      cursor: pointer;
    }

    .profile-share-fab-btn{
      right: 112px;
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: #fff;
      top: 265px;
      background: #673ab7;
      text-align: center;
      line-height: 65px;
      z-index: 99;
    }

  .profile-share-fab-btn i:hover{
    color: #fff;
  }


  </style>





<div class="container-fluid" >
  <div ng-hide="loadingProfile" class="row">


    <div ng-hide="loadingCoverImage" class="col-md-12">
      <div class="cover-img" style="background: url('{{profile.banner || '../global/images/logo/BANNER.png'}}') center no-repeat; background-size:cover; "></div>
      <div class="edit-btn-bg">
        <button ng-show="edit_profile" ngf-select="uploadBanner($file)" class="btn zolo-btn cover-edit-btn">Edit Profile </button>

        <div ng-show="profile.short_description!=null" class="user-name">{{profile.short_description}}</div>
      </div>
      <a href=""
         socialshare
         socialshare-url="http://imzolo.com/profile/{{profile.user_id}}"
         socialshare-provider="facebook"
         socialshare-text="{{profile.name}}"
         socialshare-media="{{profile.image}}"
         socialshare-via="953913041345816"
         socialshare-description="{{profile.description}}"
         socialshare-type="feed"
         class="profile-share-fab-btn hover-f"><i class="fa fa-share f-24 "></i></a>
    </div>


    <div ng-show="loadingCoverImage" class="col-md-12 text-center m-t-60">
        <div layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
        </div>
        <div class="row text-center">
          <p class="text-center"> Uploading Cover Image !</p>
        </div>
    </div>



    <div class="col-md-12">
      <div class="card m-t-0">
        <div class="profile-preview">
          <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12 text-center">
              <img src="{{profile.image || '../global/images/dummy.png'}}" alt="" class="img-circle profile-img">
              <button ng-click="openProfilePicModal()" class="btn edit-profile" style="left:60px;" >edit <i class="fa fa-pencil"></i></button>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
              <p class="w-600 f-20" id="scrollmedownn" >{{profile.name}} </p>
              <p class="text-muted-z f-14 zolo-n-m w-500">{{profile.short_description}}</p>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-12">
              <p class="w-600 f-20 text-center">{{profile.completed_orders || 'None'}}</p>
              <p class="zolo-n-m text-muted-z f-14 w-500 text-center">Projects Completed</p>

            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <p class="w-600 f-20 text-center">{{profile.mobile || 'NA'}}</p>
              <p class="zolo-n-m text-muted-z f-14 w-500 text-center">Contact Number</p>
            </div>


            <!--<div class="col-md-2 col-sm-6 col-xs-12">
              <p class="zolo-n-m f-18 pdp-share">
                <a href=""
                   socialshare
                   socialshare-url="http://imzolo.com/profile/{{profile.user_id}}"
                   socialshare-provider="facebook"
                   socialshare-text="{{profile.name}}"
                   socialshare-media="{{profile.image}}"
                   socialshare-via="953913041345816"
                   socialshare-description="{{profile.description}}"
                   socialshare-type="feed"
                   class="hover-f">Share &nbsp;<i class="fa fa-share-alt"></i></a>
              </p>
              <p></p>
              <p>
            </div>-->

            <!--<div class="col-md-2 col-sm-6 col-xs-12 ng-cloak">-->
              <!--<button ng-click="edit_profile=true" class="btn e-profile-btn zolo-btn"><span ng-hide="edit_profile">Edit Profile</span><span ng-show="edit_profile">Editing......</span></button>-->

              <!--&lt;!&ndash;<button ng-if="edit_profile" ng-click="saveProfile()" class="btn e-profile-btn zolo-btn ">Save</button>&ndash;&gt;-->
              <!--&lt;!&ndash;<button ladda-button="disabled" type="submit" class="btn e-profile-btn zolo-btn ladda-button" style="width: 100%;" data-style="zoom-in"  >&ndash;&gt;-->
             <!--&lt;!&ndash;&ndash;&gt;-->



              <!--&lt;!&ndash;<button class="btn e-profile-btn zolo-btn"  >&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-hide="edit_profile"  ng-click="edit_profile=true;goToTop()" >Edit Profile</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-show="edit_profile" ng-click="saveProfile()" >Save</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
     </div>

  <div ng-hide="loadingProfile" class="row">

    <div class="col-md-8">

      <div class="row">
        <div ng-show="edit_profile" class="col-md-12">
          <div class="card">

            <h2 id="scrollme" class="m-0">Edit Profile<button class="btn btn-success btn-transparent text-c m-l-20 m-0" ng-click="saveProfile()">
              Close</button>  </h2>


            <div id="edit" class="row">
              <!--<form name="myProfile">-->
              <md-content class="md-padding">
                <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
                  <md-tab label="Basic info" ng-click="selectedIndex=0" >
                    <md-content class="md-padding">

                      <form name="basicinfo" novalidate>
                      <p class="f-16 m-t-20">Name</p>
                      <input ng-model="profile.name" name="name" id="name" type="text" class="form-control" ng-change="validateProfileName()" maxlength="50" placeholder="Name">
                      <!--<div ng-messages="myProfile.name.$error" ng-show="myProfile.name.$dirty">-->
                      <div ng-show="validation.name" class="text-danger">Name is required! Only character are allowed | Max 50 char</div>
                      <!--word count: {{profile.name.length}}-->
                      <!--</div>-->
                      <!-- Contacts icon by Icons8 -->
                      <br>

                      <p class="f-16 m-t-20">Tagline</p>
                      <input ng-model="profile.short_description" type="text" class="form-control" placeholder="Enter a Tagline to describe you" maxlength="100" >
                      <div>Character Count: {{profile.short_description.length}} | Max 100 char</div>
                      <p class="f-16 m-t-20">Phone Number</p>
                      <input type="text" ng-keypress="filterValue($event)" number-converter ng-model="profile.mobile" name="mobile" id="mobile"  class="form-control" ng-change="validateMobileNumber()" ng-maxlength="10" maxlength="10" ng-minlength="10" placeholder="Enter your contact number">
                      <div ng-show="validation.mobile" class="text-danger">Enter valid number</div>
                      <p class="f-16 m-t-20">Email</p>
                      <input ng-model="profile.email" type="email" class="form-control" readonly maxlength="50">

                      <p class="f-16 m-t-20">Birth Date</p>
                      <input ng-model="birth_date" type="date"  min='1899-01-01' max="4000-01-01" class="form-control " placeholder="yyyy-mm-dd" >
                      <!--<div ng-show="validation.date" class="text-danger">Invalid date</div>-->



                      <!--<p class="f-16 m-t-20">Date of Birth</p>
                      <md-datepicker ng-model="birth_date" md-placeholder="Enter date"
                                     md-min-date="1980-01-01" md-max-date="'1998-01-01'"></md-datepicker>-->
                      <p class="f-16 m-t-20">Address</p>
                      <input ng-model="profile.address" type="text" class="form-control" placeholder="Enter your address" maxlength="200" >
                      <div>Character Count: {{profile.address.length}} | Max 200 char</div>

                      <div class="row">
                        <div class="col-md-4">

                            <p class="f-16 m-t-20">State</p>
                          <input ng-model="profile.state" type="text" class="form-control" id="state" name="state" ng-change="validateState()" maxlength="30" placeholder="Enter your state">

                          <div ng-show="validation.state" class="text-danger">Only character are allowed | Max 30 char</div>

                        </div>
                        <div class="col-md-4">

                            <p class="f-16 m-t-20">City</p>
                          <input ng-model="profile.city" type="text" id="city" name="city" ng-change="validateCity()" maxlength="30" class="form-control" placeholder="Enter your city">
                          <div ng-show="validation.city" class="text-danger">Only character are allowed | Max 30 char</div>

                        </div>
                        <div class="col-md-4">
                          <p class="f-16 m-t-20">Pincode</p>
                          <input number-converter ng-model="profile.pin" name="pin" id="pin" type="text" maxlength="6" minlength="6" ng-change="validatePinCode()"class="form-control" placeholder="Enter your pincode">
                          <div ng-show="validation.pin" class="text-danger">Enter valid pin</div>
                        </div>
                      </div>
                      <p class="f-16 m-t-20">Gender</p>
                      <div class="radio radio-primary" style="display:inline-block;">
                        <label>
                          <input type="radio" ng-model="profile.sex" name="r-primary" value="Male" checked="" class="md-radio"><span class="circle"></span><span class="check"></span>
                          Male
                        </label>
                      </div>

                      <div class="radio radio-primary" style="display:inline-block;">
                        <label>
                          <input type="radio" ng-model="profile.sex" name="r-primary" value="Female" checked="" class="md-radio"><span class="circle"></span><span class="check"></span>
                          Female
                        </label>
                      </div>
                      <br>
                      <hr class="custom-hr">
                      <md-button type="submit" class="md-raised md-primary btn-default pull-right" ng-disabled="saving" ng-click="updateFirstTab()">Save and Next <span><i ng-style="loaderStyle" class="fa fa-spinner fa-spin"></i> </span> <md-tooltip md-direction="right" class="f-10">
                        To open other tabs of profile to fill please Post a Package.
                      </md-tooltip></md-button>
                      <!--<md-button ng-show="profile.is_seller == 1 && profile.step_number!=null" class="md-raised md-primary btn-default"ng-click="nextTab()">next</md-button>-->
                   </form>
                    </md-content>
                  </md-tab>

                  <md-tab ng-disabled="profile.is_seller != 1 || profile.step_number==null" label="About Yourself" ng-click="selectedIndex=1">
                    <md-content class="md-padding">
                      <form ng-submit="saveAndNext()" name="aboutyour" novalidate>
                      <div class="col-md-12">
                        <p class="f-16">About Yourself</p>

                        <div class="form-group m-b-10">
                          <div class="form-control-wrapper">
                            <textarea ng-model="profile.description" class="form-control empty" placeholder="Write something about yourself" style="height:50px;" maxlength="1000"></textarea>
                            <!--                                <div class="floating-label">textarea label</div>-->
                            <span class="material-input"></span>

                          </div>
                        </div>

                      </div>

                      <div class="col-md-12">

                        <p class="f-16 ">Skills</p>
                        <div class="form-control-wrapper">
                          <tags-input placeholder="Add skills" class="form-control" ng-model="profile.skills" add-from-autocomplete-only="true">
                            <auto-complete source="skills"></auto-complete>
                          </tags-input>
                        </div></div>
                      <div class="col-md-12">

                        <p class="f-16 ">Years of Experience</p>

                        <div class="form-control-wrapper">
                          <input ng-model="profile.experiences" name="exper" type="number" max="200"  class="form-control" placeholder="Year">
                          <span class="validation-message text-danger" ng-show="aboutyour.exper.$invalid ">Enter feasible years of experience !</span>
                        </div>
                      </div>
                      <!--<div class="col-md-12 m-b-20">-->
                      <div class="col-md-12">
                        <p class="f-16">Social Links</p>
                        </div>
                        <div class="col-md-6 col-sm-6" >
                          <div class="input-group m-b-sm" style="margin-left:-10px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon"><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                    <img class="icon icons8-LinkedIn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABG0lEQVQ4T+2UQU7DMBBFZ+zs4QYtJyCcgHKDcgJYZKzsEDfpMvJk0RvADQgngN6g3IDuExuNFZemoiiywo5ZWbLnefxn/BEmDoy8siznXdfNUvha64+qqraSG4A97A0Rz1OA3vtPrfWVQAOwKIqFUuolBRZznHM3dV03PwF33vt3RMwB4GzsJb8Bb621z8aYJQA8TQF8tNauiGiFiA9TADcict+gSwAIEoQOfsuwAQDZ28fJJ8eN2Cjv/SszLySTiO6Zed2vc0Rsos5JwAhi5lDxoSxJQGOMVHenlLqQmTsctyQgETWIeH0si1T7D/zbvzz2cwzODZoi9uWck9kabQZHt+6UUvnevqIntm07Tykvy7LtwGBTIKdyvgAnKUwkZwC7NwAAAABJRU5ErkJggg==" width="20" height="20"></span>
                            <input ng-model="profile.linkedin_profile_url" type="url" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="LinkedIn Profile Link" aria-describedby="basic-addon1">
                          </div>


                        </div>




                        <div class="col-md-6 col-sm-6" >


                          <div class="input-group m-b-sm" style="margin-left:-20px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon" ><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                                                      <!-- Facebook icon by Icons8 -->
<img class="icon icons8-Facebook" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA9UlEQVQ4T+3UwQ2CQBAF0JlZ7tqBdKBWoHbCATYc7UBL8EgCBzpRK9AStAO5EtgxQ1yzmhjD6sGD3Aj5Lz8zYRC+/KD10jQN27Yd+fhKqXOWZSfJduANOyDi0Adk5otSaipoB8ZxPCeirQ9mM8aYRVEUu14gM++ZeW0RItoAwFjefcCqruuwLMuLBZMk2SHizAuUdnmezyWstV4zs0ATO/feDV3QbeY1QxdzF6e15t8ApcXzDAFg5bb9aIaylD/Y/09h5iMALG+LiBAx+mgp7w7Hw5blfBljpMHgXfDF94qIJvfzZW9i0zShDxgEwenhwPogrzJXibH2FUj156EAAAAASUVORK5CYII=" width="20" height="20"></span>
                            <input ng-model="profile.facebook_profile_url" type="url" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="Facebook Profile Link" aria-describedby="basic-addon1">
                          </div>


                        </div>



                        <div class="col-md-6 col-sm-6" >


                          <div class="input-group m-b-sm" style="margin-left:-10px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon"><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                                                      <!-- Google Plus icon by Icons8 -->
                                                      <!-- Google Plus icon by Icons8 -->
<img class="icon icons8-Google-Plus" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABS0lEQVQ4T7WUwU3DQBREZ2zFV9IBoQLogHSAUkGcw/pKCSQVQK7eA0kFQAWYCggVABUQrrG0gz6yoxCFYAixtBdr52nmz+7SOZeSvMYOn6QBsyzTDoyldK+gkaQ2ycc8z6fOuRMAlyS725yvOxoBmJvQRJa9LMvbVqs1I3nYGBRF0VEIIQVwUYEevPdd51xB8vS3IItyU4vyPDfXMwDH2+BfokmaeO8HzrkrkucALGoHQL8GS9roclNrL5KKOI5HIYRVd9MQwoTk3Hs/sxKslCiKbBT9b+tfGbSJz8wtAFvvNQjAAQA70Ol6tFeSttk2zCXdmSjLMvv3Ga9JtCdJZvOeZHulod5isSiSJHlrCupV4mVjtTCO4zSE8NyofknjsiyHSZIUddUVaFw5XDa3Cbg+7KHNpboiHTvNkro/XQ8D7/XS/ulV4X89bB/bTd5B9/zEFgAAAABJRU5ErkJggg==" width="18" height="18"></span>
                            <input ng-model="profile.google_plus_profile_url" type="url" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="Google Plus Profile Link" aria-describedby="basic-addon1">
                          </div>


                        </div>




                        <div class="col-md-6 col-sm-6" >
                          <div class="input-group m-b-sm" style="margin-left:-20px;">
                                                    <span style="height:40px;font-family:Roboto;" class="input-group-addon"><!-- Name Filled icon by Icons8 -->
                                                      <!-- Contacts icon by Icons8 -->
                                                      <!-- LinkedIn icon by Icons8 -->
                                                      <!-- Twitter icon by Icons8 -->
<img class="icon icons8-Twitter" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABbUlEQVQ4T72UUU7CQBCG599CX8UTCCcQboAnsDewJuyGN7mBHMFHsjSxR9ATiCcATyDcoLzuQtcMoaSibaVRJ+nbzNd/5p8d0C8HMt5wOGxvt9uLOnzP81aTyWTJtTvgHjYH0KoDdM4lnuf1GLoDDgaDvhDipQ4sq0nT9CqKotm/ANdExPO4PFL8JoQIuC2l1IiIuvtvl1eo0Dn3aq0NfN+f5aHGmPM4jpPsJ1JKBo4BXJcCWZ3WusNJUsqQiEI2S2vNgEMwEMC8cobOuRWAkdb6qcwkpdSYiO5/AkystZ18e9+BlVIxEd1UAjnBOfdsrQ2LoGEYtprN5nt+b6vWZmmM6RUBpZQPAO7yyquArHJFRMF0Ol0cmcEmPR6PoWxtEgC3xphZXiG36fs+m8A7+CVKFfLbJKIFAN5FVtsH0C9zvbLlU9/13wL5fKVpysM/O1XZPn8thOgezld2EzebTbsOsNFoLD8d2DqQopoPtjv/FbhgaIoAAAAASUVORK5CYII=" width="20" height="20"></span>
                            <input ng-model="profile.twitter_profile_url" type="url" style="height:40px;font-family:Roboto;Font-size:16px;" class="form-control" placeholder="Twitter Profile Link" aria-describedby="basic-addon1">
                          </div>
                        </div>
                      <!--</div>-->
                      <div class="col-md-12">
                      <md-button type="button" class="md-raised md-primary btn-default" ng-click="backTab()">Back</md-button>
                      <md-button type="submit" class="md-raised md-primary btn-default pull-right" ng-disabled="saving" >Save and Next<span><i ng-style="loaderStyle" class="fa fa-spinner fa-spin"></i> </span></md-button>
                      <!--<md-button type="button" class="md-raised md-primary btn-default" ng-click="nextTab()">Next</md-button>-->
                   </div>
                        </form>
                    </md-content>
                  </md-tab>

                  <md-tab ng-disabled="profile.is_seller != 1 || profile.step_number==null" label="Portfolio" ng-click="selectedIndex=2">
                    <md-button ng-hide="portfolioshowing" ng-click="showportfolio()" class="md-raised md-primary zolo-btn">Add New Portfolio</md-button>


                    <md-content ng-show="portfolioshowing" class="md-padding">
                      <form ng-submit="" name="myform1" novalidate>

                        <div class="form-group col-md-12">
                          <p class="f-20 w-200">Add Portfolio</p>
                          <p class="f-16 m-t-20">Name</p>
                          <input ng-model="portfolio.name" name="portfolio_name" id="portfolio_name" placeholder="name" type="text" maxlength="50" class="form-control" required>
                          <div ng-show="myform1.portfolio_name.$error.required&&submitPortfolio" class="text-danger">Name is required</div>
                        </div>

                        <div class="form-group col-md-12">
                          <p class="f-16 m-t-20">Description</p>
                          <textarea ng-model="portfolio.description" name="portfolio_description" maxlength="800" id="portfolio_description" class="form-control empty" placeholder="Describe your portfolio" style="height:50px;" ></textarea>

                          <span class="material-input"></span>
                        </div>
                        <div class="col-md-10 col-sm-12 m-b-20 m-t-10">
                          <button class="btn" name="file1" ngf-select="uploadPortfolio(port.picFiles)"  ngf-accept="'.PDF,.DOC,.DOCX,.PNG,.PPT,.JPG,.JPEG,.GIF,.pdf,.ppt,.doc,.docx,.png,.jpg,.jpeg,.gif'" ngf-pattern="'.PDF,.DOC,.DOCX,.PNG,.JPG,.PPT,.JPEG,.GIF,.pdf,.doc,.ppt,.docx,.png,.jpg,.jpeg,.gif'" ngf-multiple="true"  ng-model="port.picFiles" required>select file</button>
                          <div ng-show="myform1.file1.$error.required && submitPortfolio" class="text-danger">Please select file</div>
                          <b ng-show="myform1.file1.$error.pattern" class="text-danger">File type is not accepted.</b>
                          <!--<b ng-show="myform1.file1.$error.maxSize" class="text-danger">File too large |Max size 10MB</b>-->
                          <!--ngf-max-size="10MB"-->
                        </div>

                        <div  class="col-md-12">
                          <p class="f-10 m-0" >* Max size 10MB | Accepted Formats .PDF,.DOC,.DOCX,.PPT,.PNG,.JPG,.JPEG,.GIF</p>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-4" ng-repeat="file in port.picFiles">
                              <img ngf-src="!file.$error && file" style="width: 100%; height: 100px;">
                              <md-progress-linear md-mode="determinate" value="{{file.progress}}"></md-progress-linear>
                            </div>
                          </div>
                        </div>

                      <div class="col-md-12">
                      <md-button type="button" class="md-raised md-primary btn-default" ng-click="backTab()">Back</md-button>
                        <md-button type="button" ng-click="nextTab()" class="md-raised md-primary btn-default pull-right" ng-disabled="saving"> Next</md-button>
                        <md-button type="submit" ng-click="savePortfolio(port.picFiles)" class="md-raised md-primary btn-default pull-right" ng-disabled="saving" >Save<span><i ng-style="loaderStyle" class="fa fa-spinner fa-spin"></i> </span></md-button>
                        </div>
                        </form>
                    </md-content>


                  </md-tab>


                  <md-tab ng-disabled="profile.is_seller != 1 || profile.step_number==null" label="Verification" ng-click="selectedIndex=3">
                    <md-content class="md-padding">

                      <div class="container-fluid">

                          <div ng-hide="documentadded" class="row ">
                            <div class="col-md-12 border-right m-b-20">
                            <p class="f-20 w-200 m-b-20">Add Documents</p>

                            <!--<form name="myform" ng-submit="submitDetails()" novalidate>-->
                            <!--<p class="f-20 w-200">Add Document</p>-->
                            <div class="col-md-12 border-right m-b-20">
                              <form name="myform" ng-submit="submitDetails()" novalidate>

                                  <div class="service-tax-space f-16">Are You Registered Sales Tax Payer ?</div>
                                <div class="col-md-6 m-b-10">
                                  <div class="radio radio-primary custom-radio">
                                    <label>
                                      <input ng-model="seller.is_registered_tax_payer" id="is_registered_tax_payer" type="radio" name="r-primary" value="1" class="md-radio"><span class="circle"></span><span class="check"></span>
                                      Yes
                                    </label>
                                  </div>
                                </div>
                                <div class="col-md-6 m-b-10">
                                  <div class="radio radio-primary custom-radio">
                                    <label>
                                      <input ng-model="seller.is_registered_tax_payer" type="radio" name="r-primary" value="0" checked class="md-radio"><span class="circle"></span><span class="check"></span>
                                      No
                                    </label>
                                  </div>
                                </div>


                                <div ng-show="seller.is_registered_tax_payer==1">
                                  <!--<label for=" st_number" class="m-t-20">Sales Tax Number</label>-->
                                  <p for="st_number" class="f-16 m-t-20">Sales Tax Number</p>

                                  <input type="number" id=" st_number" ng-model="seller.st_number" ng-maxlength="25" ng-change="validation.seller.st_number=false"  class="form-control " placeholder="Sales Tax Number"/>

                                  <div ng-show="validation.seller.st_number" class="text-danger">Sales Tax number is required | invalid </div>



                                  <!--<label  class="m-t-20">Upload Registration Certificate</label>-->
                                  <p  class="f-16 m-t-20">Upload Registration Certificate</p>

                                  <!--<input type="email" id="email"  class="form-control" ng-model="contact.email" placeholder="Email" required/>-->

                                  <!--<input type="file" id="registration_file" name="file" class="form-control" value="upload">-->
                                  <button class="btn" id="file1" name="file1" ngf-select ngf-max-size="5MB" ngf-accept="'.PDF,.DOC,.DOCX,.PPT,.PNG,.JPG,.JPEG,.GIF,.pdf,.doc,.docx,.ppt,.png,.jpg,.jpeg,.gif'" ngf-pattern="'.PDF,.DOC,.DOCX,.PPT,.PNG,.JPG,.JPEG,.GIF,.pdf,.doc,.docx,.ppt,.png,.jpg,.jpeg,.gif'" ng-model="regCertDoc" ng-change="validation.regCertDoc=false">select file</button>
                                  {{regCertDoc.name}}
                                  <b ng-show="myform.file1.$error.pattern" class="text-danger">File type is not accepted.</b>

                                  <b ng-show="myform.file1.$error.maxSize" class="text-danger">File too large |Max size 5MB</b>


                                  <div ng-show="validation.regCertDoc" class="text-danger">registration certificate is required</div>
                                  <div  class="col-md-12 ">
                                    <p  class="f-10" >* Max size 5MB | Accepted Formats .PDF,.DOC,.DOCX,.PPT,.PNG,.JPG,.JPEG,.GIF</p>
                                  </div>


                                  <!--<textarea name="" id="vat_id" cols="14" rows="6" class="form-control" ng-model="contact.message" placeholder="Type your message here..." required></textarea>-->
                                </div>

                                <!--<label for="pan_number" class="m-t-20 ">PAN Number</label>-->
                                <p for="pan_number" class="f-16 m-t-20">PAN Number</p>
                                <input type="text" id="pan_number" class="form-control" maxlength="10" ng-change="validation.seller.pan_number=false; pan=false" ng-model="seller.pan_number" placeholder="PAN Number"/>

                                <div ng-show="validation.seller.pan_number" class="text-danger">PAN number is required </div>
                                <div ng-show="pan" class="text-danger">invalid PAN Number </div>

                                <!--<label for="vat_id" class="m-t-20">VAT ID</label>-->
                                <p for="vat_id" class="f-16 m-t-20">VAT ID</p>

                                <input type="text" id="vat_id" maxlength="12" class="form-control" ng-model="seller.vat_id" ng-change="validation.seller.vat_id=false;vat=false" placeholder="VAT ID"/>

                                <div ng-show="validation.seller.vat_id" class="text-danger">VAT ID is required </div>
                                <div ng-show="vat" class="text-danger">invalid VAT ID </div>
                                <!--<label  class="m-t-20">Upload Address Verification Document</label>-->
                                <p  class="f-16 m-t-20">Upload Address Verification Document</p>
                                <!--<input type="file" id="add_doc" class="form-control" />-->
                                <button class="btn" id="file2" name="file2" ngf-select ngf-max-size="5MB" ngf-accept="'.PDF,.DOC,.DOCX,.PPT,.PNG,.JPG,.JPEG,.GIF,.pdf,.doc,.docx,.ppt,.png,.jpg,.jpeg,.gif'" ngf-pattern="'.PDF,.DOC,.DOCX,.PPT,.PNG,.JPG,.JPEG,.GIF,.pdf,.doc,.docx,.ppt,.png,.jpg,.jpeg,.gif'" ng-model="addressDoc" ng-change="validation.addressDoc=false">select file</button>{{addressDoc.name}}
                                <b ng-show="myform.file2.$error.maxSize" class="text-danger">File too large |Max size 5MB</b>
                                <b ng-show="myform.file2.$error.pattern" class="text-danger">File type is not accepted.</b>
                                <div ng-show="validation.addressDoc" class="text-danger">Address verification doc is required</div>
                                <div  class="col-md-12 ">
                                  <p  class="f-10" >* Max size 5MB | Accepted Formats .PDF,.DOC,.DOCX,.PPT,.PNG,.JPG,.JPEG,.GIF</p>
                                </div>
                                </br>

                                <div  class="col-md-12 tandc m-t-10 m-b-10 p-l-10 p-r-10">
                                  <p  class="tandc"><span class="w-500">Disclaimer :</span>&nbsp; The Company will not be liable for any false, inaccurate, inappropriate or incomplete information presented by the vendor with respect to non chargeability of service tax. Any liability arising  out of chargeability of service tax will be borne by the vendor on its own and Company  will not be liable or  for the same.</p>
                                </div>


                                <div class="checkbox">
                                  <label>
                                    <!--<input type="checkbox" class="md-checkbox">-->
                                    <input ng-model="seller.termsaccepted"  type="checkbox" ng-change="validation.seller.termsaccepted=false "  class="md-checkbox">
                                    <span class="checkbox-material"><span class="check"></span></span>
                                    Accepting terms and condition
                                  </label>
                                </div>
                                <div ng-show="validation.seller.termsaccepted" class="text-danger">Please accept terms and conditions</div>


                                <!--<button type="submit" ng-disabled="saving" class="btn btn-lg zolo-btn"><i class="fa fa-send-o"></i>&nbsp;&nbsp;Submit</button>-->
                                <md-button type="button" class="md-raised md-primary btn-default" ng-click="backTab()">Back</md-button>
                                <md-button type="submit" ng-disabled="saving"  class="md-raised md-primary zolo-btn">Save<span><i ng-style="loaderStyledoc" class="fa fa-spinner fa-spin"></i> </span></md-button>

                              </form>
                            </div>


                          </div>

                          </div>
                            <div ng-show="documentadded" >
                          <p  class="w-300 f-20 text-center">Added Document Detail</p>
                          <hr class="custom-hr">
               <div class="row">
                 <div class="col-md-1">
                 </div>
                     <div class="col-md-11">
                          <div ng-show="seller.is_registered_tax_payer==1">

                            <div class="row">
                          <div  class="col-md-6">
                            <p class="w-500 m-t-5 m-b-5 f-16 text-muted-z">Salestax number </p>
                          </div>
                              <div class="col-md-1">
                                <p class="w-500 m-t-5 m-b-5 f-16 text-muted-z">:</p>
                              </div>

                            <div class="col-md-5">
                              <p class="f-16 m-t-5 m-b-5">{{seller.st_number}}</p>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                          <p class="w-500 f-16 m-b-5 m-t-5 text-muted-z">Registration Certificate </p>
                              </div>
                            <div class="col-md-1">
                              <p class="w-500 m-t-5 m-b-5 f-16 text-muted-z">:</p>
                            </div>
                            <div class="col-md-5">
                              <p class="f-16 m-t-5 m-b-5"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;<a href={{seller.reg_certificate}} target="_blank" >Download</a></p>
                            </div>
                            </div>


                            </div>


                          <div class="row">
                            <div class="col-md-6">
                          <p class="w-500 f-16 m-b-5 m-t-5 text-muted-z">Pan Number  </p>
                            </div>
                            <div class="col-md-1">
                              <p class="w-500 m-t-5 m-b-5 f-16 text-muted-z">:</p>
                            </div>
                            <div class="col-md-5">
                              <p class="f-16 m-t-5 m-b-5">{{seller.pan_number}}</p>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col-md-6">
                          <p class="w-500 f-16 m-b-5 m-t-5 text-muted-z">Vat-id  </p>
                            </div>
                            <div class="col-md-1">
                              <p class="w-500 m-t-5 m-b-5 f-16 text-muted-z">:</p>
                            </div>
                            <div class="col-md-5">
                              <p class="f-16 m-b-5 m-t-5"> {{seller.vat_id}}</p>
                              </div>
                            </div>

                          <div class="row">
                            <div class="col-md-6">
                          <p class="w-500 f-16 m-b-5 m-t-5 text-muted-z">Address Verification document </p>
                              </div>
                            <div class="col-md-1">
                              <p class="w-500 m-t-5 m-b-5 f-16 text-muted-z">:</p>
                            </div>
                            <div class="col-md-5">
                              <p class="f-16 m-b-5 m-t-5"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;<a href={{seller.add_verification_proof}} target="_blank">Download</a></p>

                           </div>
                            </div>


                        </div>
                 <div class="col-md-1">
                   </div>
                 <div class="col-md-11">
                   <md-button type="button" class="md-raised md-primary btn-default" ng-click="backTab()">Back</md-button>
                 </div>
                              </div>
                            </div>


                        </div>

                    </md-content>
                  </md-tab>


                </md-tabs>
              </md-content>
              <!--</form>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h2 class="text-c m-t-5">About {{profile.name}}</h2>
            <hr class="custom-hr">
            <p ng-if="profile.description != '' || profile.description != null">{{profile.description}}</p>
            <p ng-if="profile.description == '' || profile.description == null">You are yet to update your profile</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h2 class="text-c m-t-5">{{profile.name}} Packages</h2>
            <hr class="custom-hr">
            <div class="row">

              <div  ng-if="(user_packages.data.length - DraftPackage.length) >0" class="col-md-12">


                <div class="widget widget_slider">

                <div class="row hidden-xs hidden-md my-gigs">

                  <slick arrows="true" vertical="false" draggable="false" touch-move="false" id="slider-2" as-nav-for="#main-slider"
                         focus-on-select="true" slides-to-show=3 slides-to-scroll=1 init-onload=true
                         data="user_packages.data" class="slider multiple-items">


                    <div ng-repeat="package in user_packages.data" ng-if="package.isCompleted==1">
                      <!-- <h3 class="bg-primary">1</h3> -->

                      <div   package-card package="package" master-collections="collections">
                      </div>
                    </div>

                    <!--<p class="f-20" ng-hide="user_packages.data.isCompleted==1" > No published packages</p>-->

                  </slick>
                </div>


               </div>

                <div class="row hidden-lg hidden-xs my-gigs">

                  <slick arrows="true" vertical="false" draggable="false" touch-move="false" id="slider-3" as-nav-for="#main-slider"
                         focus-on-select="true" slides-to-show=2 slides-to-scroll=1 init-onload=true
                         data="user_packages.data" class="slider multiple-items">
                    <div ng-repeat="package in user_packages.data" ng-if="package.isCompleted==1">
                      <!-- <h3 class="bg-primary">1</h3> -->
                      <div package-card package="package" master-collections="collections">
                      </div>
                    </div>
                    <p class="f-20" ng-hide="package.is_completed==1" > No published packages</p>

                  </slick>
                </div>

                <div class="row hidden-md hidden-lg my-gigs visible-xs" style="padding: 25px;">

                  <slick arrows="true" vertical="false" draggable="false" touch-move="false" id="slider-4" as-nav-for="#main-slider"
                         focus-on-select="true" slides-to-show=1 slides-to-scroll=1 init-onload=true
                         data="user_packages.data" class="slider multiple-items">
                    <div ng-repeat="package in user_packages.data" ng-if="package.isCompleted==1">
                      <!-- <h3 class="bg-primary">1</h3> -->
                      <div package-card package="package" master-collections="collections">
                      </div>
                    </div>
                    <p class="f-20" ng-hide="package.isCompleted==1" > No published packages</p>
                  </slick>
                </div>




                <!--</div>-->
              </div>

              </div>

            <div class="row">
              <div ng-if="(user_packages.data.length - DraftPackage.length)<=0" class="col-md-12">
                <p>You haven't posted any package yet, to start selling click the button below</p>

                <p class="text-center"><a ng-href="/post-a-package/" class="btn btn-lg btn-success">Post a package</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--ng-repeat="package in user_packages.data"-->

      <div ng-if="portfolios.length>0" class="row ">
        <div ng-hide="portfolio_selected" class="col-md-12">
          <div class="card" ng-hide="deleting">
            <h2 class="m-t-5">My Portfolio</h2>
            <hr class="custom-hr">
            <div class="row">

              <div ng-repeat="portfolio in portfolios" class="col-md-4 ng-scope" >
                <div class="panel panel-transparent my-effect">
                  <div class="panel-content">
                    <div class="portfolioContainer grid">
                      <a ng-href="/portfolio/{{portfolio.id}}">
                      <figure class="effect-sarah my-portfolio ">
                        <img ng-src="{{portfolio.files.data[0].fileurl}}" width="100%" alt="img13"/>
                        <figcaption>
                          <p class="ng-binding">{{portfolio.name | limitTo:20}}</p>
                        </figcaption>
                      </figure>
                      </a>
                    </div>
                  </div>
                  <!--/portfolio/{{portfolio.id}}-->
                  <!--ng-click="selectPortfolio(portfolio)"-->
                  <div class="row zolo-center">
                    <div class="col-xs-8">
                      <a href="" class="text-muted f-16 w-400">{{portfolio.name | limitTo:15}}</a>
                    </div>

                    <div class="col-xs-4">
                      <span>
                    <a href=""
                       socialshare
                       socialshare-url="http://imzolo.com/portfolio/{{portfolio.id}}"
                       socialshare-provider="facebook"
                       socialshare-text="{{portfolio.name}}"
                       socialshare-media="{{portfolio.files.data[0].fileurl}}"
                       socialshare-via="953913041345816"
                       socialshare-description="{{portfolio.description}}"
                       socialshare-type="feed"
                       class="hover-f"><i class="fa fa-share f-20 "></i></a>
                    </span>
                      <span class="pull-right" ng-click="deletePortfolio1(portfolio.id)"><i class="fa fa-trash f-20 text-danger"></i></span>
                    </div>


                    <!--<a href="" class="">{{portfolio.name}}</a>-->
                    <!--<span>-->
                    <!--<a href=""-->
                       <!--socialshare-->
                       <!--socialshare-url="http://imzolo.com/portfolio/{{portfolio.id}}"-->
                       <!--socialshare-provider="facebook"-->
                       <!--socialshare-text="{{portfolio.name}}"-->
                       <!--socialshare-media="{{portfolio.files.data[0].fileurl}}"-->
                       <!--socialshare-via="953913041345816"-->
                       <!--socialshare-description="{{portfolio.description}}"-->
                       <!--socialshare-type="feed"-->
                       <!--class="hover-f"><i class="fa fa-facebook f-24 "></i></a>-->
                    <!--</span>-->
                    <!--<span ng-click="deletePortfolio1(portfolio.id)"><i class="fa fa-trash f-20 text-danger"></i></span>-->
                  </div>
                </div>
              </div>
            </div>









          </div>


          <div ng-show="deleting" class="row card">
            <div class="col-md-12 text-center m-t-60">
              <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
              </div>
            </div>
          </div>


        </div>







          <div class="row">

        <div ng-show="portfolio_selected" class="col-md-12">
          <div class="card">
            <div class="row">
              <!--<div class="col-md-8">
                <p class="text-center f-18 w-400"> {{selected_portfolio.type}}</p>
              </div>-->
              <div class="col-md-12">
                <a ng-click="backtoportfolio()" class="pull-right btn" style="cursor: pointer">Back</a>
              </div>
            </div>
            <hr class="custom-hr">

            <div class="row">
              <div class="col-md-12">
                <p class="f-16">{{selected_portfolio.name}}</p>
                <p class="f-16">{{selected_portfolio.description}}</p>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4" ng-repeat="file in selected_portfolio.files.data">
                    <a ng-href="{{file.fileurl}}" target="_blank">
                    <img class="img-responsive" src="{{file.fileurl}}">
                    </a>
                    <button ng-click="deletePortfolioImage(selected_portfolio, $index)" class="btn">Delete File</button>
                  </div>
                </div>
              </div>
              <!--<div class="col-md-2">
                <p class="f-16">{{selected_portfolio.type}}</p>
              </div>
-->

            </div>
          </div>
        </div>
      </div>








    </div>


  </div>




    <!--<div class="col-md-4">-->
      <!--<div class="card">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">No. of packages</h4>-->
            <!--<p ng-if="user_packages.data.length>0" class="text-center"><strong>{{user_packages.data.length}}</strong></p>-->
            <!--<p ng-if="user_packages.data.length<=0" class="text-center"><strong>No Packages !</strong></p>-->
            <!--<hr class="custom-hr">-->
          <!--</div>-->

        <!--</div>-->


        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">Skills</h4>-->
            <!--<p style="word-break: break-all;" ng-if="profile.skills.length>0" class="text-center"><strong ng-repeat="s in profile.skills">{{s.text}},</strong></p>-->
            <!--<p ng-if="profile.skills.length<=0" class="text-center">NA</p>-->
            <!--<hr class="custom-hr">-->
          <!--</div>-->

        <!--</div>-->



        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">Location</h4>-->
            <!--<p class="text-center"><strong>NA</strong></p>-->
            <!--<hr class="custom-hr">-->
          <!--</div>-->

        <!--</div>-->



        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<h4 class="text-center">Rating</h4>-->
            <!--<p class="text-center"><strong>NA</strong></p>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->

    <!--</div>-->


         <div class="col-md-4">
         <div class="card p-t-0">
      <!--<div class="row border-bottom">-->
      <!--<div class="col-xs-6 p-r-0">-->
      <!--<p class="f-16 text-muted-z w-500" id="scrollmedown"><i class="fa fa-briefcase"></i>&nbsp;Projects Completed</p>-->

      <!--</div>-->

      <!--<div class="col-xs-6">-->
      <!--<p class="pull-right w-500 f-18">{{other_user_packages.data.length}}</p>-->
      <!--<p class="pull-right w-500 f-18" ng-if="user_packages.data.length<=0" >0</p>-->


      <!--</div>-->


      <!--</div>-->




      <div class="row border-bottom">
        <div class="col-xs-6 p-r-0">
          <p class="f-16 text-muted-z w-500"  ><i class="fa fa-map-marker"></i>&nbsp;Location</p>

        </div>

        <div class="col-xs-6">
          <p class="pull-right w-500 f-18" ng-if="profile.city=='' ">N/A</p>
          <p ng-hide="profile.city==''" class="text-center pull-right"><strong>{{profile.city}}</strong></p>


        </div>


        </div>



        <div class="row border-bottom">
        <div class="col-xs-6 p-r-0">
          <p class="f-16 text-muted-z w-500"><i class="fa fa-star"></i>&nbsp;Ratings</p>

        </div>

        <div class="col-xs-6">
          <p class="pull-right w-500 f-18">No Ratings</p>

        </div>

        </div>


            <div class="row border-bottom">
            <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-signal"></i>&nbsp;Skills</p>

            </div>

           <div class="col-xs-6">
          <p class="pull-right w-500 f-18" ng-if="profile.skills.length<=0">N/A</p>
          <p ng-if="profile.skills.length>0"  class="text-center pull-right"><strong ng-repeat="s in profile.skills"><span ng-if="$index!=0">,</span>{{s.text}} </strong></p>
          <!--<p class="text-center"><strong ng-if="profile.skills.length<=0" >NA</strong></p>-->

        </div>


           </div>



    </div>
  </div>

</div>
  <div  class="row card" ng-show="loadingProfile">
    <div class="col-md-12 text-center m-t-60">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
      </div>
    </div>
  </div>

</div>


  <div class="profile-fab-btn">
    <a ng-click="edit_profile=true">
      <span ng-hide="edit_profile"><i class="fa fa-pencil fa-2x white-c"></i></span>
      <span ng-show="edit_profile"><i class="fa fa-file fa-2x white-c"></i></span>
    </a>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
        <span>Zolo Technologies Pvt. Ltd.</span>.
        <span>All rights reserved. </span>
      </p>
      <p class="pull-right sm-pull-reset">
        <span><a ng-href="/about-zolo" class="m-r-10">About Zolo</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact Us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of Use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>
      </p>
    </div>
  </div>
