<div class="modal-body zolo-center">
  <br>
  <div ng-hide="picFile" align="center" class="text-center">

    <button ngf-select ng-model="picFile" accept="image/*"  class="btn edit-profile-btn">Select Picture</button>

    <hr>
    <h4><Strong>Upload<sup>*</sup></Strong><small>JPG,PNG,BMP, Files only.</small> </h4>
    <h4 class="text-warning"style="padding: 20px;"><small class="text-warning">Max file size</small> <b>10mb</b></h4>

  </div>
  <div ng-show="picFile">
    <form name="myForm">
      <div class="row">
        <div class="col-md-6" align="center">
          <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
               class="cropArea">
            <img-crop image="picFile  | ngfDataUrl"
                      result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
          </div>
        </div>
        <div class="col-md-6" align="center">
          <div style="text-align: center;
    margin-top: 70px;">
            <img ng-src="{{croppedDataUrl}}" />
          </div>
        </div>
      </div>
      <br>
      <br>
      <!--<uib-progressbar class="progress-striped active" value="file.progress" type="info"></uib-progressbar>-->

      <div class="row">
        <div class="col-md-2 col-md-offset-7">
          <button class="btn" ng-click="upload(picFile,croppedDataUrl)">{{upload_button_text}} <span ng-style="myStyle"><i class="fa fa-spinner fa-spin"></i> </span> </button>
        </div>
        <div class="col-md-2">
          <button ngf-select ng-model="picFile" accept="image/*"  class="btn">Select Picture</button>
        </div>
      </div>

        <span class="progress" ng-show="progress >= 0">
        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
      <span ng-show="result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </form>
    <!--<div class="cropArea">
        <img-crop image="picFile" result-image="myCroppedImage"></img-crop>
    </div>
    <div>Cropped Image:</div>
    <div><img ng-src="{{myCroppedImage}}" /></div>-->
  </div>






</div>
