
<div class="zolo-login-form-main-content" style="background: url('../global/images/fashion-designer.jpg');">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 portlets">
        <div class="panel">
            <div class="panel-header md-panel-controls">
                <h2 class="text-center"><strong>Sign up</strong></h2>
            </div>
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-12">



                            <div class="form-group">
                                <label class="control-label">Firstname</label>
                                <div class="append-icon">
                                    <input type="text" name="firstname" ng-model="registration.name" class="form-control" minlength="3" placeholder="Minimum 3 characters..." required>
                                    <i class="icon-user"></i>
                                </div>
                            </div>

                           <div class="form-group m-b-30">
                                <label class="control-label">Password</label>
                                <div class="append-icon">
                                    <input type="{{showpassword ? 'text' : 'password'}}" name="password" id="password" ng-model="registration.password" class="form-control" placeholder="Between 6 and 16 characters" minlength="6" maxlength="16" required>
                                    <i class="mdi-action-visibility show-password" ng-click="showpassword = !showpassword"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Mobile Number</label>
                                <div class="append-icon">
                                    <input type="text" name="mobile" ng-model="registration.mobile" class="form-control" placeholder="Mobile Number..." minlength="10" required>
                                    <i class="icon-screen-smartphone"></i>
                                </div>
                            </div>

                            <div class="form-group m-b-30 text-center">
                                <button ng-click="doSignUp(registration)" class="btn zolo-login-submit_btn">Sign up</button>
                            </div>





                        <h2 class="background"><span>or</span></h2>



                        <div class="form-group m-b-30 ">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <p class="text-center">Already Member ? <a href="">Login Here</a></p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
