<div class="container zolo-pdp-page">
    <div class="card text-center">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class="text-center">Hi {{profile.name}}, Refer your Friend</h2>
            </div>

        </div>



        <!--<div class="row">-->
        <!--<div class="col-md-12">-->
        <!--<h4 class="text-center"><strong>Friend 1</strong></h4>-->
        <!--</div>-->
        <!--</div>-->


        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">


                <div class="form-control-wrapper refer-friend-form"><input type="text" ng-model="refer.referred_user_email" class="form-control empty"><div class="floating-label">Email</div><span class="material-input"></span></div>

                <div class="row">
                    <div class="col-md-4">


                    </div>

                    <div class="col-md-4">
                        <button ng-click="doReferral(refer)" class="btn zolo-btn">Submit</button>

                    </div>


                    <div class="col-md-4">


                    </div>



                </div>



            </div>




        </div>





    </div>
</div>
