<div>
  <div class="row">
    <div class="col-lg-12">
      <!-- HERE COMES YOUR CONTENT -->

      <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <div class="card fadeIndDown animated">
            <div class="card-content">
              <h2 class="w-500 pulse animated" style="
    text-align: -webkit-center;">
                <strong>Thank you for refering Zolo to your friends!  </strong>
                <i class="icon-check"></i>
              </h2>

              <hr>

              <div class="row">

                <div class="col-md-12 col-xs-12 zolo-center">
                  <img src="../../../global/images/profilecomplete.png">
                </div>

              </div>



            </div>
            <div class="card-action" style="
    text-align: -webkit-center;">
              <!--                    <a href="#">Know More</a> -->
              <a type="button" ng-href="/" class="btn btn-zolo btn-transparent">Continue to Zolo<div class="ripple-wrapper"></div></a>
              <a type="button" ng-href="/dashboard/referral/" class="btn btn-zolo btn-transparent">Refer More Friends<div class="ripple-wrapper"></div></a>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
        <span>Zolo Technologies Pvt. Ltd.</span>.
        <span>All rights reserved. </span>
      </p>
      <p class="pull-right sm-pull-reset">
        <span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About us</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>
      </p>
    </div>
  </div>
