<style>
  .main-content .page-content{
    padding: 0!important;
  }


</style>




<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="cover-img" style="background: url('{{profile.banner || '../global/images/bg.jpg'}}') center no-repeat; background-size:cover; "></div>

    </div>
    <div class="col-md-12">
      <div class="card m-t-0">
        <div class="profile-preview">
          <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12 text-center">
              <img src="{{profile.image || '../global/images/dummy.png'}}" alt="" class="img-circle profile-img">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <p class="w-600 f-20">{{profile.name}} </p>
              <p class="text-muted-z f-14 zolo-n-m w-500">{{profile.short_description}}</p>
            </div>
            <!--<div class="col-md-2 col-sm-6 col-xs-12">-->
              <!--<p class="w-600 f-20 text-center">{{profile.completed_orders || 'None'}}</p>-->
              <!--<p class="zolo-n-m text-muted-z f-14 w-500 text-center">Projects Completed</p>-->

            <!--</div>-->
            <div class="col-md-2 col-sm-6 col-xs-12">
              <p class=" w-600 f-20 text-center" ng-if="profile.is_contact_number_verified !=0">{{profile.mobile}}</p>
              <p class="w-600 f-20 text-center" ng-if="profile.is_contact_number_verified ==0">NA</p>
              <p class="zolo-n-m text-muted-z f-14 w-500 text-center">Contact Number</p>

            </div>
            <!--<div class="col-md-2 col-sm-6 col-xs-6">
                <p>Date Of Birth</p>
                <strong ng-if="profile.birth_date==null || profile.birth_date ==''">NA</strong>
                <strong ng-if="profile.birth_date!=null || profile.birth_date !=''">{{profile.birth_date | date : 'dd MMM yyyy'}}</strong>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">


      <div class="row">
        <div class="col-md-12 p-r-0">
          <div class="card">
            <h2 class="m-t-5">About {{profile.name}}</h2>
            <hr class="custom-hr">
            <p ng-if="profile.description!='' || profile.description!=null">{{profile.description}}</p>
            <p ng-if="profile.description=='' || profile.description==null">The seller has yet to update his description</p>
          </div>
        </div>
      </div>






      <div class="row">
        <div class="col-md-12 p-r-0">
          <div class="card">
            <h2 class="m-t-5">{{profile.name}} Packages</h2>
            <hr class="custom-hr">
            <div class="row">
              <div class="col-md-12">

                <div class="widget widget_slider p-t-0 p-b-0 m-b-0">

                  <div class="row hidden-xs hidden-md">

                    <slick arrows="true" vertical="false" id="slider-2" as-nav-for="#main-slider"
                           focus-on-select="true" slides-to-show=3 slides-to-scroll=3 init-onload=true
                           data="other_user_packages.data" class="slider multiple-items m-b-0">
                      <div ng-repeat="package in other_user_packages.data" ng-if="package.status!='DRAFT'">
                        <!-- <h3 class="bg-primary">1</h3> -->
                        <div package-card package="package" master-collections="collections">
                        </div>
                      </div>
                    </slick>
                  </div>




                  <div class="row visible-xs hidden-md hidden-lg">

                    <slick arrows="true" vertical="false" id="slider-2" as-nav-for="#main-slider"
                           focus-on-select="true" slides-to-show=1 slides-to-scroll=3 init-onload=true
                           data="other_user_packages.data" class="slider multiple-items">
                      <div ng-repeat="package in other_user_packages.data">
                        <!-- <h3 class="bg-primary">1</h3> -->
                        <div package-card package="package" master-collections="collections">
                        </div>
                      </div>
                    </slick>
                  </div>



                  <div class="row visible-md hidden-xs hidden-lg">

                    <slick arrows="true" vertical="false" id="slider-2" as-nav-for="#main-slider"
                           focus-on-select="true" slides-to-show=2 slides-to-scroll=3 init-onload=true
                           data="other_user_packages.data" class="slider multiple-items">
                      <div ng-repeat="package in other_user_packages.data">
                        <!-- <h3 class="bg-primary">1</h3> -->
                        <div package-card package="package" master-collections="collections">
                        </div>
                      </div>
                    </slick>
                  </div>










                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--ng-repeat="package in user_packages.data"-->

      <div ng-if="portfolios.length>0" class="row">
        <div class="col-md-12 p-r-0">
          <div class="card">
            <h2 class="m-t-5">{{profile.name}} Portfolio</h2>
            <div class="row">
              <div ng-repeat="portfolio in portfolios" class="col-md-4">
                <div class="panel panel-transparent">
                  <div class="panel-content">
                    <div class="portfolioContainer grid">
                      <figure class="effect-sarah my-portfolio">
                        <img src="../global/images/gallery/13.jpg" alt="img13"/>
                        <figcaption>
                          <h2>{{portfolio.type}} <span></span></h2>
                          <p>{{portfolio.description}}</p>
                        </figcaption>
                      </figure>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>



    <!--<div class="col-md-3">-->
    <!--<div class="card">-->
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<h4 class="text-center">No. of packages</h4>-->
    <!--<p class="text-center"><strong>{{other_user_packages.data.length}}</strong></p>-->
    <!--<hr class="custom-hr">-->

    <!--</div>-->

    <!--</div>-->


    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<h4 class="text-center">Skills</h4>-->
    <!--<p ng-if="profile.skills.length>0" class="text-center"><strong ng-repeat="s in profile.skills">{{s.text}},</strong></p>-->
    <!--<p class="text-center"><strong ng-if="profile.skills.length<=0" >NA</strong></p>-->
    <!--<hr class="custom-hr">-->
    <!--</div>-->

    <!--</div>-->



    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<h4 class="text-center">Location</h4>-->
    <!--<p class="text-center"><strong >NA</strong></p>-->
    <!--<hr class="custom-hr">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<h4 class="text-center">Rating</h4>-->
    <!--<p class="text-center"><strong >NA</strong></p>-->
    <!--<hr class="custom-hr">-->




    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <div class="col-md-4">
      <div class="card p-b-0 p-t-0">
        <!--<div class="row border-bottom">-->
          <!--<div class="col-xs-6 p-r-0">-->
            <!--<p class="f-16 text-muted-z w-500"><i class="fa fa-briefcase"></i>&nbsp;Projects Completed</p>-->

          <!--</div>-->

          <!--<div class="col-xs-6">-->
            <!--<p class="pull-right w-500 f-18">{{other_user_packages.data.length}}</p>-->

          <!--</div>-->


        <!--</div>-->




        <div class="row border-bottom">
          <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-map-marker"></i>&nbsp;Location</p>

          </div>

          <div class="col-xs-6">
            <p class="pull-right w-500 f-18" ng-if="profile.city=='' ">N/A</p>
            <p ng-hide="profile.city==''" class="text-center pull-right"><strong>{{profile.city}}</strong></p>
          </div>


        </div>



        <div class="row border-bottom">
          <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-star"></i>&nbsp;Ratings</p>

          </div>

          <div class="col-xs-6">
            <p class="pull-right w-500 f-18">No Ratings</p>

          </div>


        </div>


        <div class="row border-bottom">
          <div class="col-xs-6 p-r-0">
            <p class="f-16 text-muted-z w-500"><i class="fa fa-signal"></i>&nbsp;Skills</p>

          </div>

          <div class="col-xs-6">
            <p class="pull-right w-500 f-18" ng-if="profile.skills.length<=0">N/A</p>
            <p ng-if="profile.skills.length>0" class="text-center pull-right"><strong ng-repeat="s in profile.skills"><span ng-if="$index!=0">,</span>{{s.text}}</strong></p>

          </div>


        </div>



      </div>
    </div>




  </div>
</div>



<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
      <span>Zolo Technologies Pvt. Ltd.</span>.
      <span>All rights reserved. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About Us</a> | <a ng-href="/contact" class="m-l-10 m-r-10">Contact Us</a> | <a ng-href="/terms-of-use" class="m-l-10 m-r-10">Terms of Use</a> | <a ng-href="/privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="/order-cancellation-policy" class="m-l-10">Cancellation</a> | <a ng-href="/returns-refunds" class="m-l-10">Refunds</a>  </span>
    </p>
  </div>
</div>
