<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @media screen and  (max-width: 600px) {
    .l-m{
      max-width: 100%!important;
      height: 100%!important;

    }
    .zolo-login-facebook{
      font-size: 12px !important;
      padding: 10px!important;

    }

    .zolo-login-google-plus{
      font-size: 12px!important;
      padding: 10px!important;
    }



    .login-m{
      height: 100%!important;
    }
    .signup-m{
      height: 100%!important;
    }

    /*.md-block{*/
      /*margin: 0!important;*/
    /*}*/

    /*.md-block .zolo-btn{*/
      /*margin-top: -21px;*/
    /*}*/






  }
</style>


<md-dialog class="m-t-40" aria-label="Login (signup)">

  <md-dialog-content class="login-m" style="max-width:800px;height:500px; overflow-y: scroll;">
    <div class="l-m ">
      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
        <md-tab label="Login" >
          <md-content layout-padding>
            <!--  <h1 class="md-display-2"></h1> -->
            <form name="login" ng-submit="zLogin()" novalidate >
              <div class="row">

                <div class="col-md-6 col-xs-12 m-t-5 m-r-60 ">

                  <div class="form-group m-b-5">

                    <!-- <div class="form-control-wrapper">
                       <input type="email" name="email" ng-change="validation.email = false" ng-model="email" class="form-control empty" required><div class="floating-label">Email</div><span class="material-input"></span>
                       <div ng-show="validation.email" class="text-danger">Invalid Email</div>
                       <!--<div ng-messages="login.email.$invalid">
                         <div ng-message="required">This is required!</div>
                       </div>
                          </div> -->

                    <md-input-container class="md-block">
                      <label>Email</label>
                      <div class="append-icon">
                        <input name="email" type="email" ng-model="email" maxlength="50" required ng-pattern="/^.+@.+\..+$/">
                        <i class="icon-envelope"></i>
                      </div>
                      <div ng-messages="login.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Enter valid email id</div>
                        <!-- <div ng-show="md-maxlength">maximum 10 character</div>&ndash;&gt;-->
                      </div>
                    </md-input-container>
                  </div>





                  <div class="form-group m-b-5">
                    <!-- <div class="form-control-wrapper append-icon"><input type="password" ng-change="validation.password=false" ng-model="password" class="form-control empty" required maxlength="10"><i class="mdi-action-visibility show-password" ng-click="showpassword = !showpassword"></i><div class="floating-label">Password</div><span class="material-input"></span></div>
                     <div ng-show="validation.password" class="text-danger">Password is required | Max 10 char</div>-->
                    <md-input-container class="md-block">
                      <label>Password</label>
                      <div class="append-icon">
                        <input name="password" type="password" ng-model="password"  required>
                        <i class="icon-lock"></i>
                      </div>
                      <div ng-messages="login.password.$error" role="alert">
                        <div ng-message-exp="['required']">Please enter password</div>
                        <!--    <div ng-show="md-maxlength">maximum 10 character</div>-->
                      </div>
                    </md-input-container>
                  </div>




                  <button type="submit" ng-disabled="disabled" class="btn btn-lg zolo-btn" style="width: 100%; ">Login&nbsp;&nbsp;<span><i ng-style="myStyle" class="fa fa-spinner fa-spin"></i> </span></button>
                  <!--<button ladda-button="disabled" type="submit" class="btn btn-lg zolo-btn ladda-button" style="width: 100%; " data-style="zoom-in"><span class="ladda-label">Login</span></button>-->
                  <div class="f-10 ">By Logging in you agree to our <span class="zolo-c"><a ng-href="/terms-of-use" target="_blank"> T&C</a></span> and <span class="zolo-c"><a ng-href="/privacy-policy" target="_blank">Privacy Policy.</a></span></div>


                  <div class="row m-t-40">
                    <div class="col-md-12 text-center">
                      <a href="" ng-click="forgotPassword()" class="f-18 zolo-c">Forgot Password ?</a>
                      <hr class="custom-hr">
                    </div>
                  </div>




                </div>

                <div class="col-md-5 col-xs-12 m-t-40">
                  <button type="button" ng-click="authenticate('facebook')" class="btn-fb btn btn-lg btn-block btn-square zolo-login-facebook" style="text-transform: capitalize;"><i class="fa fa-facebook pull-left"></i>Login with Facebook</button>

                  <button type="button" ng-click="authenticate('google')" class="btn btn-lg btn-block btn-square zolo-login-google-plus" style="text-transform: capitalize;"><i class="fa fa-google-plus pull-left"></i>Login with google+</button>


                  <div class="row m-t-40">
                    <div class="col-md-12 ">
                      <p class="text-center">New User ? <a href="" ng-click="selectedIndex=1" class="zolo-c">Signup Here</a></p>
                    </div>
                  </div>



                </div>





              </div>
            </form>

          </md-content>
        </md-tab>


        <md-tab label="Signup" class="signup-m">
          <md-content layout-padding style="overflow-x: hidden;">
            <div ng-hide="sign_up_successful" class="row">
              <form name="signup" ng-submit="userRegistration1()" novalidate>
                <div class="col-md-6 col-xs-12 m-t-5 m-r-60 ">

                  <div class="form-group m-b-4">

                    <!-- <div class="form-control-wrapper"><input type="text" class="form-control empty" ng-change="validation.name=false" ng-model="registration.name" required maxlength="50"><div class="floating-label">First Name</div><span class="material-input"></span></div>
                     <div ng-show="validation.name" class="text-danger">Name is required | max 50 character</div>
                   </div> -->


                    <md-input-container class="md-block">
                      <label>Name</label>
                      <div class="append-icon">
                        <input name="name" type="text" ng-model="registration.name" ng-change="validation.name=false" minlength="2" maxlength="50" required ng-pattern="/^[a-zA-Z\s]+$/">
                        <i class="icon-user"></i>
                      </div>
                      <div ng-messages="signup.name.$error" role="alert">
                        <div ng-message-exp="['required','maxlength','minlength']">Name is required</div>
                        <div ng-message-exp="['pattern']">Enter only characters(a-z)</div>
                        <!--    <div ng-show="md-maxlength">maximum 10 character</div>-->
                      </div>
                    </md-input-container>
                  </div>


                  <div class="form-group m-b-4">
                    <!--<div class="form-control-wrapper"><input type="email" class="form-control empty" ng-change="validation.email=false" ng-model="registration.email" required><div class="floating-label">Email</div><span class="material-input"></span></div>
                    <div ng-show="validation.email" class="text-danger">Email is required </div>
                  </div> -->


                    <md-input-container class="md-block">
                      <label>Email</label>
                      <div class="append-icon">
                        <input name="email" type="email" ng-change="validation.email=false" ng-model="registration.email" maxlength="50" required ng-pattern="/^.+@.+\..+$/">
                        <i class="icon-envelope"></i>
                      </div>
                      <div ng-messages="signup.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Enter valid email id</div>
                        <!-- <div ng-show="md-maxlength">maximum 10 character</div>&ndash;&gt;-->
                      </div>
                    </md-input-container>
                  </div>




                  <div class="form-group m-b-4">
                    <!-- <div class="form-control-wrapper append-icon"><input type="password" class="form-control empty" ng-change="validation.password=false" ng-model="registration.password" required><i class="mdi-action-visibility show-password" ng-click="showpassword = !showpassword"></i><div class="floating-label">Password</div><span class="material-input"></span></div>
                     <div ng-show="validation.password" class="text-danger">Password is required | min 6 max 10 char</div>
                   </div> -->


                    <md-input-container class="md-block">
                      <label>Password</label>
                      <div class="append-icon">
                        <input name="password" type="{{showpassword?'text':'password'}}" ng-model="registration.password" minlength="6" maxlength="16" ng-change="validation.password=false"  required>
                        <i class="fa fa-eye" ng-click="showpassword = !showpassword" style="cursor: pointer;"></i>
                      </div>
                      <div ng-messages="signup.password.$error" role="alert">
                        <div ng-message-exp="['required','minlength','maxlength']">Password length range 6-16</div>
                        <!--    <div ng-show="md-maxlength">maximum 10 character</div>-->
                      </div>
                    </md-input-container>
                  </div>







                  <div class="form-group">
                    <!--  <div class="form-control-wrapper"><input type="number" class="form-control empty" ng-change="validation.mobile=false" ng-model="registration.mobile" required><div class="floating-label">Mobile Number</div><span class="material-input"></span></div>
                      <div ng-show="validation.mobile" class="text-danger">Mobile Number is required</div>
                    </div> -->



                    <md-input-container class="md-block" style="margin-bottom: 0px!important;">
                      <label>Mobile Number</label>
                      <div class="append-icon">
                        <input name="mobile" type="number" ng-model="registration.mobile" ng-change="validation.mobile=false" ng-pattern="/(1|2|3|4|5|6|7|8|9)\d{9}/" maxlength="10" minlength="10" required>
                        <i class="icon-screen-smartphone"></i>
                      </div>
                      <div ng-messages="signup.mobile.$error" role="alert">
                        <div ng-message-exp="['required','maxlength','minlength','pattern']">Enter valid 10 digit mobile number</div>
                        <!--    <div ng-show="md-maxlength">maximum 10 character</div>-->
                      </div>
                    </md-input-container>
                  </div>








                  <button ng-disabled="disabled" class="btn btn-lg zolo-btn" type="submit" style="width: 100%; margin-bottom: 5px!important;">Signup&nbsp;&nbsp;<span><i ng-style="myStyle" class="fa fa-spinner fa-spin"></i> </span></button>

                </div>

              </form>



              <div class="col-md-5 col-xs-12 m-t-60">

                <button type="button" ng-click="authenticate('facebook')" class="btn-fb btn btn-lg btn-block btn-square zolo-login-facebook" style="text-transform: capitalize;"><i class="fa fa-facebook pull-left"></i>Login with Facebook</button>

                <button type="button" ng-click="authenticate('google')" class="btn btn-lg btn-block btn-square zolo-login-google-plus" style="text-transform: capitalize;"><i class="fa fa-google-plus pull-left"></i>Login with google+</button>

                <div class="row m-t-40">
                  <div class="col-md-12 ">
                    <p class="text-center">Already Member ? <a ng-click="selectedIndex='0'" href="" class="zolo-c">Login Here</a></p>
                  </div>
                </div>

              </div>




            </div>
            <div ng-show="sign_up_successful" class="row">
              <div class="col-md-12 text-center m-t-60">
                <div layout="row" layout-sm="column" layout-align="space-around">
                  <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular> </div>
                <div class="row text-center">
                  <p class="text-center"> Sign Up successful . Loggin you in !</p>
                  <p class="f-18 text-zolo text-center"> Welcome to Zolo </p>
                </div>

              </div>
            </div>
          </md-content>
        </md-tab>

        <!--</md-tab>-->


      </md-tabs>
    </div>
  </md-dialog-content>
</md-dialog>
