<style>

  .main-content .page-content{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    top:10px;

  }

  .zolo-login-form-main-content{
    background-image: url(../../../global/images/bg-jpg-prog.jpg) !important;
    background-size: contain !important;
  }

  .sidebar-top.fixed-topbar .main-content .page-content{
    top: 30px;

  }

  .main-content .page-content .panel{
    background: rgba(16, 16, 16, 0.57);
  }

  a{
    font-weight: 400;
    font-size: 18px;
  }

  input.form-control.form-error{
    font-weight: 800 !important;
  }


</style>


<div class="page-content zolo-login-form-main-content" style="background: url('../global/images/fashion-designer.jpg'); height: 100vh;">
  <!--    <img src="../../../global/images/fashion-designer.jpg">-->
  <div class="col-md-8  col-md-offset-2 portlets">
    <div class="panel">
      <div class="panel-header md-panel-controls">
        <h2 class="text-center"><strong style="color: #fff;">Sign up</strong></h2>
        <hr class="custom-hr">

      </div>
      <div class="panel-content">
        <div class="row">
          <div class="col-md-6 col-sm-12">

            <form role="form" ng-submit="userRegistration()" class="form-validation" novalidate>
              <div class="form-group">
                <label class="control-label" style="color: #fff;">First Name</label>
                <div class="append-icon">
                  <input type="text" name="name" ng-model="registration.name" class="form-control" minlength="3" placeholder="Minimum 3 characters..." required  style="color: #fff;font-weight: 400;">
                  <i class="icon-user"></i>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" style="color: #fff;">Email Address</label>
                <div class="append-icon">
                  <input type="email" name="email" ng-model="registration.email" class="form-control" placeholder="Enter your email..." required  style="color: #fff;font-weight: 400;">
                  <i class="icon-envelope"></i>
                </div>
              </div>

              <div class="form-group m-b-30">
                <label class="control-label" style="color: #fff;">Password</label>
                <div class="append-icon">
                  <input type="{{showpassword ? 'text' : 'password'}}" name="password" id="password" ng-model="registration.password" class="form-control" placeholder="Between 6 and 16 characters" minlength="6" maxlength="16" required style="color: #fff;font-weight: 400;">
                  <i class="mdi-action-visibility show-password" ng-click="showpassword = !showpassword"></i>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label" style="color: #fff;">Mobile Number</label>
                <div class="append-icon">
                  <input type="number" name="mobile" ng-model="registration.mobile" class="form-control" placeholder="Mobile Number..." minlength="10" required  style="color: #fff;font-weight: 400;">
                  <i class="icon-screen-smartphone"></i>
                </div>
              </div>

              <div class="form-group m-b-30 text-center">
                <!--<button type="submit" class="btn zolo-login-submit_btn" >Sign up</button>-->
                <button type="submit" class="btn zolo-login-submit_btn ladda-button" data-style="zoom-in"><span class="ladda-label">Sign Up</span><span class="ladda-spinner"></span><div class="ripple-wrapper"></div></button>
              </div>
            </form>
            <!--ng-disabled="registration.name.$invalid && registration.name.$dirty || registration.email.$invalid && registration.email.$dirty ||-->
            <!--registration.password.$invalid && registration.password.$dirty || registration.mobile.$invalid && registration.mobile.$dirty"-->

            <!--<h2 class="background"><span>or</span></h2>-->



          </div>


          <div class="col-md-6 col-sm-12" style="padding-top: 24px;">
            <div class="form-group m-b-30 text-center">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button type="button" ng-click="authenticate('facebook')" class="btn-fb btn btn-lg btn-block btn-square zolo-login-facebook" style="text-transform: capitalize;"><i class="fa fa-facebook pull-left"></i>Sign up with Facebook</button>
                </div>

                <div class="col-lg-12 text-center">
                  <button type="button" ng-click="authenticate('google')" class="btn btn-lg btn-block btn-square zolo-login-google-plus" style="text-transform: capitalize;"><i class="fa fa-google-plus pull-left"></i>Sign up with google+</button>
                </div>

              </div>
            </div>

            <div class="form-group m-b-30 ">
              <div class="row">
                <div class="col-md-12 ">
                  <p class="text-center" style="color: #fff;">Already Member ? <a href="#login">Login Here</a></p>
                </div>
              </div>

            </div>



          </div>









        </div>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <div class="copyright">
    <p class="pull-left sm-pull-reset">
      <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
      <span>Zolo Technologies Pvt. Ltd.</span>.
      <span>All rights reserved. </span>
    </p>
    <p class="pull-right sm-pull-reset">
      <span><a ng-href="http://www.gozolo.in" class="m-r-10" target="_blank">About us</a> | <a ng-href="#" class="m-r-10">FAQ</a> | <a ng-href="#terms-of-use" class="m-l-10 m-r-10">Terms of use</a> | <a href="#privacy-policy" class="m-l-10">Privacy Policy</a></span>
    </p>
  </div>
</div>
