
<style>
  .select2-drop-active {
    z-index: 2;
  }

  .display-packages .page-profil .profil-content{
    padding: 0 20px;
    margin-right: 20px;
  }


</style>


<!--<Tag Name> services/products | Hire professionals & freelancers on Zolo-->
<update-title title="{{tagname| capitalizeFirst}} services/products | Hire professionals & freelancers on Zolo"></update-title>
<update-meta name="description" content="{{tagname| capitalizeFirst}} services/products on Zolo, Hire from thousands of Professionals & Freelancers, pick from thousands of Pre-Packaged services & products at any budget."></update-meta>



<div class="container" style="margin-bottom: 200px;">


<!--  <div class="row">
    <div class="col-md-12">
      <div class="cover-img" style="background: url('{{profile.banner || '../global/images/bg.jpg'}}') center no-repeat; background-size:cover; ">
        {{tagname}}
      </div>
    </div>
  </div>-->
  <div class="display-packages">


    <div class="row">

      <div class="col-md-12">

        <div ng-hide="loading" ng-if="packages.length<=0" class="row">
          <div class="col-md-12 zolo-center">
            <!-- Search icon by Icons8 -->
            <img class="img-responsive p-10" src="images/not_found_package.03bec0f7.png" height="auto" width="100%">

            <p class="f-24 zolo-center"> We did not find any package in this tag ! </p>
            <!--<p class="f-18 zolo-center">Please use some different keywords. </p>-->
          </div>

        </div>

        <div ng-hide="loading" ng-if="packages.length>0" class="row">
          <div ng-repeat="row in package_rows" class="row">
            <div ng-repeat="package in row" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
              <div package-card package="package" master-collections="collections" ng-init="package.shareTab=false">
              </div>
            </div>
          </div>

        </div>
        <div ng-show="loading" class="row">
          <div class="col-md-12 text-center m-t-60">
            <div layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
        <span>Zolo Technologies Pvt. Ltd.</span>.
        <span>All rights reserved. </span>
      </p>
      <p class="pull-right sm-pull-reset">
        <span><a ng-href="http://www.imzolo.com/aboutus" class="m-r-10" target="_blank">About us</a> | <a ng-href="/contact/" class="m-l-10 m-r-10">Contact us</a> |<a ng-href="/terms-of-use/" class="m-l-10 m-r-10">Terms of use</a> | <a href="/privacy-policy/" class="m-l-10">Privacy Policy</a></span>
      </p>
    </div>
  </div>









