<style>

  .main-content .page-content{
    padding-left: 0!important;
    padding-right: 0!important;

    top: 0!important;
  }

  .team-bg {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    float: left;
  }

  .top h2 {
    color: white;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-content{
    padding-bottom: 0px !important;
    padding-top: 5px !important;
    text-align: center;
  }

  .card-image img{
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transform-style: preserve-3d;
  }

  .card-image img:hover{
    transform: rotateY(180deg);
  }

  .b-s-img{
    border:3px solid #fff;
    transition: border 0.3s;

  }

  .b-s-img:hover{
    border: 3px solid #78588c;
  }
</style>



<div class="team-bg">
  <div class="row">
    <!--<img src="../global/images/s-w2.jpg" alt="" class="bg-primary" width="100%">-->
    <!--<img src="../global/images/s-m2.jpg" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">-->

    <div class="bg-img top">
      <h2 class="f-36 fadeIn animated">About Zolo </h2>
    </div>

  </div>
</div>



<div class="container-fluid">

  <div class="row m-b-20">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 m-t-20">
      <h1 class="text-center f-24 l-s-0 m-b-20"><span class="zolo-c">Zolo</span> is India's first marketplace for on-demand talent where you can discover
        thousands of talented people ready to help you get anything done. </h1>

    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <p class="f-20 l-s-05 text-center">Imagine having an army of people with a variety of
        'specialized skills & talent' ready to help you complete your to-do list,
        finish your projects, solve any problem and accomplish your big goals in life.
        Soon Zolo will have over 200,000 independent professionals in over 500+ categories
        across 50 cities in India sharing their talent,
        skills & services with you.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 m-b-20">
      <h2 class="f-20 l-s-05 text-center">Zolo is one of the rare digital companies which is positioning itself for global success by enabling
        freelancers from all walks of life to build a business around their passion. </h2>

    </div>
  </div>


  <div class="card">
    <div class="row ">
      <div class="col-md-12">
        <h2 class="text-center m-t-0 l-s-0">Advisory Board</h2>
        <hr class="custom-hr">
      </div>
    </div>




    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <img src="../global/images/artist.png" alt="" class="img-responsive img-circle b-s-img">
        <p class="text-center f-18 m-b-0 zolo-c">Person 1</p>
        <p class="text-center f-14 m-0">Designation1</p>

      </div>

      <div class="col-md-2">
        <img src="../global/images/artist.png" alt="" class="img-responsive img-circle b-s-img">
        <p class="text-center f-18 m-b-0 zolo-c">Person 1</p>
        <p class="text-center f-14 m-0">Designation1</p>

      </div>

      <div class="col-md-2">
        <img src="../global/images/artist.png" alt="" class="img-responsive img-circle b-s-img">
        <p class="text-center f-18 m-b-0 zolo-c">Person 1</p>
        <p class="text-center f-14 m-0">Designation1</p>

      </div>

      <div class="col-md-2">
        <img src="../global/images/artist.png" alt="" class="img-responsive img-circle b-s-img">
        <p class="text-center f-18 m-b-0 zolo-c">Person 1</p>
        <p class="text-center f-14 m-0">Designation1</p>

      </div>

      <div class="col-md-2">
        <img src="../global/images/artist.png" alt="" class="img-responsive img-circle b-s-img">
        <p class="text-center f-18 m-b-0 zolo-c">Person 1</p>
        <p class="text-center f-14 m-0">Designation1</p>

      </div>


    </div>


  </div>




  <div class="row  p-t-10">

    <h2 class="text-center m-t-5 fadeIn animated">Our Team</h2>

    <hr class="custom-hr">


    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="http://bit.ly/1VRIlt0">

        </div>
        <div class="card-content">
          <p class="text-center w-600 zolo-c f-20 m-t-10">Manish</p>
          <p class="text-center m-b-10 text-muted-z">Founder</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="http://bit.ly/1VRIlt0">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="http://bit.ly/1TPiUoH">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="http://bit.ly/1TPiUoH">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium card-shadow-0 border p-0">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card medium">
        <div class="card-image">
          <img src="">

        </div>
        <div class="card-content">
          <p>This is title</p>
        </div>
      </div>
    </div>

  </div>









</div>
