<style>
  .main-content .page-content{
    padding-left: 0!important;
    padding-right: 0!important;
    top: 0!important;
  }

  .team-bg {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    background-size: cover;
    width: 100%;
    height: 450px;
    position: relative;
    float: left;
  }
  .widget_slider{
    padding: 20px 0 0;
    margin-bottom: 0;
  }
  .widget_slider{
    padding: 0;
  }
  .slick-slider {
    margin-bottom: 10px;
  }

  .slide .bg-primary{
    height: auto;
  }

  .slick-dots{
    bottom:  -1px!important;
  }



  .slick-prev {
    left: 15px;
    z-index: 2;
  }
  .slick-prev:hover{
    opacity: 0.7;
  }

  .slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 45px;
    line-height: 1;
    color: #313131;
    opacity: 0.3;
    color: #FF0072 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }

  .slick-next {
    right: 40px;
    z-index: 2;
  }

  .slick-next:hover{
    opacity: 0.7;
  }


</style>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">

<div class="widget widget_slider">
  <div class="slick" data-fade="true">

    <style>
      .slide{
        width: 100%;
      }
    </style>

<div class="slide">
  <!--<h3 class="bg-primary">1</h3>-->
  <a  ng-href="/category/wedding-special/wedding-cakes">
    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CAKE+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CAKES.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
  </a>
</div>

<div class="slide">
  <!--<h3 class="bg-primary">1</h3>-->
  <a  ng-href="">
    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CAR+RENTALS+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CARRENTALS.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
  </a>
</div>

<div class="slide">
  <!--<h3 class="bg-primary">1</h3>-->
  <a  ng-href="/category/wedding-special/wedding-catering">
    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CATERERS+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CATERERS.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
  </a>
</div>

<div class="slide">
  <!--<h3 class="bg-primary">1</h3>-->
  <a  ng-href="/category/wedding-special/wedding-choreographers">
    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CHOREOGRAPHERS+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

    <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/CHOREOGRAPHERS.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
  </a>
</div>

    <div class="slide">
      <!--<h3 class="bg-primary">1</h3>-->
      <a  ng-href="/category/wedding-special/dj-and-live-music">
        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/DJS+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/DJS.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
      </a>
    </div>

    <div class="slide">
      <!--<h3 class="bg-primary">1</h3>-->
      <a  ng-href="/category/wedding-special/bridal-and-hair">
        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/MAKEUP+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/MAKEUP.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
      </a>
    </div>
    <div class="slide">
      <!--<h3 class="bg-primary">1</h3>-->
      <a  ng-href="/category/wedding-special/mehndi-artists">
        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/MEHNDI+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/MEHNDI.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
      </a>
    </div>
    <div class="slide">
      <!--<h3 class="bg-primary">1</h3>-->
      <a  ng-href="/category/wedding-special/wedding-photography">
        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/PHOTOGRAPHER+WEB.png" alt="" class="bg-primary hidden-xs" width="100%">

        <img src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/weddingbanners/PHOTOGRAPHER.png" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">
      </a>
    </div>


    </div>
  </div>
    </div>
  </div>


<!--<div class="team-bg">-->
  <!--<div class="row">-->
    <!--&lt;!&ndash;<img src="../global/images/s-w2.jpg" alt="" class="bg-primary" width="100%">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../global/images/s-m2.jpg" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">&ndash;&gt;-->

    <!--<div class="bg-img top">-->
      <!--<h2 class="f-36 fadeIn animated">Your Wedding, Your Way </h2>-->
      <!--<p class="m-10 second-para">Find the best wedding vendors with thousands of trusted reviews</p>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->


<div class="container-fluid">
  <div class="card p-20">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Find The Perfect Look</h2>
        <p class="m-10 text-center text-c w-400">Choose from thousands of <span class="zolo-c">packages</span> for decor, outfits, jewellery and more to make your big day as perfect as you want.</p>
      </div>
    </div>


    <div class="row m-t-20 brightness">
      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">
          <a href="category/wedding-special/bridal-and-hair">
          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/WEDDING+MAKEUP.jpg" width="100%" height="320" alt="" class="">
            <figcaption>Hair&nbsp;&&nbsp;Makeup</figcaption>
          </figure>
            </a>
        </div>

      </div>

      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">
          <a href="category/wedding-special/wedding-photography"> <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/WEDDING+PHOTOGRAPHY.jpg" width="100%" height="320" alt="" class="">
            <figcaption>Wedding&nbsp;Photography</figcaption>

          </figure></a>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">
          <a href="category/wedding-special/mehndi-artists">
          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/MEHNDI.jpg" width="100%" height="320" alt="" >
            <figcaption>Mehandi&nbsp;Artists</figcaption>

          </figure>
            </a>
        </div>
      </div>



    </div>


    <div class="row m-t-20 brightness">
      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20 ">
        <div class="wed-cat">
          <a href="category/wedding-special/wedding-choreographers">
          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/WEDDING+CHOREOGRAPHY.jpg" width="100%" height="320" alt="" class="">
            <figcaption>Wedding&nbsp;Choreographers</figcaption>

          </figure>
            </a>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">
          <a href="category/wedding-special/dhol-and-bands">
          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/DHOL.jpg" width="100%" height="320" alt="" class="">
            <figcaption>Dhol&nbsp;&amp;&nbsp;Bands</figcaption>

          </figure>
            </a>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">

          <a href="category/wedding-special/dj-and-live-music">
          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/DJ1.jpg" width="100%" height="320" alt="" class="">
            <figcaption>DJ&nbsp;&&nbsp;Live&nbsp;Music</figcaption>

          </figure>
            </a>
        </div>
      </div>



    </div>


    <div class="row m-t-20 brightness">
      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">

          <a href="category/wedding-special/wedding-catering">
          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/CATERER.jpg" width="100%" height="320" alt="" class="">
            <figcaption>Wedding&nbsp;Catering</figcaption>

          </figure>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">
          <a href="category/wedding-special/wedding-cakes">
          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/WEDDING+CAKES.jpg" width="100%" height="320" alt="" class="">
            <figcaption>Wedding&nbsp;Cakes</figcaption>

          </figure>
            </a>
        </div>
      </div>

      <div class="col-md-4 col-xs-12 col-sm-6 m-t-20">
        <div class="wed-cat">

          <a href="category/wedding-special/decor">

          <figure>
            <img preload-image default-image="../global/images/preloadergif.gif" ng-src="https://s3-ap-southeast-1.amazonaws.com/zolo/zolo_category_images/WEDDING+DECORATIONS.jpg" width="100%" height="320" alt="" class="">
            <figcaption>Decor</figcaption>

          </figure>
            </a>
        </div>
      </div>



    </div>






  </div>
</div>

<div class="card" style="text-align:center; background-color:lightgrey" >Go ZOLO this Wedding Season

  <a ng-href="/category/wedding-special" class="btn zolo-btn " style="text-transform: capitalize;">view all wedding packages</a>
</div>



<!--<div class="team-bg" >-->
  <!--<div class="row">-->
    <!--&lt;!&ndash;<img src="../global/images/s-w2.jpg" alt="" class="bg-primary" width="100%">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../global/images/s-m2.jpg" alt="" class="bg-primary hidden-md hidden-sm hidden-lg" width="100%">&ndash;&gt;-->

    <!--<div class="bg-img top">-->
      <!--<h2 class="f-36 fadeIn animated">Your Wedding, Your Way </h2>-->
      <!--<p class="m-10 second-para">Find the best wedding vendors with thousands of trusted reviews</p>-->
      <!--<button class=" browse-m btn-success btn">Browse more</button>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->



<!--<div class="footer">-->
  <!--<div class="copyright">-->
    <!--<p class="pull-left sm-pull-reset">-->
      <!--<span>Copyright <span class="copyright">&copy;</span> 2016 </span>-->
      <!--<span>Zolo Technologies Pvt. Ltd.</span>.-->
      <!--<span>All rights reserved. </span>-->
    <!--</p>-->
    <!--<p class="pull-right sm-pull-reset">-->
      <!--<span><a ng-href="/about-zolo" class="m-r-10">About Zolo</a> | <a ng-href="#contact" class="m-l-10 m-r-10">Contact us</a> | <a ng-href="#terms-of-use" class="m-l-10 m-r-10">Terms of use</a> | <a ng-href="#privacy-policy" class="m-l-10">Privacy Policy</a> | <a ng-href="#order-cancellation-policy" class="m-l-10">Cancellation Policy</a> | <a ng-href="#returns-refunds" class="m-l-10">Refunds Policy</a>  </span>-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->



